<div flex layout="column" layout-align="start stretch" ng-show="!ag.load">

  <!-- Headline -->
  <div layout="column" layout-padding>
    <span class="font-size-18">
      <i class="fa fa-fw fa-tv" aria-hidden="true"></i> Agent overview</span>
  </div>
  <!-- End headline -->

  <!-- Agent information section -->
  <div layout="row" layout-padding class="wz-padding-top-0 wz-padding-bottom-0">
    <md-card flex class="wz-metric-color wz-md-card wz-no-padding">
      <md-card-content layout="row" class="wz-padding-metric">
        <div class="wz-text-truncatable" flex>
          Name:
          <span class="wz-text-bold">{{ ag.agent.name }}</span>
          <md-tooltip ng-if="ag.agent.name.length > 25" md-direction="bottom" class="wz-tooltip">
            Full name: {{ ag.agent.name }}
          </md-tooltip>
        </div>
        <div class="wz-text-truncatable" flex>
          IP:
          <span class="wz-text-bold">{{ ag.agent.ip }}</span>
        </div>
        <div class="wz-text-truncatable" flex ng-if="ag.agent.group">
          Group:
          <span class="wz-text-bold wz-text-link" ng-click="goGroups(agent)">{{ ag.agent.group }}</span>
        </div>
        <div class="wz-text-truncatable" flex ng-if="ag.agent.version">
          Version:
          <span class="wz-text-bold">{{ ag.agent.version }}</span>
        </div>
        <div class="wz-text-truncatable" flex>
          OS:
          <span class="wz-text-bold">{{ ag.agentOS }}</span>
          <md-tooltip ng-if="ag.agentOS.length > 25" md-direction="bottom" class="wz-tooltip">
            Full OS name: {{ ag.agentOS }}
          </md-tooltip>
        </div>
      </md-card-content>
    </md-card>
  </div>
  <div layout="row" layout-padding class="wz-padding-top-0 wz-padding-bottom-0">
    <md-card flex class="wz-metric-color wz-md-card wz-no-padding">
      <md-card-content layout="row" class="wz-padding-metric">
        <div class="wz-text-truncatable" flex>Last keep alive:
          <span class="wz-text-bold"> {{ag.agent.lastKeepAlive || 'Unknown' }}</span>
        </div>
        <div class="wz-text-truncatable" flex>Registration date:
          <span class="wz-text-bold"> {{ag.agent.dateAdd}}</span>
        </div>
        <div class="wz-text-truncatable" flex ng-if="ag.agent.syscheck.inProgress">Last syscheck scan:
          <span class="wz-text-bold"> Scan in progress</span>
        </div>
        <div class="wz-text-truncatable" flex ng-if="!ag.agent.syscheck.inProgress">Last syscheck scan:
          <span class="wz-text-bold"> {{ag.agent.syscheck.end || 'Unknown'}}</span>
          <md-tooltip ng-if="!ag.agent.syscheck.inProgress && ag.agent.syscheck.start && ag.agent.syscheck.end" md-direction="bottom" class="wz-tooltip">
            Start time: {{ ag.agent.syscheck.start || 'Unknown'}}
            <br> End time: {{ ag.agent.syscheck.end || 'Unknown'}}
            <br> Duration time: {{ ag.agent.syscheck.duration +' minutes' || 'Unknown'}}
          </md-tooltip>
        </div>
        <div class="wz-text-truncatable" flex ng-if="ag.agent.rootcheck.inProgress">Last rootcheck scan:
          <span class="wz-text-bold"> Scan in progress</span>
        </div>
        <div class="wz-text-truncatable" flex ng-if="!ag.agent.rootcheck.inProgress">Last rootcheck scan:
          <span class="wz-text-bold"> {{ag.agent.rootcheck.end || 'Unknown'}}</span>
          <md-tooltip ng-if="!ag.agent.rootcheck.inProgress && ag.agent.rootcheck.start && ag.agent.rootcheck.end" md-direction="bottom" class="wz-tooltip">
            Start time: {{ ag.agent.rootcheck.start || 'Unknown'}}
            <br> End time: {{ ag.agent.rootcheck.end || 'Unknown'}}
            <br> Duration time: {{ ag.agent.rootcheck.duration +' minutes' || 'Unknown'}}
          </md-tooltip>
        </div>
      </md-card-content>
    </md-card>
  </div>
  <!-- End agent information section -->


  <div layout="row" layout-padding>
    <div class="euiFlexGroup euiFlexGroup--gutterLarge euiFlexGroup--responsive">
      <div class="euiFlexItem">
        <div class="euiPanel euiPanel--paddingLarge">
          <h3 class="euiTitle">Host monitoring</h3>
          <div class="euiSpacer euiSpacer--m"></div>
          <div class="euiFlexGrid euiFlexGrid--gutterLarge euiFlexGrid--halves">
            <wz-welcome-card class="euiFlexItem" logo="'app_dashboard.svg'" title="'General'" switch-tab="ag.switchTab('general')" current-tab="'general'"
              description="'Explore your alerts.'"></wz-welcome-card>
            <wz-welcome-card class="euiFlexItem" logo="'app_logging.svg'" title="'File integrity'" switch-tab="ag.switchTab('fim')" current-tab="'fim'"
              description="ag.TabDescription.fim.description"></wz-welcome-card>
            <wz-welcome-card class="euiFlexItem" logo="'app_devtools.svg'" title="'Configuration'" switch-tab="ag.switchTab('configuration')"
              current-tab="'configuration'" description="ag.TabDescription.configuration.description"></wz-welcome-card>
            <wz-welcome-card ng-if="syscollector && syscollector.os && syscollector.os.sysname" class="euiFlexItem" logo="'app_index_pattern.svg'"
              title="'Inventory'" switch-tab="ag.switchTab('syscollector')" current-tab="'syscollector'" description="ag.TabDescription.syscollector.description"></wz-welcome-card>
          </div>
        </div>
      </div>
      <div class="euiFlexItem">
        <div class="euiPanel euiPanel--paddingLarge">
          <h3 class="euiTitle">System audit</h3>
          <div class="euiSpacer euiSpacer--m"></div>
          <div class="euiFlexGrid euiFlexGrid--gutterLarge euiFlexGrid--halves">
            <wz-welcome-card class="euiFlexItem" logo="'app_advanced_settings.svg'" title="'Policy monitoring'" switch-tab="ag.switchTab('pm')"
              current-tab="'pm'" description="ag.TabDescription.pm.description"></wz-welcome-card>
            <wz-welcome-card ng-if="extensions.audit" class="euiFlexItem" logo="'app_monitoring.svg'" title="'Audit'" switch-tab="ag.switchTab('audit')"
              current-tab="'audit'" description="ag.TabDescription.audit.description"></wz-welcome-card>
            <wz-welcome-card ng-if="extensions.oscap" class="euiFlexItem" logo="'app_discover.svg'" title="'Open SCAP'" switch-tab="ag.switchTab('oscap')"
              current-tab="'oscap'" description="ag.TabDescription.oscap.description"></wz-welcome-card>
            <wz-welcome-card ng-if="extensions.ciscat" class="euiFlexItem" logo="'app_management.svg'" title="'CIS-CAT'" switch-tab="ag.switchTab('ciscat')"
              current-tab="'ciscat'" description="ag.TabDescription.ciscat.description"></wz-welcome-card>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div layout="row" layout-padding>
    <div class="euiFlexGroup euiFlexGroup--gutterLarge euiFlexGroup--responsive">
      <div class="euiFlexItem">
        <div class="euiFlexItem">
          <div class="euiPanel euiPanel--paddingLarge">
            <h3 class="euiTitle">Security</h3>
            <div class="euiSpacer euiSpacer--m"></div>
            <div class="euiFlexGrid euiFlexGrid--gutterLarge euiFlexGrid--halves">
              <wz-welcome-card class="euiFlexItem" logo="'app_security.svg'" title="'Vulnerabilities'" switch-tab="ag.switchTab('vuls')" current-tab="'vuls'"
                description="ag.TabDescription.vuls.description"></wz-welcome-card>
              <wz-welcome-card ng-if="extensions.virustotal" class="euiFlexItem" logo="'app_saved_objects.svg'" title="'Virustotal'" switch-tab="ag.switchTab('virustotal')"
                current-tab="'virustotal'" description="ag.TabDescription.virustotal.description"></wz-welcome-card>
            </div>
          </div>
        </div>
      </div>
      <div class="euiFlexItem" ng-if="extensions && (extensions.pci || extensions.gdpr)">
        <div class="euiFlexItem">
          <div class="euiPanel euiPanel--paddingLarge">
            <h3 class="euiTitle">Compliance</h3>
            <div class="euiSpacer euiSpacer--m"></div>
            <div class="euiFlexGrid euiFlexGrid--gutterLarge euiFlexGrid--halves">
              <wz-welcome-card ng-if="extensions.pci" class="euiFlexItem" logo="'app_apm.svg'" title="'PCI DSS'" switch-tab="ag.switchTab('pci')"
                current-tab="'pci'" description="ag.TabDescription.pci.description"></wz-welcome-card>
              <wz-welcome-card ng-if="extensions.gdpr" class="euiFlexItem" logo="'app_visualize.svg'" title="'GDPR'" switch-tab="ag.switchTab('gdpr')"
                current-tab="'gdpr'" description="ag.TabDescription.gdpr.description"></wz-welcome-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>