<md-content flex layout="column" layout-align="start">
  <!-- Breadcrumbs -->
  <div layout="row" class="wz-height-35">
    <div class='wz-breadcrumb-margin'>
       <a class="wz-text-link cursor-pointer" ui-sref='agents'>Agents</a>
      <span> / </span>
      <span ng-if="!agent.error" ui-sref='agent-overview({id:agent.id})' class="wz-text-link cursor-pointer">{{agent.name}}
        ({{agent.id}})</span>
      <span ng-if="agent.error">Unknown agent</span>
      <span> / </span>
      <span>Configuration assessment</span>
      <span ng-if="agent.status">
        <span class="wz-agent-status-indicator small" ng-class="getAgentStatusClass(agent.status)" aria-label="Agent status indicator">{{formatAgentStatus(agent.status)}}</span>
      </span>
    </div>
    <div flex></div>
    <!-- Report button -->
    <div style="display:flex; padding-right: 10px;">
        <button ng-if="reportingEnabled" ng-if="reportingEnabled" md-no-ink class="btn wz-button-empty wz-button-report" ng-disabled="loadingVizz || loadingReporting" ng-click="startVis2Png()"
          aria-label="Generate report button">
          <i class="fa fa-fw fa-print" aria-hidden="true"></i>
          <md-tooltip md-direction="left" class="wz-tooltip">
            Generate report
          </md-tooltip>
        </button>
      <wz-discover breadcrumbs="{section: 'Agents', subSection: 'Configuration assessment', agentName: agent.name, agentId: agent.id, ref: 'agents', agentRef: 'agent-overview'}"></wz-discover>
    </div>
    <div style="margin-right:7px;" id='timePicker'></div>
  </div>

  <!-- Loading report-->
  <div align='center' ng-if='loadingReporting'>Generating report<br><i class="fa fa-fw fa-spin fa-spinner" aria-hidden="true"></i></div>

 
  <!-- Auditing and Policy Monitoring navbar -->
  <md-nav-bar class="wz-nav-bar wz-margin-10 no-margin-left" md-selected-nav-item="'sca'">
    <md-nav-item class="wz-nav-item" md-nav-click="stopPropagation()" ui-sref="ag-pm" name="pm">Policy monitoring
    </md-nav-item>
    <md-nav-item class="wz-nav-item" md-nav-click="stopPropagation()" name="sca">SCA</md-nav-item>
    <md-nav-item ng-if="extensions.audit === 'true'" class="wz-nav-item" md-nav-click="stopPropagation()"
      ui-sref="ag-audit" name="audit">System auditing</md-nav-item>
    <md-nav-item ng-if="extensions.oscap === 'true'" class="wz-nav-item" md-nav-click="stopPropagation()"
      ui-sref="ag-os" name="openscap">OpenSCAP</md-nav-item>
    <md-nav-item ng-if="extensions.ciscat === 'true'" class="wz-nav-item" md-nav-click="stopPropagation()"
      ui-sref="ag-ciscat" name="ciscat">CIS-CAT</md-nav-item>
  </md-nav-bar>

  <!-- Wazuh filters bar -->
  <wazuh-bar></wazuh-bar>

  <!-- Alerts visualizations -->
  <div>

    <!-- First row -->
    <div layout="row" layout-align="center stretch" class="height-390">
      <md-card flex="30" class="wz-md-card" ng-class="{'fullscreen': expandArray[0]}">
        <md-card-content class="wazuh-column">
          <span class="wz-headline-title">Results distribution
            <span class="wz-text-link" style="float:right;" ng-click="expand(0,'resultDistribution')"><i class="fa fa-fw fa-expand"></i></span>
          </span>
          <md-divider class="wz-margin-top-10"></md-divider>
          <div id='resultDistribution'></div>
        </md-card-content>
      </md-card>
      <md-card flex="70" class="wz-md-card" ng-class="{'fullscreen': expandArray[1]}">
        <md-card-content class="wazuh-column">
          <span class="wz-headline-title">Results over time
            <span class="wz-text-link" style="float:right;" ng-click="expand(1,'resultsOverTime')"><i class="fa fa-fw fa-expand"></i></span>
          </span>
          <md-divider class="wz-margin-top-10"></md-divider>
          <div id='resultsOverTime'></div>
        </md-card-content>
      </md-card>

    </div>

    <!-- Second row -->
    <div layout="row" layout-align="center stretch" class="height-390">
      <md-card flex="100" class="wz-md-card" ng-class="{'fullscreen': expandArray[2]}">
        <md-card-content class="wazuh-column">
          <span class="wz-headline-title">Alert Level Evolution
            <span class="wz-text-link" style="float:right;" ng-click="expand(2,'alertLevelEvolution')"><i class="fa fa-fw fa-expand"></i></span>
          </span>
          <md-divider class="wz-margin-top-10"></md-divider>
          <div id='alertLevelEvolution'></div>
        </md-card-content>
      </md-card>
      </md-card>

    </div>


  <!-- Policies list -->
    <div layout="row" class="wz-padding-top-0" ng-if="agent && agent.os">
      <md-card flex="" class="wz-md-card _md flex">
        <md-card-content>
          <!--<p ng-if="configAssess.length === 0"></p>No policies configured.</p>-->
          <div layout="column" class="md-padding-h" ng-if="configAssess.length === 0">
              <div class="md-padding text-center">
                  <img class="wz-margin-top-17" ng-src="{{noScansPng}}" style="width: 10%; max-width: 175px;">
                  <h3 class="euiTitle wzEuiTitle wz-margin-bottom-10 wz-margin-top-16">There are no scans
                      available</h3>
              </div>
              <div class="md-padding text-center wz-margin-top-10">
                  <a target="_blank" ng-href="https://documentation.wazuh.com/current/user-manual/registering/index.html">
                      <span>Discover in our documentation what are the configuration assessment scans and how to
                          carry them out.</span>
                      <i class="fa fa-info-circle" aria-hidden="true"></i></a>
              </div>
          </div>
          <table class="table table-condensed table-layout-fixed table-hover table-vertical-align-middle" ng-if="configAssess.length > 0">
            <thead>
              <th>Policy</th>
              <th>Description</th>
              <th>Last scan</th>
              <th>Fail</th>
              <th>Pass</th>
              <th>Score</th>
            </thead>
            <tbody>
              <tr class="wz-word-wrap" ng-repeat="policy in configAssess track by $index">
                <td ng-click="loadPolicyChecks(policy.policy_id, policy.name)" class="wz-text-link cursor-pointer">{{policy.name}}</td>
                <td>{{policy.description}}</td>
                <td>{{policy.end_scan}}</td>
                <td>{{policy.fail}}</td>
                <td>{{policy.pass}}</td>
                <td>{{policy.score}}%</td>
              </tr>
            </tbody>
          </table>
        </md-card-content>
      </md-card>
    </div>
  <!-- End policies list -->
</md-content>