<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <h3>Auth</h3>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Disabled</p>
  <p id='authDisabled'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Purge</p>
  <p id='authPurge'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Force insert</p>
  <p id='authForceInsert'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>SSL verify host</p>
  <p id='authSslVerifyHost'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Limit max agents</p>
  <p id='authLimitMaxAgents'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Force time</p>
  <p id='authForceTime'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>SSL manager key</p>
  <p id='authSslManagerKey'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>SSL manager c  ert</p>
  <p id='authSslManagerCert'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Use source IP</p>
  <p id='authUseSourceIP'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Use password</p>
  <p id='authUsePassword'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Port</p>
  <p id='authPort'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>SSL auto negotiate</p>
  <p id='authSslAutoNegotiate'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Ciphers</p>
  <p id='authCiphers'></p>
</div>