<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <h3 class="wz-headline-title">Global</h3>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>JSON output</p>
  <p id='jsonViewOutput'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Log all</p>
  <p id='logAll'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Log all JSON</p>
  <p id='logAllJson'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>White list</p>
  <p id='whiteList'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Log alert level</p>
  <p id='logViewAlertLevel'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>E-mail notifications</p>
  <p id='emailNotifications'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>E-mail alert level</p>
  <p id='emailAlertLevel'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>E-mail to</p>
  <p id='emailTo'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>E-mail from</p>
  <p id='emailFrom'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>SMTP Server</p>
  <p id='smtpServer'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Max email per hour</p>
  <p id='maxEmailPerHour'></p>
</div>