<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <h3 class="wz-headline-title">Ruleset</h3>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Decoder directories</p>
  <p id='ruleDecoderDirs'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Rules directories</p>
  <p id='ruleRulesDirs'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Rule excludes</p>
  <p id='ruleRuleExcludes'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>CDB Lists</p>
  <p id='ruleCdbLists'></p>
</div>