<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <h3>Syscheck</h3>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Disabled</p>
  <p id='sysDisabled'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Frequency</p>
  <p id='sysFreq'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Auto ignore</p>
  <p id='sysAutoIgnore'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Alert new files</p>
  <p id='sysAlertNewFiles'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Scan on start</p>
  <p id='sysScanOnStart'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>No diff</p>
  <p id='sysNoDiff'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Skip NFS</p>
  <p id='sysSkipNfs'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Monitoring directories</p>
  <p id='sysMonitoringDirectories'></p>
</div>