<md-content flex layout="column" layout-align="end">
  <!-- Breadcrumbs -->
  <div layout="row" class="wz-height-35">
    <div class='wz-breadcrumb-margin'>
      <a class="wz-text-link cursor-pointer" ui-sref='agents'>Agents</a>
      <span> / </span>
      <span ng-if="!agentInfo.error" ui-sref='agent-overview({id:agentInfo.id})'
        class="wz-text-link cursor-pointer">{{agentInfo.name}}
        ({{agentInfo.id}})</span>
      <span ng-if="agentInfo.error">Unknown agent</span>
      <span> / </span>
      <span>General</span>
      <span ng-if="agentInfo.status">
        <span class="no-wrap wz-padding-left-8" aria-hidden="false">
            <wz-svg icon="agent-{{agentInfo.status}}"></wz-svg>
        </span>{{formatAgentStatus(agentInfo.status)}}
      </span>
    </div>
    <div flex></div>
    <!-- Report button -->
    <div style="display:flex; padding-right: 10px;">
      <button ng-if="reportingEnabled" ng-if="reportingEnabled" md-no-ink class="btn wz-button-empty wz-button-report"
        ng-disabled="loadingVizz || loadingReporting" ng-click="startVis2Png()" aria-label="Generate report button">
        <i class="fa fa-fw fa-print" aria-hidden="true"></i>
        <md-tooltip md-direction="bottom" class="wz-tooltip">
          Generate report
        </md-tooltip>
      </button>
      <wz-discover
        breadcrumbs="{section: 'Agents', subSection: 'General', agentName: agentInfo.name, agentId: agentInfo.id, ref: 'agents', agentRef: 'agent-overview'}">
      </wz-discover>
    </div>
    <div style="margin-right:7px;" id='timePicker'></div>
  </div>

  <!-- Loading report-->
  <div align='center' ng-if='loadingReporting'>{{reportStatus}}<br><i class="fa fa-fw fa-spin fa-spinner"
      aria-hidden="true"></i></div>

  <!-- Security information management navbar -->
  <md-nav-bar class="wz-nav-bar wz-margin-10 no-margin-left" md-selected-nav-item="'general'">
    <md-nav-item class="wz-nav-item" md-nav-click="stopPropagation()" name="general">Security events</md-nav-item>
    <md-nav-item class="wz-nav-item" md-nav-click="stopPropagation()" ui-sref="ag-fim" name="fim">Integrity monitoring
    </md-nav-item>
    <md-nav-item class="wz-nav-item" md-nav-click="stopPropagation()" ui-sref="ag-inventory" name="inventory">Inventory
      data</md-nav-item>
  </md-nav-bar>


  <div>
    <!-- Filter bar -->
    <wazuh-bar></wazuh-bar>

    <div ng-show="loadingVizz">
      <div align='center'>
        Fetching data...<br></b><i class="fa fa-fw fa-spin fa-spinner" aria-hidden="true"></i>
      </div>
    </div>
    <div ng-show="!loadingVizz">
      <!-- metrics row -->
      <wz-alert-metrics total-alerts="totalAlerts" level-twelve="levelTwelve" auth-failure="authFailure" auth-success="authSuccess"></wz-alert-metrics>

      <div id="row1" layout="row">
        <!-- first row - first vis - Alert level evolution -->
        <md-card flex="50" class="wz-md-card" ng-class="{'fullscreen': expandArray[3]}">
          <md-card-content class="wazuh-column">
            <span class="wz-headline-title">Alert groups evolution
              <span class="wz-text-link" style="float:right;" ng-click="expand(3,'alertGroupEvoVizz')">
                <wz-svg icon="expand"></wz-svg>
              </span>
            </span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <div id='alertGroupEvoVizz'></div>
          </md-card-content>
        </md-card>
        <!-- first row - second vis - Alerts-->
        <md-card flex="50" class="wz-md-card" ng-class="{'fullscreen': expandArray[4]}">
          <md-card-content class="wazuh-column">
            <span class="wz-headline-title">Alerts
              <span class="wz-text-link" style="float:right;" ng-click="expand(4,'alertsVizz')">
                <wz-svg icon="expand"></wz-svg>
              </span>
            </span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <div id='alertsVizz'></div>
          </md-card-content>
        </md-card>
      </div>

      <!-- third row  -->
      <div id="row3" layout='row'>
        <!-- third row - first vis -->
        <md-card flex="33" class="wz-md-card" ng-class="{'fullscreen': expandArray[0]}">
          <md-card-content class="wazuh-column">
            <span class="wz-headline-title">Top 5 alerts
              <span class="wz-text-link" style="float:right;" ng-click="expand(0,'top5AlertsVizz')">
                <wz-svg icon="expand"></wz-svg>
              </span>
            </span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <div id='top5AlertsVizz'></div>
          </md-card-content>
        </md-card>
        <!-- third row - second vis -->
        <md-card flex="33" class="wz-md-card" ng-class="{'fullscreen': expandArray[1]}">
          <md-card-content class="wazuh-column">
            <span class="wz-headline-title">Top 5 rule groups
              <span class="wz-text-link" style="float:right;" ng-click="expand(1,'top5GroupsVizz')">
                <wz-svg icon="expand"></wz-svg>
              </span>
            </span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <div id='top5GroupsVizz'></div>
          </md-card-content>
        </md-card>
        <!-- third row - third vis -->
        <md-card flex="33" class="wz-md-card" ng-class="{'fullscreen': expandArray[2]}">
          <md-card-content class="wazuh-column">
            <span class="wz-headline-title">Top 5 PCI DSS Requirements
              <span class="wz-text-link" style="float:right;" ng-click="expand(2,'top5PCIreqVizz')">
                <wz-svg icon="expand"></wz-svg>
              </span>
            </span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <div id='top5PCIreqVizz'></div>
          </md-card-content>
        </md-card>
      </div>




      <!-- fourth row  -->
      <div id="row5" layout='row'>
        <md-card flex="70" class="wz-md-card" ng-class="{'fullscreen': expandArray[5]}">
          <md-card-content class="wazuh-column">
            <span class="wz-headline-title">Agents summary
              <span class="wz-text-link" style="float:right;" ng-click="expand(5,'agentsSummaryVizz')">
                <wz-svg icon="expand"></wz-svg>
              </span>
            </span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <div id='agentsSummaryVizz'></div>
          </md-card-content>
        </md-card>

        <md-card flex="30" class="wz-md-card" ng-class="{'fullscreen': expandArray[6]}">
          <md-card-content class="wazuh-column">
            <span class="wz-headline-title">Agents summary
              <span class="wz-text-link" style="float:right;" ng-click="expand(6,'groupsSummaryVizz')">
                <wz-svg icon="expand"></wz-svg>
              </span>
            </span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <div id='groupsSummaryVizz'></div>
          </md-card-content>
        </md-card>

      </div>
    </div>
  </div>
  <!-- end document  -->
</md-content>