#   Version 6.4.0
#
# This is an example user-seed.conf.  Use this file to create an initial
# This is an example user-seed.conf.  Use this file to create an initial login.
#
# NOTE: To change the default start up login and password, this file must be
# NOTE: To change the default start up login and password, this file must be in 
# $SPLUNK_HOME/etc/system/default/ prior to starting Splunk for the first time.
#
# To use this configuration, copy the configuration block into
# To use this configuration, copy the configuration block into user-seed.conf 
# in $SPLUNK_HOME/etc/system/local/. You must restart Splunk to enable configurations.
#
# To learn more about configuration files (including precedence) please see
# To learn more about configuration files (including precedence) please see the documentation 
# located at http://docs.splunk.com/Documentation/Splunk/latest/Admin/Aboutconfigurationfiles


[user_info]
USERNAME = admin
PASSWORD = myowndefaultPass
