<!-- About card section -->
<div layout="row" style="margin-top:16px; margin-left: 10px; margin-right: 10px;">
   <md-card style="width:100%;" class="wz-md-card no-margin-sides">
      <md-card-actions layout="column"
         class="wz-card-actions wz-card-actions-top md-actions-ruleset" style="background-color: white; height:100%;">
         <div layout="row" style="padding-top: 15px;padding-bottom: 4px;">
            <span style="font-size: 28px; padding-right: 10px;"> Users </span>
            <span flex="" class="flex"></span>
            <span ng-show="!isAddNewUser && !isEditingUser" ng-click="addNewUser()" class="wz-color-text cursor-pointer link-table">
               <wz-svg icon="plus"></wz-svg>
               Add new user
            </span>
         </div>
         <div flex class="layout-row" style="padding-top: 15px;" ng-show="!isAddNewUser && !isEditingUser">
            <div layout="row" class="layout-row" style="width: 100%;">
              <div style="width: 100%; display: flex; align-items: flex-start;">
                  <label ng-show="!isAddNewUser && !isEditingUser" class="wz-icon-loupe">
                  <input placeholder="Filter user..." ng-model="customSearch" type="text" flex
                    class="kuiLocalSearchInput height-40" aria-invalid="false" wz-enter="search(customSearch)">
                  </label>
                  <button ng-show="!isAddNewUser && !isEditingUser" ng-click="search(customSearch)"
                    class='btn height-40 agreeBtn pull-right wz-margin-left-7' style="max-height:40px !important;">
                  <span><i aria-hidden='true' class='fa fa-fw fa-search wz-margin-left-10'>&nbsp;</i>Search</span>
                  </button>
              </div>
            </div>
        </div>
         <div ng-show="isAddNewUser || isEditingUser">
            <div layout="row" class="layout-row" style="width: 50%; margin-top:16px">
               <div>
                  <span class="tSize16 wz-breadcrumb-margin">Username</span>
                  <input
                     placeholder="New username..."
                     type="text"
                     flex
                     class="kuiLocalSearchInput ng-empty ng-pristine ng-scope ng-touched ng-valid wz-margin-left-10 wz-width-95"
                     aria-invalid="false"
                     ng-model="userName"
                     ng-disabled="isEditingUser || (!isEditingUser && !isAddNewUser)"
                     ng-change="enableSave()"
                     />
               </div>
            </div>
            <div style="width: 50%; margin-bottom: 20px;padding-top: 15px;" class="wz-margin-left-10">
               <div>
                  <span class="tSize16">Allow run_as</span>
                  &nbsp;
                  <input
                     ng-disabled="isViewUser"
                     ng-change="enableSave()"
                     type="checkbox"
                     flex        
                     aria-invalid="false"
                     ng-model="userAllowRunAs"                     
                  />
               </div>
            </div>
            <div layout="row" class="layout-row" style="width: 50%; margin-bottom: 20px;" ng-show="!isViewUser" >
               <div>
                  <span class="tSize16 wz-breadcrumb-margin">Password</span>
                  <input
                     placeholder="New password..."
                     type="password"
                     flex
                     class="kuiLocalSearchInput ng-empty ng-pristine ng-scope ng-touched ng-valid wz-margin-left-10 wz-width-95"
                     aria-invalid="false"
                     ng-model="userPassword"
                     ng-change="enableSave()"
                  />
               </div>
               <div>
                  <span class="tSize16 wz-breadcrumb-margin">Confirm password</span>
                  <input
                     placeholder="Confirm new password..."
                     type="password"
                     flex
                     ng-change="enableSave()"
                     class="kuiLocalSearchInput ng-empty ng-pristine ng-scope ng-touched ng-valid wz-margin-left-10 wz-width-95"
                     aria-invalid="false"
                     ng-model="userPasswordConfirm"
                     />
               </div>
            </div>
            <div class="wz-margin-10">
              <span class="tSize16">Roles</span>
               <div id="roles-dropdown-view" >
               </div>
            </div>
            <div layout="row" style="width:calc(100% - 32px); margin-right:auto; margin-left:auto; justify-content: flex-end;" class="wz-align-center wz-margin-bottom-10">
               <div ng-show="isAddNewUser || isEditingUser">
                  <!-- Save and cancel buttons -->
                     <div>
                        <span>
                           <button
                              class="btn wz-button-cancel"
                              ng-click="cancelAddUser()"
                              >
                           Cancel
                           </button>
                           <button
                              ng-show="!isViewUser && !isEditingUser" 
                              ng-disabled="!userName || !userPassword || !userPasswordConfirm"
                              class="btn wz-button-empty pull-right wz-margin-left-10"
                              ng-click="saveUser()"
                              ng-if="isAdmin"
                              >
                           <i
                              ng-class="{'fa fa-fw fa-spin fa-spinner': saveIncomplete, 'fa fa-fw fa-save': !saveIncomplete}"
                              aria-hidden="true"
                              ></i>
                           Save
                           </button>
                           <button
                              ng-disabled="!overwrite"
                              ng-show="!isViewUser && isEditingUser" 
                              class="btn wz-button-empty pull-right wz-margin-left-10"
                              ng-click="editUser()"
                              ng-if="isAdmin"
                              >
                           <i
                              ng-class="{'fa fa-fw fa-spin fa-spinner': saveIncomplete, 'fa fa-fw fa-save': !saveIncomplete}"
                              aria-hidden="true"
                              ></i>
                           Edit
                           </button>
                        </span>
                  </div>
                  <!-- End save and cancel buttons-->
               </div>
            </div>
         </div>
      </md-card-actions>
      <md-card-contents ng-if="!isAddNewUser && !isEditingUser">
         <div layout="row" layout-padding>
            <wazuh-table custom-columns="true" admin-mode='adminMode' flex path="'/security/users'"
               keys="['id','username', 'allow_run_as', 'roles']" allow-click="true" rows-per-page="14" row-sizes="[20,15,10,20]">
            </wazuh-table>
         </div>
      </md-card-contents>
   </md-card>
</div>