<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
    <h3 class="wz-headline-title">CIS-CAT</h3>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
    <p>CIS-CAT path</p>
    <p id='ciscatPathView'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
    <p>Disabled</p>
    <p id='ciscatDisabledView'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
    <p>Interval</p>
    <p id='ciscatIntervalView'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
    <p>Timeout</p>
    <p id='ciscatTimeoutView'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
    <p>Scan on start</p>
    <p id='ciscatScanOnStartView'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
    <p>Java path</p>
    <p id='ciscatJavaPathView'></p>
</div>