<div class="wz-align-center wz-flex-container wz-margin-left-10">
    <i class="wz-flex-item fa fa-fw fa-file " aria-hidden="true"></i>
    <h3 class="wz-flex-item wz-headline-title">CIS-CAT</h3>
</div>
<hr style='margin-top:-5px'>
<div class="wz-margin-left-10 wz-flex-container wz-flex-row">
    <p class='wz-flex-item-30'>CIS-CAT path</p>
    <p id='ciscatPathView'></p>
</div>
<div class="wz-margin-left-10 wz-flex-container wz-flex-row">
    <p class='wz-flex-item-30'>Disabled</p>
    <p id='ciscatDisabledView'></p>
</div>
<div class="wz-margin-left-10 wz-flex-container wz-flex-row">
    <p class='wz-flex-item-30'>Interval</p>
    <p id='ciscatIntervalView'></p>
</div>
<div class="wz-margin-left-10 wz-flex-container wz-flex-row">
    <p class='wz-flex-item-30'>Timeout</p>
    <p id='ciscatTimeoutView'></p>
</div>
<div class="wz-margin-left-10 wz-flex-container wz-flex-row">
    <p class='wz-flex-item-30'>Scan on start</p>
    <p id='ciscatScanOnStartView'></p>
</div>
<div class="wz-margin-left-10 wz-flex-container wz-flex-row">
    <p class='wz-flex-item-30'>Java path</p>
    <p id='ciscatJavaPathView'></p>
</div>