<div class="wz-align-center wz-flex-container wz-margin-left-10">
  <i class="wz-flex-item fa fa-fw fa-file " aria-hidden="true"></i>
  <h3 class="wz-flex-item wz-headline-title">File integrity</h3>
</div>
<hr style='margin-top:-5px'>
<div class="wz-margin-left-10 wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30'>Disabled</p>
  <p id='fileIntegrityDisabledView'></p>
</div>
<div class="wz-margin-left-10 wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30'>Frequency</p>
  <p id='fileIntegrityFrequencyView'></p>
</div>
<div class="wz-margin-left-10 wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30'>Alert new files</p>
  <p id='fileIntegrityAlertNewFiles'></p>
</div>
<div class="wz-margin-left-10 wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30'>Skip NFS</p>
  <p id='fileIntegritySkipNFS'></p>
</div>
<div class="wz-margin-left-10 wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30'>Scan on start</p>
  <p id='fileIntegrityScanOnStart'></p>
</div>
<div class="wz-margin-left-10 wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30'>Scan time</p>
  <p id='fileIntegrityScanTime'></p>
</div>
<div class="wz-margin-left-10 wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30'>Auto ignore</p>
  <p id='fileIntegrityAutoIgnore'></p>
</div>

<div class="wz-margin-left-10 wz-flex-container">
  <i class="wz-flex-item fa fa-fw fa-file " aria-hidden="true"></i>
  <p class='wz-flex-item'>No diff</p>
</div>
<div id='fileIntegrityNoDiff'></div>

<div class="wz-margin-left-10 wz-flex-container">
  <i class="wz-flex-item fa fa-fw fa-file " aria-hidden="true"></i>
  <p class='wz-flex-item'>Monitored files</p>
</div>
<div id='fileIntegrityMonitoredFiles'></div>

<div class="wz-margin-left-10 wz-flex-container">
  <i class="wz-flex-item fa fa-fw fa-file " aria-hidden="true"></i>
  <p class='wz-flex-item'>Ignored files</p>
</div>
<div id='fileIntegrityIgnoredFiles'></div>