<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <h3 class="wz-headline-title">File integrity</h3>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Disabled</p>
  <p id='fileIntegrityDisabledView'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Frequency</p>
  <p id='fileIntegrityFrequencyView'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Alert new files</p>
  <p id='fileIntegrityAlertNewFiles'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Skip NFS</p>
  <p id='fileIntegritySkipNFS'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Scan on start</p>
  <p id='fileIntegrityScanOnStart'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Scan time</p>
  <p id='fileIntegrityScanTime'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Auto ignore</p>
  <p id='fileIntegrityAutoIgnore'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <h4>No diff</h4>
</div>
<div id='fileIntegrityNoDiff'></div>
<div class="wz-headline-title">
  <h4>Monitored files</h4>
</div>
<div id='fileIntegrityMonitoredFiles'></div>
<div class="wz-headline-title">
  <h4>Ignored files</h4>
</div>
<div id='fileIntegrityIgnoredFiles'></div>