<div class="wz-align-center wz-flex-container wz-margin-left-10">
    <i class="wz-flex-item fa fa-fw fa-list " aria-hidden="true"></i>
    <h3 class="wz-flex-item wz-headline-title">OpenSCAP</h3>
</div>
<hr style='margin-top:-5px'>
<div class="wz-margin-left-10 wz-flex-container wz-flex-row">
    <p class='wz-flex-item-30'>Disabled</p>
    <p id='openscapDisabledView'></p>
</div>
<div class="wz-margin-left-10 wz-flex-container wz-flex-row">
    <p class='wz-flex-item-30'>Interval</p>
    <p id='openscapIntervalView'></p>
</div>
<div class="wz-margin-left-10 wz-flex-container wz-flex-row">
    <p class='wz-flex-item-30'>Timeout</p>
    <p id='openscapTimeoutView'></p>
</div>
<div class="wz-margin-left-10 wz-flex-container wz-flex-row">
    <p class='wz-flex-item-30'>Scan on start</p>
    <p id='openscapScanOnStartView'></p>
</div>