<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <h3 class="wz-headline-title">Policy Monitoring</h3>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Disabled</p>
  <p id='policyMonitoringDisabledView'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Base directory</p>
  <p id='policyMonitoringBaseDirectoryView'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Frequency</p>
  <p id='policyMonitoringFrequencyView'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Skip NFS</p>
  <p id='policyMonitoringSkipNFS'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Scan all files</p>
  <p id='policyMonitoringScanAllFiles'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Check IF</p>
  <p id='policyMonitoringChecksIf'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Check PID</p>
  <p id='policyMonitoringChecksPid'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Check Files</p>
  <p id='policyMonitoringChecksFiles'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Check Dev</p>
  <p id='policyMonitoringChecksDev'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Check Ports</p>
  <p id='policyMonitoringChecksPorts'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Check Sys</p>
  <p id='policyMonitoringChecksSys'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Check Trojans</p>
  <p id='policyMonitoringChecksTrojans'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Check Unix audit</p>
  <p id='policyMonitoringChecksUnixAudit'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Check Windows apps</p>
  <p id='policyMonitoringChecksWinApps'></p>
</div>

<!-- Windows -->

<div id='policyMonitoringChecksWinApps'></div>
<div class="wz-headline-title">
  <h4>Windows Audit Files</h4>
</div>
<div id='policyMonitoringWinAuditFiles'></div>

<div class="wz-headline-title">
  <h4>Windows Apps Files</h4>
</div>
<div id='policyMonitoringWinAppsFiles'></div>

<div class="wz-headline-title">
  <h4>Windows Malware Files</h4>
</div>
<div id='policyMonitoringWinMalwareFiles'></div>
<div class="wz-headline-title">
  <h4>Rootkit</h4>
</div>
<div id='policyMonitoringRootkitFiles'></div>
<div id='policyMonitoringRootkitTrojans'></div>
