<div class="wz-align-center wz-flex-container wz-margin-left-10">
    <i class="wz-flex-item fa fa-fw fa-file " aria-hidden="true"></i>
    <h3 class="wz-headline-title">Syscollector</h3>
</div>
<hr style='margin-top:-5px'>

<div class="wz-margin-left-10 wz-flex-container wz-flex-row">
    <p class='wz-flex-item-30'>Disabled</p>
    <p id='syscollectorDisabledView'></p>
</div>
<div class="wz-margin-left-10 wz-flex-container wz-flex-row">
    <p class='wz-flex-item-30'>Hardware</p>
    <p id='syscollectorHardwareView'></p>
</div>

<div class="wz-margin-left-10 wz-flex-container wz-flex-row">
    <p class='wz-flex-item-30'>Interval</p>
    <p id='syscollectorIntervalView'></p>
</div>

<div class="wz-margin-left-10 wz-flex-container wz-flex-row">
    <p class='wz-flex-item-30'>OS</p>
    <p id='syscollectorOSView'></p>
</div>

<div class="wz-margin-left-10 wz-flex-container wz-flex-row">
    <p class='wz-flex-item-30'>Packages</p>
    <p id='syscollectorPackagesView'></p>
</div>

<div class="wz-margin-left-10 wz-flex-container wz-flex-row">
    <p class='wz-flex-item-30'>Scan on start</p>
    <p id='syscollectorScanOnStartView'></p>
</div>