<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
    <h3 class="wz-headline-title">Syscollector</h3>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
    <p>Disabled</p>
    <p id='syscollectorDisabledView'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
    <p>Hardware</p>
    <p id='syscollectorHardwareView'></p>
</div>

<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
    <p>Interval</p>
    <p id='syscollectorIntervalView'></p>
</div>

<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
    <p>OS</p>
    <p id='syscollectorOSView'></p>
</div>

<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
    <p>Packages</p>
    <p id='syscollectorPackagesView'></p>
</div>

<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
    <p>Scan on start</p>
    <p id='syscollectorScanOnStartView'></p>
</div>