<wz-rbac-prompt permissions="rbacRequirements.AGENT_READ">
  <md-content flex layout="column" layout-align="start">
    <!-- Breadcrumbs -->
    <div layout="row" class="wz-height-35">
      <div class='wz-breadcrumb-margin'>
        <a class="wz-text-link cursor-pointer" ui-sref='agents'>Agents</a>
        <span> / </span>
        <span ng-if="!agent.error" ui-sref='agent-overview({id:agent.id})'
          class="wz-text-link cursor-pointer">{{agent.name}} ({{agent.id}})</span>
        <span ng-if="agent.error">Unknown agent</span>
        <span> / </span>
        <span>Vulnerabilities</span>
        <span ng-if="agent.status">
          <span class="no-wrap wz-padding-left-8" aria-hidden="false">
            <wz-svg icon="agent-{{agent.status}}"></wz-svg>
          </span>{{formatAgentStatus(agent.status)}}
        </span>
      </div>
      <div flex></div>
      <!-- Report button -->
      <div style="display:flex; padding-right: 10px;">
        <wz-discover
          breadcrumbs="{section: 'Agents', subSection: 'Vulnerabilities', agentName: agent.name, agentId: agent.id, ref: 'agents', agentRef: 'agent-overview'}">
        </wz-discover>
      </div>
      <div style="margin-right:7px;" id='timePicker'></div>
    </div>
  
    <!-- Threat Detection and Response navbar -->
    <md-nav-bar class="wz-nav-bar wz-margin-10 no-margin-left" md-selected-nav-item="'inventory'">
      <md-nav-item class="wz-nav-item" md-nav-click="stopPropagation()" name="inventory">Inventory</md-nav-item>
      <md-nav-item class="wz-nav-item" md-nav-click="stopPropagation()" 
        ui-sref="ag-vul" name="vulnerabilities">Vulnerabilities</md-nav-item>
      <md-nav-item ng-if="extensions.osquery === 'true'" class="wz-nav-item" md-nav-click="stopPropagation()"
        ui-sref="ag-osquery" name="osquery">Osquery</md-nav-item>
      <md-nav-item ng-if="extensions.virustotal === 'true'" class="wz-nav-item" md-nav-click="stopPropagation()"
        ui-sref="ag-virustotal" name="virustotal">VirusTotal</md-nav-item>
      <md-nav-item ng-if="extensions.docker === 'true'" class="wz-nav-item" md-nav-click="stopPropagation()"
        ui-sref="ag-docker" name="docker">Docker listener</md-nav-item>
    </md-nav-bar>
  
  
    <div>
      <!-- Filter bar -->
      <wazuh-bar></wazuh-bar>
  
      <div ng-show="loadingVizz">
        <div align='center'>
          Fetching data...<br></b><i class="fa fa-fw fa-spin fa-spinner" aria-hidden="true"></i>
        </div>
      </div>
      
      <div layout="row" class="wz-padding-top-0" ng-if="agent && agent.os">
        <md-card flex="" class="wz-md-card _md flex">
          <md-card-content>
            <span class="wz-headline-title">Vulnerabilities</span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <div layout="row" class="wz-margin-top-10 wz-margin-right-10">
              <label class="wz-icon-loupe">
                <input flex placeholder="Filter vulnerabilities..." ng-model="filesSearch" type="text"
                  class="kuiLocalSearchInput ng-empty ng-pristine ng-scope ng-touched ng-valid height-40"
                  aria-invalid="false" wz-enter="search(filesSearch)">
              </label>
              <button type="submit" aria-label="Search"
                class="btn height-40 wz-button-empty wz-margin-left-10 less-12-mr" 
                ng-click="search(filesSearch)">
                <span>Search</span>
              </button>
            </div>
            <div layout="row" ng-if="agent" class="agents-fim-table wz-margin-top-10 wz-margin-bottom-40-inv">
              <wazuh-table-server-side custom-columns="true" allow-click="true"
                flex path="'/vulnerability/' + agent.id" row-sizes="[12,10,8]"
                extra-limit="true" keys="['cve','name','version','architecture']">
              </wazuh-table-server-side>
            </div>
            <div layout="row" class="ruleset-csv-formater" style="margin:-20px; padding:15px;">
              <span flex></span>
              <a class="small formatted-color" id="btnDownload"
                ng-click="downloadCsv('/vulnerability/' + agent.id, 'cve.csv')">
                <wz-svg icon="download"></wz-svg>
                &nbsp;Formatted
              </a>
            </div>
          </md-card-content>
        </md-card>
      </div>
  
      </div>
    </div>
  </md-content>
</wz-rbac-prompt>