<div style="width:100%;">
  <div layout="column">
    <div layout="row">
      <h3 class="wz-font-size-20 wz-margin-top-30">How to configure a module</h3>
    </div><!--First row -->

    <md-divider class="wz-margin-top-4 wz-margin-bottom-10"></md-divider>

    <div layout="row" style="overflow-y: scroll; height: calc(100vh - 160px);">
      <div layout="column" style="width: 85%; margin:5px;" class="wz-margin-top-10">
        <div layout="row">
          <div class="bubble">1</div>
          <div class="step-title">Choose your OS</div>
        </div>
        <div class="border-to-div wz-margin-top-10"> <!-- Select configuration -->
          <div class="step-margin">
            <select ng-options="n.name for n in modulesList" ng-model="currentModule" ng-init="currentModule=modulesList[0]"
              style="margin-left:5px;" class="input input-dropdown wz-button-empty wz-width-100p" >
            </select>
          </div>
          <div>
            {{currentModule.description}}
          </div>
        </div>
        <div layout="row" class="wz-margin-top-10"> <!-- Step 2 - Edit your configuration -->
          <div class="bubble">2</div>
          <div class="step-title">Configuration</div>
        </div>
        <div ng-show="showConfigTab" class="border-to-div wz-margin-top-10">
          <div>
              <pre flex class="wz-pre wzXmlEditor wz-overflow-y-auto" style="font-size: 11px; background-color: rgb(255, 255, 255); max-height: fit-content !important; ">{{modulesList[0].default_configuration[0].content}}</pre>
          </div>
        </div>
        <div ng-show="showOptionsTab" class="border-to-div wz-margin-top-10">
          <div layout="column"> <!-- ng repeat -->
            <div style="margin-top:10px;"></div>
            <div layout="row">
              <span style="padding-top:10px;"> Enabled:</span>  <input flex ng-model="enabled" placeholder="Add or remove directories to be monitored."  type="text"
              class="kuiLocalSearchInput ng-empty ng-pristine ng-scope ng-touched ng-valid height-40"
              aria-invalid="false">
            </div>
            <div layout="row">
              <span style="padding-top:10px;"> Directories:</span> <input flex ng-model="directories" placeholder="Add or remove directories to be monitored."  type="text"
              class="kuiLocalSearchInput ng-empty ng-pristine ng-scope ng-touched ng-valid height-40"
              aria-invalid="false">
            </div>
            <div layout="row">
                <span style="padding-top:10px;"> Frequency:</span> <input flex ng-model="frequency" placeholder="Frequency that the syscheck will be run (in seconds)."  type="text"
                class="kuiLocalSearchInput ng-empty ng-pristine ng-scope ng-touched ng-valid height-40"
                aria-invalid="false">
            </div>
            <button style="height: 30px;" ng-click="generateConfig()" class='btn wz-button pull-right'>
            <span>Generate configuration</span>
          </button>
          </div>
        </div>

        <div  ng-show="configurationGenerated"  layout="row" class="wz-margin-top-10"> <!-- Step 3 -  -->
          <div class="bubble">3</div>
          <div class="step-title">Configuration block</div>
        </div>

        <div ng-show="configurationGenerated" class="border-to-div wz-margin-top-10">
          <div layout="column"> <!-- ng repeat -->
            <div style="margin-top:10px;"></div>
            <pre flex class="wz-pre wzXmlEditor wz-overflow-y-auto" style="font-size: 11px; background-color: rgba(255, 255, 255); max-height: fit-content !important; ">{{test}}</pre>

          </div>
        </div>

        
      </div>
    </div> <!-- Second row-->




  </div>

</div>