<div style="width:100%;">
  <div layout="column">
    <div layout="row">
      <h3 class="wz-font-size-20 wz-margin-top-30">How to configure a module</h3>
    </div><!--First row -->

    <md-divider class="wz-margin-top-4 wz-margin-bottom-10"></md-divider>

    <div layout="row" id="sideNav" style="overflow-y: scroll; height: calc(100vh - 160px);">
      <div layout="column" style="width: 96%; margin:5px;" class="wz-margin-top-10">
        <div layout="row">
          <div class="bubble">1</div>
          <div class="step-title">Select a  module</div>
        </div>
        <div class="border-to-div wz-margin-top-10"> <!-- Select configuration -->
          <div class="step-margin">
            <select ng-options="n.name for n in modulesInfo" ng-model="currentModule" ng-change="resetOptions()" ng-init="currentModule= modulesInfo[initialModule] || modulesInfo['syscheck']"
              style="margin-left:5px;" class="input input-dropdown wz-button-empty wz-width-100p" >
            </select>
          </div>
          <div>
            {{currentModule.description}}
          </div>
        </div>
        <div layout="row" class="wz-margin-top-10"> <!-- Step 2 - Edit your configuration -->
          <div class="bubble">2</div>
          <div class="step-title">Configure the module</div>
        </div>
        <div class="border-to-div wz-margin-top-10">
          <div layout="column"> 
            <div style="margin-top:10px;"></div>
            <div layout="row" style="margin: -20px 0px 20px 0px;">
            <div ng-repeat="button in getCurrentModuleButtons()"  >
                <button style="height: 30px; margin-left:10px;"  class='btn wz-button-empty pull-right' ng-class="{'active': showOptions === button.id}" ng-click="switchOptions(button.id)">
                  <span>{{button.text}}</span>
                </button>
              </div>
            </div>
            <div layout="row" ng-repeat="option in getCurrentModuleOptions()" ng-if="option.required" style="padding-top:10px;">  <!-- Iterate all options of selected configuration -->
              <span style="min-width:35%; max-width:35%;">  
                  <!-- Top tooltip-->
                  <div class="con-wz-tooltip-guide right">
                      <p class="font-size-17"> {{option.name}}: &nbsp;</p>
                    <div class="wz-tooltip-guide ">
                      <p style="color:white;">{{option.description}}</p>
                    </div>
                  </div>

                  <a md-no-ink class="wz-link" ng-click="openExtraAttr(option)" ng-show="option.extraAttr">
                    <i class="fa fa-fw fa-cog" aria-hidden="true"></i>
                  </a>
                  <div ng-show="showExtraAttr(option)" style="height: 1px !important;">
                    <div  style="z-index: 110; padding: 15px; min-width:35%; border-radius: 10px; border: 1px solid #c9cbcd; position:relative; background-color:rgb(255, 255, 255);" >
                      <span><strong>Extra attributes for {{option.name}}:</strong></span>
                      <span>&nbsp;</span>
                      <div ng-repeat="(key,value) in option.extraAttr"  layout="row"> <!-- Extra attributes-->
                          <span style="width: 72%;">{{key}}  &nbsp;&nbsp;</span>
                          <label  class="guide-switch">
                              <input ng-checked="value.default"  id="{{option.name}}-{{key}}" type="checkbox">
                              <span class="guide-slider round"></span>
                          </label>
                      </div>
                    </div>
                  </div>
              </span>


              <!-- <div ng-if="option.type === 'multiple-value'" style="width:100%;"> 
                <input flex  id="{{option.name}}" type="text" ng-model="option.value" placeholder="{{option.default_value}}" wz-enter="addItem(option.name,option.value)"
                class="kuiLocalSearchInput ng-empty ng-pristine ng-scope ng-touched ng-valid height-40" style="width:100%;"
                aria-invalid="false">
                <div id="{{option.name}}-list">

                </div>
              </div>-->

              <div ng-if="option.type === 'input'" style="width:100%;"> <!-- input type -->
                <input flex  id="{{option.name}}" type="text" placeholder="{{option.default_value}}"
              class="kuiLocalSearchInput ng-empty ng-pristine ng-scope ng-touched ng-valid height-40" style="width:100%;"
              aria-invalid="false">
              </div>

              <div ng-if="option.type === 'select'" style="width:100%;"> <!-- select type -->
                <select ng-options="n for n in option.values" ng-model="option.value" id="{{option.name}}"
                style="margin-left:5px;" class="input input-dropdown wz-button-empty wz-width-100p" >
              </select>
              </div>

              <div ng-if="option.type === 'switch'"> <!-- Switch type -->
                <label class="guide-switch">
                    <input id="{{option.name}}" type="checkbox" ng-checked="{{option.default_value}}">
                    <span class="guide-slider round"></span>
                </label>
              </div>
              
              <div ng-if="option.type === 'list'" style="width:100%;"> <!-- Area text type -->
                <textarea id='{{option.name}}' style="width:100%;height:100px;" placeholder="One entry per line"></textarea>
              </div>
              
            </div>
            <div ng-show="showOptions === 'options'" ng-class="{'wz-margin-bottom--15': !showAdvancedOptions}">
              <span class="wz-link" ng-click="switchAdvancedOptions()" ng-show="!showAdvancedOptions" style="margin-top: 20px; margin-bottom: -20px;" >Show advanced options</span>
              <span class="wz-link" ng-click="switchAdvancedOptions()" ng-show="showAdvancedOptions" style="margin-top: 20px; margin-bottom: -20px;" >Close advanced options</span>
            </div>
            <div layout="row" ng-repeat="option in getCurrentModuleOptions()" ng-if="!option.required && showAdvancedOptions" style="padding-top:10px">  <!-- Iterate all options of selected configuration -->
              <span style="min-width:35%;">  
                  <!-- Top tooltip-->
                  <div class="con-wz-tooltip-guide right">
                    <p class="font-size-17"> {{option.name}}: </p> 
                    <div class="wz-tooltip-guide ">
                      <p style="color:white;">{{option.description}}</p>
                    </div>
                  </div>
              </span>
              <div ng-if="option.type === 'input'" style="width:100%;"> <!-- input type -->
                <input flex ng-model="enabled" id="{{option.name}}" type="text" placeholder="{{option.default_value}}"
              class="kuiLocalSearchInput ng-empty ng-pristine ng-scope ng-touched ng-valid height-40" style="width:100%;"
              aria-invalid="false">
              </div>
              <div ng-if="option.type === 'select'" style="width:100%;"> <!-- select type -->
                <select ng-options="for n in option.values" ng-model="option.value" id="{{option.name}}"
                style="margin-left:5px;" class="input input-dropdown wz-button-empty wz-width-100p" >
              </select>
              </div>

              <div ng-if="option.type === 'switch'"> <!-- Switch type -->
                <label class="guide-switch">
                    <input id="{{option.name}}" type="checkbox" ng-checked="{{option.default_value}}">
                    <span class="guide-slider round"></span>
                </label>
              </div>
              
              <div ng-if="option.type === 'list'" style="width:100%;"> <!-- Area text type -->
                <textarea id='{{option.name}}' style="width:100%;height:100px;" placeholder="One entry per line"></textarea>
              </div>
              
            </div>
            <button style="height: 30px; margin-top:30px; background-color:rgba(62, 187, 31, 0.247)" ng-click="generateConfig()" class='btn wz-button pull-right'>
              <span>Generate configuration</span>
            </button>
          </div>
        </div>

        <div  ng-show="configurationGenerated"  layout="row" class="wz-margin-top-10"> <!-- Step 3 -  -->
          <div class="bubble">3</div>
          <div class="step-title">Configuration block</div>
        </div>

        <div ng-show="configurationGenerated" class="border-to-div wz-margin-top-10">
          <div layout="column"> 
            <div style="margin-top:10px;"></div>
            <pre id="codeBlock" flex class="wz-pre wzXmlEditor wz-overflow-y-auto" style="font-size: 12px; background-color: rgba(255, 255, 255); max-height: fit-content !important; ">{{configurationBlock}}</pre>

          </div>
        </div>
        <div style="margin-bottom:30px;">

        </div>
        
      </div>
    </div> <!-- Second row-->




  </div>

</div>