<div class="wz-align-center wz-flex-container wz-margin-left-10">
  <i class="wz-flex-item fa fa-fw fa-server " aria-hidden="true"></i>
  <h3 class="wz-headline-title">Cluster</h3>
</div>
<div class="wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30'>Disabled</p>
  <p id='disabled'></p>
</div>
<div class="wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30'>Hidden</p>
  <p id='hidden'></p>
</div>
<div class="wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30'>Name</p>
  <p id='name'></p>
</div>
<div class="wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30'>Interval</p>
  <p id='interval'></p>
</div>
<div class="wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30'>Node name</p>
  <p id='nodeName'></p>
</div>
<div class="wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30'>Node type</p>
  <p id='nodeType'></p>
</div>
<div class="wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30'>Port</p>
  <p id='port'></p>
</div>
<div class="wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30'>Bind address</p>
  <p id='bindAddress'></p>
</div>
<div class="wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30'>Nodes</p>
  <p id='nodes'></p>
</div>