<div class="wz-align-center wz-flex-container wz-margin-left-10">
  <i class="wz-flex-item fa fa-fw fa-bars " aria-hidden="true"></i>
  <h3 class="wz-flex-item wz-headline-title">Global</h3>
</div>
<div class="wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30' >JSON output</p>
  <p id='jsonViewOutput'></p>
</div>
<div class="wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30' >Log all</p>
  <p id='logAll'></p>
</div>
<div class="wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30' >Log all JSON</p>
  <p id='logAllJson'></p>
</div>
<div class="wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30' >White list</p>
  <p id='whiteList'></p>
</div>
<div class="wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30' >Log alert level</p>
  <p id='logViewAlertLevel'></p>
</div>
<div class="wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30' >E-mail notifications</p>
  <p id='emailNotifications'></p>
</div>
<div class="wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30' >E-mail alert level</p>
  <p id='emailAlertLevel'></p>
</div>
<div class="wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30' >E-mail to</p>
  <p id='emailTo'></p>
</div>
<div class="wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30' >E-mail from</p>
  <p id='emailFrom'></p>
</div>
<div class="wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30' >SMTP Server</p>
  <p id='smtpServer'></p>
</div>
<div class="wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30' >Max email per hour</p>
  <p id='maxEmailPerHour'></p>
</div>