<div class="wz-align-center wz-flex-container wz-margin-left-10">
  <i class="wz-flex-item fa fa-fw fa-check " aria-hidden="true"></i>
  <h3 class="wz-flex-item wz-headline-title">Rootcheck</h3>
</div>
<div class="wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30'>Disabled</p>
  <p id='rootDisabled'></p>
</div>
<div class="wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30'>Rootkit files</p>
  <p id='rootFiles'></p>
</div>
<div class="wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30'>Rootkit trojans</p>
  <p id='rootTrojans'></p>
</div>
<div class="wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30'>Frequency</p>
  <p id='rootViewFreq'></p>
</div>
<div class="wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30'>Skip NFS</p>
  <p id='rootSkipNfs'></p>
</div>
<div class="wz-flex-container wz-margin-left-10">
  <i class="wz-flex-item fa fa-fw fa-file" aria-hidden="true"></i>
  <p class='wz-flex-item'>System audit files</p>
</div>
<div>
  <p id='rootSysAuditFiles'></p>
</div>