<div class="wz-align-center wz-flex-container wz-margin-left-10">
  <i class="wz-flex-item fa fa-fw fa-list " aria-hidden="true"></i>
  <h3 class="wz-flex-item wz-headline-title">Ruleset</h3>
</div>

<div class="wz-flex-container wz-margin-left-10">
  <i class="wz-flex-item fa fa-fw fa-folder" aria-hidden="true"></i>
  <p class='wz-flex-item'>Decoder directories</p>
</div>
<div>
  <p id='ruleDecoderDirs'></p>
</div>

<div class="wz-flex-container wz-margin-left-10">
  <i class="wz-flex-item fa fa-fw fa-folder" aria-hidden="true"></i>
  <p class='wz-flex-item'>Rules directories</p>
</div>
<div>
  <p id='ruleRulesDirs'></p>
</div>


<div class="wz-flex-container wz-margin-left-10">
  <i class="wz-flex-item fa fa-fw fa-folder" aria-hidden="true"></i>
  <p class='wz-flex-item'>Rule excludes</p>
</div>
<div>
  <p id='ruleRuleExcludes'></p>
</div>


<div class="wz-flex-container wz-margin-left-10">
  <i class="wz-flex-item fa fa-fw fa-folder" aria-hidden="true"></i>
  <p class='wz-flex-item'>CDB Lists</p>
</div>
<div>
  <p id='ruleCdbLists'></p>
</div>
