<div class="wz-align-center wz-flex-container wz-margin-left-10">
  <i class="wz-flex-item fa fa-fw fa-shield " aria-hidden="true"></i>
  <h3 class="wz-flex-item wz-headline-title">Syscheck</h3>
</div>
<div class="wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30'>Disabled</p>
  <p id='sysDisabled'></p>
</div>
<div class="wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30'>Frequency</p>
  <p id='sysFrequency'></p>
</div>
<div class="wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30'>Auto ignore</p>
  <p id='sysAutoIgnore'></p>
</div>
<div class="wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30'>Alert new files</p>
  <p id='sysViewAlertNewFiles'></p>
</div>
<div class="wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30'>Scan on start</p>
  <p id='sysScanOnStart'></p>
</div>
<div class="wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30'>No diff</p>
  <p id='sysNoDiff'></p>
</div>
<div class="wz-flex-container wz-flex-row">
  <p class='wz-flex-item-30'>Skip NFS</p>
  <p id='sysSkipNfs'></p>
</div>
<div class="wz-align-center wz-flex-container wz-margin-left-10">
  <i class="wz-flex-item fa fa-fw fa-folder" aria-hidden="true"></i>
  <p class="wz-flex-item"> Monitoring directories</p>
</div>
<div>
  <div id='monitoringDirectories'></div>
</div>