<!-- Headline -->
<div ng-show="!loadingRing" layout="column" layout-padding>
  <div layout="row">
    <span class="font-size-18">
      <i class="fa fa-fw fa-object-group" aria-hidden="true"></i> Groups</span>
    <span ng-show='adminMode && !editingFile && !addingGroup' class="font-size-18 wz-text-link" ng-click="switchAddingGroup()"><i class="fa fa-fw fa-plus-circle"></i></span>
  </div>
  <div layout="row" ng-if="addingGroup" ng-if='adminMode'>
    <input placeholder="Group name..." ng-model="groupToBeAdded" type="text" class="kuiLocalSearchInput addGroupInput ng-empty ng-pristine ng-scope ng-touched ng-valid"
      aria-invalid="false">
    <button type="submit" aria-label="Search" class="kuiLocalSearchButton addGroupBtn height-20" ng-click="createGroup(groupToBeAdded)">
      <span class="fa fa-save fa-fw" aria-hidden="true"></span>
    </button>
  </div>
  <div layout="row" ng-if="!addingGroup">
    <span class="md-subheader">List and check your groups, its agents and files</span>
  </div>
</div>
<!-- End headline -->
<!-- Table with groups -->
<div layout="column" layout-align="start" ng-show="!editingFile">
  <md-card-content style="width: calc(100% - 30px);margin-left: auto; margin-right: auto;">
    <table class="table table-condensed table-layout-fixed table-hover table-vertical-align-middle">
      <thead class="wz-text-bold">
        <th class="wz-text-left">Name</th>
        <th class="wz-text-left">Edit/Remove</th>
      </thead>
      <tbody>
        <tr class="wz-word-wrap" ng-repeat="group in groups track by $index">
          <td>{{group.name}}</td>
          <td>
            <span ng-show="!editingGroup || editingGroup && editingGroup !== group.name" ng-click="editGroupAgentConfig(group.name)"
              class="fa fa-fw fa-pencil cursor-pointer"></span>
            <span ng-show="editingGroup && editingGroup === group.name" ng-click="cancelEditGroup()" class="fa fa-fw fa-times cursor-pointer"></span>
            <span ng-show="!editingGroup || editingGroup && editingGroup !== group.name && group.name !== 'default'"
              ng-click="removeGroup(group.name)" class="fa fa-fw fa-trash cursor-pointer"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </md-card-content>
</div>

<div ng-show="editingFile">
  <div layout="row" class="md-padding">
    <button class="md-icon-button" ng-if="!adminMode" aria-label="Back" ng-click="goBackFiles()"><i class="fa fa-fw fa-close"
        aria-hidden="true"></i>
      <md-tooltip md-direction="bottom" class="wz-tooltip">Close file</md-tooltip>
    </button>
    <span ng-if="adminMode" ng-click='closeEditingFile()' class='btn btn-info'>Cancel</span>
    <button ng-if="adminMode" ng-disabled='xmlHasErrors' ng-click='doSaveGroupAgentConfig()' class='btn btn-primary pull-right wz-margin-left-10'>
      <span ng-show='!xmlHasErrors && adminMode'><i aria-hidden='true' class='fa fa-fw fa-save wz-margin-left-10'></i>Save
        file</span>
      <span ng-show='xmlHasErrors && adminMode' class='btn-danger'><i aria-hidden='true' class='fa fa-fw fa-exclamation-triangle'></i>
        XML format error</span>
    </button>
  </div>
  <div class="wzXmlEditorDivContent" style="height: calc(100vh - 350px);" ng-if="fetchedXML">
    <wz-xml-file-editor style="height: inherit;" file-name='agent.conf' data="fetchedXML" target-name="currentGroup.name"
      valid-fn='xmlIsValid(valid)'>
    </wz-xml-file-editor>
  </div>
</div>


<div layout="row" class="wz-margin-top-10 wz-margin-right-8 wz-margin-left-8" ng-show="clusterError && !load">
</div>

<!-- End last registered agent section -->

</div>