<md-content flex layout="column" layout-align="end">
  <!-- Breadcrumbs -->


  <div layout="row" class="wz-height-35">
    <div class='wz-margin-left-10 wz-margin-top-12'>
      <a class="wz-text-link cursor-pointer" ui-sref='agents'>Agents</a>
      <span> / </span>
      <span ng-if="!agent.error" ui-sref='agent-overview({id:agent.id})' class="wz-text-link cursor-pointer">{{agent.name}}
        ({{agent.id}})</span>
      <span ng-if="agent.error">Unknown agent</span>
      <span> / </span>
      <span>File integrity monitoring</span>
      <span ng-if="agent.status">
        <span class="wz-agent-status-indicator small" ng-class="getAgentStatusClass(agent.status)" aria-label="Agent status indicator">{{formatAgentStatus(agent.status)}}</span>
      </span>
    </div>
    <div flex></div>
    <!-- Report button -->
    <div style="display:flex; padding-right: 10px;">
      <button ng-if="reportingEnabled" ng-if="reportingEnabled" md-no-ink class="btn wz-button-empty wz-button-report" ng-disabled="loadingVizz || loadingReporting" ng-click="startVis2Png()"
        aria-label="Generate report button">
        <i class="fa fa-fw fa-print" aria-hidden="true"></i>
        <md-tooltip md-direction="left" class="wz-tooltip">
          Generate report
        </md-tooltip>
      </button>
      <wz-discover breadcrumbs="{section: 'Agents', subSection: 'File integrity monitoring', agentName: agent.name, agentId: agent.id, ref: 'agents', agentRef: 'agent-overview'}"></wz-discover>
    </div>
    <div style="margin-right:7px;" id='timePicker'></div>
  </div>

  <!-- Loading report-->
  <div align='center' ng-if='loadingReporting'>Generating report<br><i class="fa fa-fw fa-spin fa-spinner"
      aria-hidden="true"></i></div>

  <!-- Security information management navbar -->
  <md-nav-bar class="wz-nav-bar wz-margin-10 no-margin-left" md-selected-nav-item="'fim'">
    <md-nav-item class="wz-nav-item" md-nav-click="stopPropagation()" ui-sref="ag-general" name="general">Security events</md-nav-item>
    <md-nav-item class="wz-nav-item" md-nav-click="stopPropagation()" name="fim">Integrity monitoring</md-nav-item>
    <md-nav-item class="wz-nav-item" md-nav-click="stopPropagation()" ui-sref="ag-inventory" name="inventory">Inventory data</md-nav-item>
  </md-nav-bar>  

  <!-- Wazuh filters bar -->
  <wazuh-bar></wazuh-bar>
  <div ng-show='!showFiles'>
    <span class='wz-text-link' ng-click='show()' style="margin-left:96%;">Show files</span>
    <!-- first row  -->
    <div id="row1" layout="row">

    <div flex="25">
      <!-- first row - first vis -->
      <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[2]}">
        <md-card-content layout='column'>
          <span class="wz-headline-title">Most active users
            <span class="wz-text-link" style="float:right;" ng-click="expand(2,'topUserOwnersElement')"><svg class="euiIcon euiIcon--medium" focusable="false" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.354 12.354l8-8a.5.5 0 0 0-.708-.708l-8 8a.5.5 0 0 0 .708.708zM1 10.5a.5.5 0 1 1 1 0v3a.5.5 0 0 0 .5.5h3a.5.5 0 1 1 0 1h-3A1.5 1.5 0 0 1 1 13.5v-3zm14-5a.5.5 0 1 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 1 1 0-1h3A1.5 1.5 0 0 1 15 2.5v3z"></path></svg></span>
          </span>
          <md-divider class="wz-margin-top-10"></md-divider>
          <div layout-fill id='topUserOwnersElement'></div>
        </md-card-content>
      </md-card>
    </div>
    <div flex="25">
      <!-- first row - second vis -->
      <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[9]}">
        <md-card-content layout='column'>
          <span class="wz-headline-title">Actions
            <span class="wz-text-link" style="float:right;" ng-click="expand(9,'topActions')"><svg class="euiIcon euiIcon--medium" focusable="false" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.354 12.354l8-8a.5.5 0 0 0-.708-.708l-8 8a.5.5 0 0 0 .708.708zM1 10.5a.5.5 0 1 1 1 0v3a.5.5 0 0 0 .5.5h3a.5.5 0 1 1 0 1h-3A1.5 1.5 0 0 1 1 13.5v-3zm14-5a.5.5 0 1 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 1 1 0-1h3A1.5 1.5 0 0 1 15 2.5v3z"></path></svg></span>
          </span>
          <md-divider class="wz-margin-top-10"></md-divider>
          <div layout-fill id='topActions'></div>
        </md-card-content>
      </md-card>
    </div>
    <div flex="50">
      <!-- first row - third vis -->
      <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[0]}">
        <md-card-content class="wazuh-column">
          <span class="wz-headline-title">Events
            <span class="wz-text-link" style="float:right;" ng-click="expand(0,'eventsOverTimeElement')"><svg class="euiIcon euiIcon--medium" focusable="false" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.354 12.354l8-8a.5.5 0 0 0-.708-.708l-8 8a.5.5 0 0 0 .708.708zM1 10.5a.5.5 0 1 1 1 0v3a.5.5 0 0 0 .5.5h3a.5.5 0 1 1 0 1h-3A1.5 1.5 0 0 1 1 13.5v-3zm14-5a.5.5 0 1 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 1 1 0-1h3A1.5 1.5 0 0 1 15 2.5v3z"></path></svg></span>
          </span>
          <md-divider class="wz-margin-top-10"></md-divider>
          <div id='eventsOverTimeElement'></div>
        </md-card-content>
      </md-card>
    </div>
  </div>
    <div id="row2" layout="row">
      <div flex="33">
        <!-- first row - first vis -->
        <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[6]}">
          <md-card-content class="wazuh-column">
            <span class="wz-headline-title">Files added
              <span class="wz-text-link" style="float:right;" ng-click="expand(6,'topNewFiles')"><svg class="euiIcon euiIcon--medium" focusable="false" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.354 12.354l8-8a.5.5 0 0 0-.708-.708l-8 8a.5.5 0 0 0 .708.708zM1 10.5a.5.5 0 1 1 1 0v3a.5.5 0 0 0 .5.5h3a.5.5 0 1 1 0 1h-3A1.5 1.5 0 0 1 1 13.5v-3zm14-5a.5.5 0 1 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 1 1 0-1h3A1.5 1.5 0 0 1 15 2.5v3z"></path></svg></span>
            </span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <div id='topNewFiles'></div>
          </md-card-content>
        </md-card>
      </div>
      <div flex="33">
        <!-- first row - second vis -->
        <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[7]}">
          <md-card-content class="wazuh-column">
            <span class="wz-headline-title">Files modified
              <span class="wz-text-link" style="float:right;" ng-click="expand(7,'topModifiedFiles')"><svg class="euiIcon euiIcon--medium" focusable="false" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.354 12.354l8-8a.5.5 0 0 0-.708-.708l-8 8a.5.5 0 0 0 .708.708zM1 10.5a.5.5 0 1 1 1 0v3a.5.5 0 0 0 .5.5h3a.5.5 0 1 1 0 1h-3A1.5 1.5 0 0 1 1 13.5v-3zm14-5a.5.5 0 1 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 1 1 0-1h3A1.5 1.5 0 0 1 15 2.5v3z"></path></svg></span>
            </span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <div id='topModifiedFiles'></div>
          </md-card-content>
        </md-card>
      </div>
      <div flex="33">
        <!-- first row - third vis -->
        <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[8]}">
          <md-card-content class="wazuh-column">
            <span class="wz-headline-title">Files deleted
              <span class="wz-text-link" style="float:right;" ng-click="expand(8,'topDeletedFiles')"><svg class="euiIcon euiIcon--medium" focusable="false" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.354 12.354l8-8a.5.5 0 0 0-.708-.708l-8 8a.5.5 0 0 0 .708.708zM1 10.5a.5.5 0 1 1 1 0v3a.5.5 0 0 0 .5.5h3a.5.5 0 1 1 0 1h-3A1.5 1.5 0 0 1 1 13.5v-3zm14-5a.5.5 0 1 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 1 1 0-1h3A1.5 1.5 0 0 1 15 2.5v3z"></path></svg></span>
            </span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <div id='topDeletedFiles'></div>
          </md-card-content>
        </md-card>
      </div>
    </div>

    <!-- third row  -->
    <div id="row3" layout='row'>
      <md-card flex="100" class="wz-md-card" ng-class="{'fullscreen': expandArray[5]}">
        <md-card-content class="wazuh-column">
          <span class="wz-headline-title">Alerts summary
            <span class="wz-text-link" style="float:right;" ng-click="expand(5,'eventsSummaryElement')"><svg class="euiIcon euiIcon--medium" focusable="false" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.354 12.354l8-8a.5.5 0 0 0-.708-.708l-8 8a.5.5 0 0 0 .708.708zM1 10.5a.5.5 0 1 1 1 0v3a.5.5 0 0 0 .5.5h3a.5.5 0 1 1 0 1h-3A1.5 1.5 0 0 1 1 13.5v-3zm14-5a.5.5 0 1 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 1 1 0-1h3A1.5 1.5 0 0 1 15 2.5v3z"></path></svg></span>
          </span>
          <md-divider class="wz-margin-top-10"></md-divider>
          <div id='eventsSummaryElement'></div>
        </md-card-content>
      </md-card>

    </div>
  </div>

  <div ng-show='showFiles'>
    <span class='wz-text-link' ng-click='show()' style="margin-left:96%;">Show alerts</span>

    <div layout="row" class="wz-padding-top-0" ng-if="agent && agent.os && agent.os.platform === 'windows'">
      <md-card flex="" class="wz-md-card _md flex">
        <md-card-content>
          <span class="wz-headline-title"><i class="fa fa-fw fa-windows"></i> Windows registry</span>
          <md-divider class="wz-margin-top-10"></md-divider>
          <div layout="row" class="wz-margin-top-10">
            <input flex placeholder="Filter registry..." ng-model="registrySearch" type="text" class="kuiLocalSearchInput ng-empty ng-pristine ng-scope ng-touched ng-valid height-30"
              aria-invalid="false" wz-enter="search(registrySearch,{name:'type',value:'registry'})">
            <button type="submit" aria-label="Search" class="btn height-32 wz-button-empty wz-margin-left-10" ng-click="search(registrySearch,{name:'type',value:'registry'})">
                <span>Search</span>
            </button>
          </div>
          <div layout="row" ng-if="agent" class="wz-margin-top-10 wz-margin-bottom-40-inv">
            <wazuh-table flex path="'/syscheck/' + agent.id" implicit-filter="[{name:'type',value:'registry'}]"
              row-sizes="[6,6,6]" extra-limit="true" keys="['file','sha1','md5']">
            </wazuh-table>
          </div>
          <div layout="row" ng-if="agent" class="wz-margin-top-10 wz-margin-bottom-40-inv">
            <wazuh-table flex path="'/syscheck/' + agent.id" implicit-filter="[{name:'type',value:'registry'}]"
              row-sizes="[6,6,6]" extra-limit="true" keys="['file','sha1','md5']">
            </wazuh-table>
          </div>
          <div layout="row" class="ruleset-csv-formater" style="margin:-20px; padding:15px;">
            <span flex></span>
            <a class="small formatted-color" id="btnDownload" ng-click="downloadCsv('/syscheck/' + agent.id,'syscheckFiles.csv')">Formatted
              <i aria-hidden="true" class="fa fa-fw fa-download"></i></a>
          </div>
        </md-card-content>
      </md-card>
    </div>

    <div layout="row" class="wz-padding-top-0" ng-if="agent && agent.os && agent.os.platform === 'windows'">
      <md-card flex="" class="wz-md-card _md flex">
        <md-card-content>
          <span class="wz-headline-title"><i class="fa fa-fw fa-file-o"></i> Files</span>
          <md-divider class="wz-margin-top-10"></md-divider>
          <div layout="row" class="wz-margin-top-10">
            <input flex placeholder="Filter files..." ng-model="filesSearch" type="text" class="kuiLocalSearchInput ng-empty ng-pristine ng-scope ng-touched ng-valid height-30"
              aria-invalid="false" wz-enter="search(filesSearch,{name:'type',value:'file'})">
            <button type="submit" aria-label="Search" class="btn height-32 wz-button-empty wz-margin-left-10 less-12-mr" ng-click="search(filesSearch,{name:'type',value:'file'})">
                <span>Search</span>
            </button>
          </div>
          <div layout="row" ng-if="agent" class="wz-margin-top-10 wz-margin-bottom-40-inv">
            <wazuh-table flex path="'/syscheck/' + agent.id" implicit-filter="[{name:'type',value:'file'}]" row-sizes="[6,6,6]"
              extra-limit="true" keys="['file', 'size', 'uname', 'perm','sha256','uid','mtime']">
            </wazuh-table>
          </div>
          <div layout="row" class="ruleset-csv-formater" style="margin:-20px; padding:15px;">
            <span flex></span>
            <a class="small formatted-color" id="btnDownload" ng-click="downloadCsv('/syscheck/' + agent.id, 'fim-files.csv', [{name:'type',value:'file'}])">Formatted
              <i aria-hidden="true" class="fa fa-fw fa-download"></i></a>
          </div>
        </md-card-content>
      </md-card>
    </div>

    <div layout="row" class="wz-padding-top-0" ng-if="agent && agent.os && agent.os.platform !== 'windows'">
      <md-card flex="" class="wz-md-card _md flex">
        <md-card-content>
          <span class="wz-headline-title"><i class="fa fa-fw fa-file-o"></i> Files</span>
          <md-divider class="wz-margin-top-10"></md-divider>
          <div layout="row" class="wz-margin-top-10">
            <input flex placeholder="Filter files..." ng-model="filesSearch" type="text" class="kuiLocalSearchInput ng-empty ng-pristine ng-scope ng-touched ng-valid height-30"
              aria-invalid="false" wz-enter="search(filesSearch)">
            <button type="submit" aria-label="Search" class="btn height-32 wz-button-empty wz-margin-left-10 less-12-mr" ng-click="search(filesSearch)">
                <span>Search</span>
            </button>
          </div>
          <div layout="row" ng-if="agent" class="wz-margin-top-10 wz-margin-bottom-40-inv">
            <wazuh-table custom-columns="true" flex path="'/syscheck/' + agent.id" row-sizes="[12,10,8]" extra-limit="true" keys="['file','size','gname','uname','perm','sha256','uid','gid','mtime']">
            </wazuh-table>
          </div>
          <div layout="row" class="ruleset-csv-formater" style="margin:-20px; padding:15px;">
            <span flex></span>
            <a class="small formatted-color" id="btnDownload" ng-click="downloadCsv('/syscheck/' + agent.id, 'fim-files.csv')">Formatted
              <i aria-hidden="true" class="fa fa-fw fa-download"></i></a>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</md-content>
