<md-content flex layout="column" layout-align="end">
  <!-- Breadcrumbs -->
  <div layout="row" class="wz-height-35">
    <div class='wz-breadcrumb-margin'>
      <a class="wz-text-link cursor-pointer" ui-sref='agents'>Agents</a>
      <span> / </span>
      <span ui-sref='agent-overview({id:agent.id})' class="wz-text-link cursor-pointer">{{agent.name}}
        ({{agent.id}})</span>
      <span> / </span>
      <span>OpenSCAP</span>
      <span ng-if="agent.status">
        <span class="no-wrap wz-padding-left-8" aria-hidden="false">
          <wz-svg icon="agent-{{agent.status}}"></wz-svg>
        </span>{{formatAgentStatus(agent.status)}}
      </span>
    </div>
    <div flex></div>
    <!-- Report button -->
    <div style="display:flex; padding-right: 10px;">
      <button ng-if="reportingEnabled" ng-if="reportingEnabled" md-no-ink class="btn wz-button-empty wz-button-report"
        ng-disabled="loadingVizz || loadingReporting" ng-click="startVis2Png()" aria-label="Generate report button">
        <i class="fa fa-fw fa-print" aria-hidden="true"></i>
        <md-tooltip md-direction="bottom" class="wz-tooltip">
          Generate report
        </md-tooltip>
      </button>
      <wz-discover
        breadcrumbs="{section: 'Agents', subSection: 'OpenSCAP', agentName: agent.name, agentId: agent.id, ref: 'agents', agentRef: 'agent-overview'}">
      </wz-discover>
    </div>
    <div style="margin-right:7px;" id='timePicker'></div>
    <div style="margin-right:7px;" id='dropDownInput'></div>
  </div>

  <!-- Loading report-->
  <div align='center' ng-if='loadingReporting'>{{reportStatus}}<br><i class="fa fa-fw fa-spin fa-spinner"
      aria-hidden="true"></i></div>

  <!-- Auditing and Policy Monitoring navbar -->
  <md-nav-bar class="wz-nav-bar wz-margin-10 no-margin-left" md-selected-nav-item="'openscap'">
    <md-nav-item class="wz-nav-item" md-nav-click="stopPropagation()" ui-sref="ag-pm" name="pm">Policy monitoring
    </md-nav-item>
    <md-nav-item class="wz-nav-item" md-nav-click="stopPropagation()" ui-sref="ag-ca" name="sca">SCA</md-nav-item>
    <md-nav-item ng-if="extensions.audit === 'true'" class="wz-nav-item" md-nav-click="stopPropagation()"
      ui-sref="ag-audit" name="audit">System auditing</md-nav-item>
    <md-nav-item class="wz-nav-item" md-nav-click="stopPropagation()" name="openscap">OpenSCAP</md-nav-item>
    <md-nav-item ng-if="extensions.ciscat === 'true'" class="wz-nav-item" md-nav-click="stopPropagation()"
      ui-sref="ag-ciscat" name="ciscat">CIS-CAT</md-nav-item>
  </md-nav-bar>


  <div>
    <!-- Filter bar -->
    <wazuh-bar></wazuh-bar>

    <div ng-show="loadingVizz">
      <div align='center'>
        Fetching data...<br></b><i class="fa fa-fw fa-spin fa-spinner" aria-hidden="true"></i>
      </div>
    </div>
    <div ng-show="!loadingVizz">
      <!-- first row  -->
      <div layout="row" class="wz-margin-9">
        <md-card flex class="wz-metric-color">
          <md-card-content layout="row" class="wz-padding-metric">
            <div class="wz-text-truncatable" flex>Last score:
              <span class="wz-text-bold">{{ scapLastScore | number:2}}</span>
            </div>
            <div class="wz-text-truncatable" flex>Highest score:
              <span class="wz-text-bold">{{scapHighestScore | number:2}}</span>
            </div>
            <div class="wz-text-truncatable" flex>Lowest score:
              <span class="wz-text-bold">{{scapLowestScore | number:2}}</span>
            </div>
          </md-card-content>
        </md-card>
      </div>

      <div layout="row" layout-align="center stretch">
        <md-card flex="25" class="wz-md-card" ng-class="{'fullscreen': expandArray[0]}">
          <md-card-content class="wazuh-column">
            <span class="wz-headline-title">Top 5 scans
              <span class="wz-text-link" style="float:right;" ng-click="expand(0,'top5Scans')">
                <wz-svg icon="expand"></wz-svg>
              </span>
            </span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <div id="top5Scans" class="dashboard-element single" style="width: 100%"></div>
          </md-card-content>
        </md-card>
        <md-card flex="25" class="wz-md-card" ng-class="{'fullscreen': expandArray[1]}">
          <md-card-content class="wazuh-column">
            <span class="wz-headline-title">Top 5 profiles
              <span class="wz-text-link" style="float:right;" ng-click="expand(1,'profilesVizz')">
                <wz-svg icon="expand"></wz-svg>
              </span>
            </span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <div id="profilesVizz" class="dashboard-element single" style="width: 100%"></div>
          </md-card-content>
        </md-card>
        <md-card flex="25" class="wz-md-card" ng-class="{'fullscreen': expandArray[2]}">
          <md-card-content class="wazuh-column">
            <span class="wz-headline-title">Top 5 content
              <span class="wz-text-link" style="float:right;" ng-click="expand(2,'contentVizz')">
                <wz-svg icon="expand"></wz-svg>
              </span>
            </span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <div id="contentVizz" class="dashboard-element single" style="width: 100%"></div>
          </md-card-content>
        </md-card>
        <md-card flex="25" class="wz-md-card" ng-class="{'fullscreen': expandArray[3]}">
          <md-card-content class="wazuh-column">
            <span class="wz-headline-title">Top 5 severity
              <span class="wz-text-link" style="float:right;" ng-click="expand(3,'severityVizz')">
                <wz-svg icon="expand"></wz-svg>
              </span>
            </span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <div id="severityVizz" class="dashboard-element single" style="width: 100%"></div>
          </md-card-content>
        </md-card>
      </div>

      <div layout="row" layout-align="start stretch">
        <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[4]}">
          <md-card-content class="wazuh-column">
            <span class="wz-headline-title">Top 5 Agents - Severity high
              <span class="wz-text-link" style="float:right;" ng-click="expand(4,'top5AgentsSHVizz')">
                <wz-svg icon="expand"></wz-svg>
              </span>
            </span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <div id="top5AgentsSHVizz" class="dashboard-element single" style="width: 100%"></div>
          </md-card-content>
        </md-card>
      </div>

      <div layout="row" layout-align="center stretch">
        <md-card flex="50" class="wz-md-card" ng-class="{'fullscreen': expandArray[5]}">
          <md-card-content class="wazuh-column">
            <span class="wz-headline-title">Top 5 - Alerts
              <span class="wz-text-link" style="float:right;" ng-click="expand(5,'top5AlertsVizz')">
                <wz-svg icon="expand"></wz-svg>
              </span>
            </span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <div id="top5AlertsVizz" class="dashboard-element single" style="width: 100%"></div>
          </md-card-content>
        </md-card>

        <md-card flex="50" class="wz-md-card" ng-class="{'fullscreen': expandArray[6]}">
          <md-card-content class="wazuh-column">
            <span class="wz-headline-title">Top 5 - High risk alerts
              <span class="wz-text-link" style="float:right;" ng-click="expand(6,'top5HRAlertsVizz')">
                <wz-svg icon="expand"></wz-svg>
              </span>
            </span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <div id="top5HRAlertsVizz" class="dashboard-element single" style="width: 100%"></div>
          </md-card-content>
        </md-card>
      </div>

      <div layout="row" layout-align="center stretch">
        <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[7]}">
          <md-card-content class="wazuh-column">
            <span class="wz-headline-title">Alerts summary
              <span class="wz-text-link" style="float:right;" ng-click="expand(7,'alertsSummaryVizz')">
                <wz-svg icon="expand"></wz-svg>
              </span>
            </span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <div id="alertsSummaryVizz" class="dashboard-element single" style="width: 100%"></div>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </div>
</md-content>