<div flex layout="column" layout-align="start stretch">

  <!-- Breadcrumbs -->
  <div layout="row" layout-padding>
    <!-- If you're not on the Welcome tab, show a functional breadcrumb -->
    <div>
      <a class="wz-text-link cursor-pointer" ui-sref='agents'>Agents</a>
      <span> / </span>
      <span ng-if="!agent.error" class="wz-text-link cursor-pointer">{{agent.name}} ({{agent.id}})</span>
      <span ng-if="agent.error">Unknown agent</span>
      <span> / </span>
      <span>Welcome</span>
    </div>
    <div ng-if="agent.status">
      <span class="wz-agent-status-indicator small" ng-class="getAgentStatusClass(agent.status)" aria-label="Agent status indicator">{{formatAgentStatus(agent.status)}}</span>
    </div>
  </div>
  <!-- End breadcrumbs -->

  <!-- Headline -->
  <div layout="column" layout-padding>
    <span class="font-size-18">
      <i class="fa fa-fw fa-tv" aria-hidden="true"></i> {{ agent.name || '-' }} <span class="wz-text-bold wz-text-link"
        ui-sref='discover' tooltip="Discover"><i class="fa fa-fw fa-compass" aria-hidden="true"></i></span>
    </span>
    <!-- Restart button -->
    <div ng-show="!confirmingRestart">
      <button ng-if="isAdmin && agent.status === 'Active'" ng-click="switchRestart()" ng-disabled="restartInProgress" class="btn wz-button pull-right ng-scope">
        <span aria-hidden="false"><i aria-hidden="true" class="fa fa-fw fa-refresh"></i>
          Restart agent
        </span>
      </button>
    </div>
    <div ng-show="confirmingRestart" style="text-align: right;">
      <span style="padding-top: 8px;">The {{ agent.name}}({{agent.id}}) will be restarted.</span>
      <button style="height: 30px;" ng-if="isAdmin" ng-click="switchRestart()" class='btn btn-info pull-right wz-margin-left-10'>
        <span ng-show='isAdmin'><i aria-hidden='true' class='wz-margin-left-10'></i>Cancel</span>
      </button>
      <button style="height: 30px;" ng-if="isAdmin && !clusterEnabled" ng-click="restart(); switchRestart()" class='btn wz-button pull-right wz-margin-left-10'>
        <span ng-show='isAdmin'><i aria-hidden='true' class='fa fa-fw fa-check wz-margin-left-10'></i>Confirm</span>
      </button>
    </div>
  </div>
  <!-- End headline -->
<div layout="row" layout-padding>
  <md-card flex class="wz-md-card wz-padding-top-0 wz-padding-bottom-0">
      <md-card-content>
          <div class="euiFlexGroup euiFlexGroup--gutterLarge euiFlexGroup--justifyContentSpaceBetween euiFlexGroup--directionRow euiFlexGroup--responsive">
              <div class="euiFlexItem euiFlexItem">
                  <div class="euiStat euiStat--leftAligned">
                      <div class="euiText euiText--small euiStat__description">
                          <p>ID</p>
                      </div>
                      <p class="boldText euiText--small euiStat__description">{{ agent.id || '-' }}</p>
                  </div>
              </div>
              <div class="euiFlexItem euiFlexItem">
                  <div class="euiStat euiStat--leftAligned">
                      <div class="euiText euiText--small euiStat__description">
                          <p>IP</p>
                      </div>
                      <p class="boldText euiText--small euiStat__description">{{ agent.ip || '-'}}</p>
                  </div>
              </div>
              <div class="euiFlexItem euiFlexItem">
                  <div class="euiStat euiStat--leftAligned">
                      <div class="euiText euiText--small euiStat__description">
                          <p>Version</p>
                      </div>
                      <p class="boldText euiText--small euiStat__description">{{ agent.version || '-'}}</p>
                  </div>
              </div>
              <div class="euiFlexItem euiFlexItem">
                  <div class="euiStat euiStat--leftAligned">
                      <div class="euiText euiText--small euiStat__description">
                          <p>OS</p>
                      </div>
                      <p class="boldText euiText--small euiStat__description">{{ agentOS || '-'}}</p>
                  </div>
              </div>
              <div class="euiFlexItem euiFlexItem">
                  <div class="euiStat euiStat--leftAligned">
                      <div class="euiText euiText--small euiStat__description">
                          <p>Registration date</p>
                      </div>
                      <p class="boldText euiText--small euiStat__description">{{agent.dateAdd || '-'}}</p>
                  </div>
              </div>
              <div class="euiFlexItem euiFlexItem">
                  <div class="euiStat euiStat--leftAligned">
                      <div class="euiText euiText--small euiStat__description">
                          <p>Last keep alive</p>
                      </div>
                      <p class="boldText euiText--small euiStat__description">{{agent.lastKeepAlive || '-' }}</p>
                  </div>
              </div>
              <div class="euiFlexItem euiFlexItem">
                  <div class="euiStat euiStat--leftAligned">
                      <div class="euiText euiText--small euiStat__description">
                          <p>Last syscheck scan</p>
                      </div>
                      <p class="boldText euiText--small euiStat__description" ng-if="agent.syscheck.inProgress">Scan
                          in progress</p>
                      <p class="boldText euiText--small euiStat__description" ng-if="!agent.syscheck.inProgress">{{agent.syscheck.end
                          || '-'}} <md-tooltip ng-if="!agent.syscheck.inProgress && agent.syscheck.start && agent.syscheck.end"
                              md-direction="bottom" class="wz-tooltip">
                              Start time: {{ agent.syscheck.start || '-'}} <br>
                              End time: {{ agent.syscheck.end || '-'}} <br>
                              Duration time: {{ agent.syscheck.duration +' minutes' || '-'}}
                          </md-tooltip>
                      </p>
                  </div>
              </div>
              <div class="euiFlexItem euiFlexItem">
                  <div class="euiStat euiStat--leftAligned">
                      <div class="euiText euiText--small euiStat__description">
                          <p>Last rootcheck scan</p>
                      </div>
                      <p class="boldText euiText--small euiStat__description" ng-if="agent.rootcheck.inProgress">Scan
                          in progress</p>
                      <p class="boldText euiText--small euiStat__description" ng-if="!agent.rootcheck.inProgress">{{agent.rootcheck.end
                          || '-'}}
                          <md-tooltip ng-if="!agent.rootcheck.inProgress && agent.rootcheck.start && agent.rootcheck.end"
                              md-direction="bottom" class="wz-tooltip">
                              Start time: {{ agent.rootcheck.start || '-'}} <br>
                              End time: {{ agent.rootcheck.end || '-'}} <br>
                              Duration time: {{ agent.rootcheck.duration +' minutes' || '-'}}
                          </md-tooltip>
                      </p>
                  </div>
              </div>
          </div>
      </md-card-content>
  </md-card>
</div>
<div layout="row" layout-padding>
  <md-card flex class="wz-md-card wz-padding-top-0 wz-padding-bottom-0" ng-if="agent.group">
      <md-card-content>

          <div layout="row" >
              <span class="font-size-16">Groups <i ng-if='adminMode' tooltip="Add group" ng-click="switchGroupEdit()"
                      class="wz-text-bold wz-text-link-add fa fa-fw" ng-class="!addingGroupToAgent ? 'fa-plus-circle' : 'fa-minus-circle'"></i></span>
          </div>
          <md-divider ng-if="agent.group" class="wz-margin-top-10"></md-divider>
          <div layout="row" class="wz-margin-top-10" ng-if="agent.group && editGroup && !addingGroupToAgent">
              <div class="wz-word-break" flex ng-if="groups && groups.length">
                  Available groups:
              </div>
              <div class="wz-word-break" flex ng-if="!groups || !groups.length">
                  No more groups available. Create a new group at <span ><a ui-sref="mg-groups">Management > Groups</a>.</span>
              </div>
          </div>
          <div ng-if="agent.group && editGroup && !addingGroupToAgent && groups && groups.length" class="wz-margin-top-4">
              <span ng-repeat="group in groups" class="wz-text-bold wz-text-link" ng-click="showConfirmAddGroup(group)">{{
                  group }}&nbsp;</span>
          </div>

          <div class="wz-margin-top-10 confirmEmbedBubble" ng-if="agent.group && editGroup && addingGroupToAgent">
              <div layout="row">
                  <span class="font-size-12  wz-padding-left-8"> Agent {{agent.name}}({{agent.id}}) will be added to group {{addingGroupToAgent}}.</span>
              </div>
              <div layout="row">
                  <md-button class="cancelBtn" type="button" ng-click="cancelAddGroup()">Cancel</md-button>
                  <md-button class="agreeBtn" type="button" ng-click="confirmAddGroup(addingGroupToAgent)"><i
                          aria-hidden='true' class='fa fa-fw fa-check'></i> Confirm</md-button>
              </div>
          </div>
          <div layout="row" ng-if="agent.group" class="wz-word-break wz-padding-top-10">
              <span ng-repeat="group in agent.group" class="wz-text-bold wz-text-link" ng-click="goGroups(agent,$index)">{{
                  group
                  }}&nbsp;</span>
          </div>

      </md-card-content>
  </md-card>
</div>

  <div layout="column" ng-if="agent.error">
    <!-- No configuration card -->
    <md-card class="wz-md-card">
      <md-card-content class="wz-text-center">
        <i class="fa fa-fw fa-info-circle" aria-hidden="true"></i> <span class="wz-headline-title">Unable to load agent
          data</span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div layout="column" class="wz-padding-top-10">
          <p>{{agent.error}}</p>
        </div>
      </md-card-content>
    </md-card>
  </div>

  <div layout="row" layout-padding ng-if="!agent.error">
    <div class="euiFlexGroup euiFlexGroup--gutterLarge euiFlexGroup--responsive">
      <div class="euiFlexItem flex-50">
        <div class="euiPanel euiPanel--paddingLarge">
          <h3 class="euiTitle">Security Information Management</h3>
          <div class="euiSpacer euiSpacer--m"></div>
          <div class="euiFlexGrid euiFlexGrid--gutterLarge euiFlexGrid--halves">
            <wz-welcome-card class="euiFlexItem" logo="'/static/app/SplunkAppForWazuh/css/images/app_dashboard.svg'"
              title="'Security events'" ui-sref='ag-general({id:agent.id})' current-tab="'general'" description="'Browse through your security alerts, identifying issues and threats in your environment.'"></wz-welcome-card>
            <wz-welcome-card class="euiFlexItem" logo="'/static/app/SplunkAppForWazuh/css/images/app_logging.svg'"
              title="'Integrity monitoring'" ui-sref='ag-fim({id:agent.id})' current-tab="'fim'" description="'Alerts related to file changes, including permissions, content, ownership and attributes.'"></wz-welcome-card>
            <wz-welcome-card ng-if="!agent.error" class="euiFlexItem" logo="'/static/app/SplunkAppForWazuh/css/images/app_devtools.svg'"
              title="'Configuration'" ui-sref='ag-conf({id:agent.id})' current-tab="'configuration'" description="'Check the current agent configuration remotely applied by its group.'"></wz-welcome-card>
            <wz-welcome-card ng-if="!agent.error" ui-sref='ag-inventory({id:agent.id})' class="euiFlexItem" logo="'/static/app/SplunkAppForWazuh/css/images/app_index_pattern.svg'"
              title="'Inventory data'" switch-tab="switchTab('syscollector')" current-tab="'syscollector'" description="'Applications, network configuration, open ports and processes running on your monitored systems.'"></wz-welcome-card>
          </div>
        </div>
      </div>
      <div class="euiFlexItem flex-50">
        <div class="euiPanel euiPanel--paddingLarge">
          <h3 class="euiTitle">Auditing and Policy Monitoring</h3>
          <div class="euiSpacer euiSpacer--m"></div>
          <div class="euiFlexGrid euiFlexGrid--gutterLarge euiFlexGrid--halves">
            <wz-welcome-card class="euiFlexItem" logo="'/static/app/SplunkAppForWazuh/css/images/app_advanced_settings.svg'"
              title="'Policy monitoring'" ui-sref='ag-pm({id:aoc.agent.id})' current-tab="'pm'" description="'Configuration to ensure compliance with security policies, standards and hardening guides'"></wz-welcome-card>
            <wz-welcome-card class="euiFlexItem" logo="'/static/app/SplunkAppForWazuh/css/images/app_timelion.svg'"
              title="'Configuration assessment'" ui-sref='ag-ca({id:aoc.agent.id})' current-tab="'conf-assess'" description="'Scan your assets as part of a configuration assessment audit.'"></wz-welcome-card>
            <wz-welcome-card class="euiFlexItem" logo="'/static/app/SplunkAppForWazuh/css/images/app_monitoring.svg'"
              title="'System auditing'" ui-sref='ag-audit({id:agent.id})' ng-if="audit && isLinux" current-tab="'audit'"
              description="'Audit users behavior, monitoring command execution and alerting on access to critical files.'"></wz-welcome-card>
            <wz-welcome-card ng-if="oscap && isLinux" class="euiFlexItem" logo="'/static/app/SplunkAppForWazuh/css/images/app_discover.svg'"
              title="'Open SCAP'" ui-sref='ag-os({id:agent.id})' current-tab="'oscap'" description="'Configuration assessment and automation of compliance monitoring using SCAP checks.'"></wz-welcome-card>
            <wz-welcome-card ng-if='ciscat' ui-sref='ag-ciscat({id:agent.id})' class="euiFlexItem" logo="'/static/app/SplunkAppForWazuh/css/images/app_advanced_settings.svg'"
              title="'CIS-CAT'" switch-tab="switchTab('ciscat')" current-tab="'ciscat'" description="'Configuration assessment using Center of Internet Security scanner and SCAP checks.'"></wz-welcome-card>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div layout="row" layout-padding ng-if="!agent.error">
    <div class="euiFlexGroup euiFlexGroup--gutterLarge euiFlexGroup--responsive">
      <div class="euiFlexItem flex-50">
        <div class="euiPanel euiPanel--paddingLarge">
          <h3 class="euiTitle">Threat Detection and Response</h3>
          <div class="euiSpacer euiSpacer--m"></div>
          <div class="euiFlexGrid euiFlexGrid--gutterLarge euiFlexGrid--halves">
            <wz-welcome-card class="euiFlexItem" logo="'/static/app/SplunkAppForWazuh/css/images/app_security.svg'"
              title="'Vulnerabilities'" ui-sref='ag-vul({id:agent.id})' current-tab="'vuls'" description="'Discover what applications are affected by well-known vulnerabilities'"></wz-welcome-card>

            <wz-welcome-card ng-if="osquery" class="euiFlexItem" logo="'/static/app/SplunkAppForWazuh/css/images/osquery.svg'"
              title="'Osquery'" ui-sref='ag-osquery' current-tab="'osquery'" description="'Osquery allows to expose an operating system as a high-performance relational database.'"></wz-welcome-card>

            <wz-welcome-card ng-if="virustotal" class="euiFlexItem" logo="'/static/app/SplunkAppForWazuh/css/images/app_saved_objects.svg'"
              title="'VirusTotal'" ui-sref='ag-virustotal' current-tab="'virustotal'" description="'Alerts resulting from VirusTotal analysis of suspicious files via an integration with their API.'"></wz-welcome-card>
          </div>
        </div>
      </div>
      <div ng-if="gdpr || pci" class="euiFlexItem flex-50">
        <div class="euiPanel euiPanel--paddingLarge">
          <h3 class="euiTitle">Regulatory Compliance</h3>
          <div class="euiSpacer euiSpacer--m"></div>
          <div class="euiFlexGrid euiFlexGrid--gutterLarge euiFlexGrid--halves">
            <wz-welcome-card ng-if="pci" class="euiFlexItem" logo="'/static/app/SplunkAppForWazuh/css/images/app_apm.svg'"
              title="'PCI DSS'" ui-sref='ag-pci({id:agent.id})' current-tab="'pci'" description="'Global security standard for entities that process, store or transmit payment cardholder data.'"></wz-welcome-card>
            <wz-welcome-card ng-if="gdpr" class="euiFlexItem" logo="'/static/app/SplunkAppForWazuh/css/images/app_visualize.svg'"
              title="'GDPR'" ui-sref='ag-gdpr({id:agent.id})' current-tab="'gdpr'" description="'General Data Protection Regulation (GDPR) sets guidelines for processing of personal data.'"></wz-welcome-card>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>