<div flex layout="column" layout-align="start stretch">
  <!-- Breadcrumbs -->
  <div layout="row" class="wz-height-35">
    <div class="wz-breadcrumb-margin">
      <a class="wz-text-link cursor-pointer" ui-sref="agents">Agents</a>
      <span> / </span>
      <span
        ng-if="!agent.error"
        class="wz-text-link cursor-pointer wz-agent-name-long wz-agent-name-position"
        title="{{agent.name}} ({{agent.id}})">
        {{agent.name}} ({{agent.id}})
      </span>
      <span ng-if="agent.error">Unknown agent</span>
      <span ng-if="agent && agent.status">
        <span class="no-wrap wz-padding-left-8" aria-hidden="false">
          <wz-svg icon="agent-{{agent.status}}"></wz-svg>
        </span>
        {{formatAgentStatus(agent.status)}}
      </span>
    </div>
    <div flex></div>
    <div
      layout="row"
      class="wz-no-padding-bottom wz-margin-top-5 wz-margin-right-15">
      <span flex="" class="flex"></span>
      <button
        class="btn wz-button-empty pull-right ng-scope wz-margin-right-10"
        ng-click="openDiscover(agent.id)"
        tooltip="Discover">
        <wz-svg icon="compass"></wz-svg>
        Discover
      </button>
      <!-- Restart button -->
      <div ng-show="confirmingRestart" style="text-align: right">
        <span style="padding-top: 8px">
          The {{ agent.name}}({{agent.id}}) will be restarted.
        </span>
        <button
          style="height: 30px"
          ng-click="switchRestart()"
          class="btn wz-button-cancel pull-right wz-margin-left-10">
          <span>
            <i aria-hidden="true" class="wz-margin-left-10"></i>
            Cancel
          </span>
        </button>
        <button
          style="height: 30px"
          ng-if="canRestartAgent && !clusterEnabled"
          ng-click="restart(); switchRestart()"
          class="btn wz-button-empty pull-right wz-margin-left-10">
          <span>
            <i
              aria-hidden="true"
              class="fa fa-fw fa-check wz-margin-left-10"></i>
            Confirm
          </span>
        </button>
      </div>
      <div ng-show="!confirmingRestart">
        <button
          ng-if="canRestartAgent && agent.status === 'Active'"
          ng-click="switchRestart()"
          ng-disabled="restartInProgress"
          class="btn wz-button-empty pull-right ng-scope">
          <span aria-hidden="false">
            <wz-svg icon="refresh"></wz-svg>
            Restart agent
          </span>
        </button>
      </div>
    </div>
  </div>
  <!-- End breadcrumbs -->

  <!-- Headline -->
  <div layout="column" layout-padding class="wz-margin-top--10">
    <!-- Agent info -->
    <div layout-padding class="wz-no-padding">
      <div class="wz-float-agent">
        <div
          class="wz-lh-32 agent-name-title wz-agent-name-long"
          title="{{agent.name}}">
          {{ agent.name || '-' }}
        </div>
      </div>
      <div class="agent-details-box">
        <div
          class="euiFlexGroup euiFlexGroup--gutterLarge euiFlexGroup--justifyContentSpaceBetween euiFlexGroup--directionRow euiFlexGroup--responsive">
          <div
            class="euiFlexItem euiFlexItem"
            style="max-width: 80px !important">
            <div class="euiStat euiStat--leftAligned wz-text-align-center">
              <div class="euiText euiText--small euiStat__description">
                <p class="agentField">{{ agent.id || '-' }}</p>
              </div>
              <p class="euiText--small euiStat__description">ID</p>
            </div>
          </div>
          <div class="euiFlexItem euiFlexItem">
            <div class="euiStat euiStat--leftAligned wz-text-align-center">
              <div class="euiText euiText--small euiStat__description">
                <p class="agentField">{{ agent.ip || '-'}}</p>
              </div>
              <p class="euiText--small euiStat__description">IP</p>
            </div>
          </div>
          <div class="euiFlexItem euiFlexItem">
            <div class="euiStat euiStat--leftAligned wz-text-align-center">
              <div class="euiText euiText--small euiStat__description">
                <p class="agentField">{{ agent.version || '-'}}</p>
              </div>
              <p class="euiText--small euiStat__description">Version</p>
            </div>
          </div>
          <div class="euiFlexItem euiFlexItem wz-width-400">
            <div class="euiStat euiStat--leftAligned wz-text-align-center">
              <div class="euiText euiText--small euiStat__description">
                <p class="agentField">{{ agentOS || '-'}}</p>
              </div>
              <p class="euiText--small euiStat__description">OS</p>
            </div>
          </div>
          <div class="euiFlexItem euiFlexItem">
            <div class="euiStat euiStat--leftAligned wz-text-align-center">
              <div class="euiText euiText--small euiStat__description">
                <p class="agentField">{{ agent.node_name || '-'}}</p>
              </div>
              <p class="euiText--small euiStat__description">Cluster node</p>
            </div>
          </div>
          <div class="euiFlexItem euiFlexItem">
            <div class="euiStat euiStat--leftAligned wz-text-align-center">
              <div class="euiText euiText--small euiStat__description">
                <p class="agentField">
                  {{offsetTimestamp('', agent.dateAdd) || '-'}}
                </p>
              </div>
              <p class="euiText--small euiStat__description">
                Registration date
              </p>
            </div>
          </div>
          <div class="euiFlexItem euiFlexItem">
            <div class="euiStat euiStat--leftAligned wz-text-align-center">
              <div class="euiText euiText--small euiStat__description">
                <p class="agentField">
                  {{offsetTimestamp('', agent.lastKeepAlive) || '-'}}
                </p>
              </div>
              <p class="euiText--small euiStat__description">Last keep alive</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End headline -->

  <div
    ng-if="agent.status !== 'Never connected'"
    layout="row"
    layout-padding
    class="wz-margin-top--15">
    <md-card flex class="wz-md-card wz-padding-top-0 wz-padding-bottom-0">
      <md-card-content>
        <div layout="row" ng-if="agent.group">
          <span class="font-size-17">
            Groups
            <wz-svg
              ng-if="canModifyGroup"
              ng-click="switchGroupEdit()"
              svg-tooltip="Add group"
              icon="plus"
              color="#0079a5">
            </wz-svg>
          </span>
        </div>
        <md-divider ng-if="agent.group" class="wz-margin-top-10"></md-divider>
        <div
          layout="row"
          class="wz-margin-top-10"
          ng-if="agent.group && editGroup && !addingGroupToAgent">
          <div class="wz-word-break" flex ng-if="groups && groups.length">
            Available groups:
          </div>
          <div class="wz-word-break" flex ng-if="!groups || !groups.length">
            No more groups available. Create a new group at
            <span><a ui-sref="mg-groups">Management > Groups</a>.</span>
          </div>
        </div>
        <div
          ng-if="agent.group && editGroup && !addingGroupToAgent && groups && groups.length"
          class="wz-margin-top-4">
          <span
            ng-repeat="group in groups"
            class="wz-text-bold wz-text-link"
            ng-click="showConfirmAddGroup(group)">
            {{ group }}&nbsp;
          </span>
        </div>

        <div
          class="wz-margin-top-10 confirmEmbedBubble"
          ng-if="agent.group && editGroup && addingGroupToAgent">
          <div layout="row">
            <span class="font-size-12 wz-padding-left-8">
              Agent {{agent.name}}({{agent.id}}) will be added to group
              {{addingGroupToAgent}}.
            </span>
          </div>
          <div layout="row">
            <md-button
              class="cancelBtn"
              type="button"
              ng-click="cancelAddGroup()">
              Cancel
            </md-button>
            <md-button
              class="agreeBtn"
              type="button"
              ng-click="confirmAddGroup(addingGroupToAgent)">
              <i aria-hidden="true" class="fa fa-fw fa-check"></i>
              Confirm
            </md-button>
          </div>
        </div>
        <div
          layout="row"
          ng-if="agent.group"
          class="wz-word-break wz-padding-top-10">
          <span
            ng-repeat="group in agent.group"
            class="wz-text-bold wz-text-link font-size-15"
            ng-click="goGroups(group)">
            {{ group }}&nbsp;
          </span>
        </div>
      </md-card-content>
    </md-card>
  </div>

  <div layout="column" ng-if="agent.error">
    <!-- No configuration card -->
    <md-card class="wz-md-card">
      <md-card-content class="wz-text-center">
        <i class="fa fa-fw fa-info-circle" aria-hidden="true"></i>
        <span class="wz-headline-title">Unable to load agent data</span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div layout="column" class="wz-padding-top-10">
          <p>{{agent.error}}</p>
        </div>
      </md-card-content>
    </md-card>
  </div>

  <div layout="row" layout-padding ng-if="!agent.error">
    <div
      class="euiFlexGroup euiFlexGroup--gutterLarge euiFlexGroup--responsive">
      <div class="euiFlexItem flex-50">
        <div class="euiPanel euiPanel--paddingLarge">
          <h3 class="euiTitle wc-title welcome-card-main-title">
            Security Information Management
          </h3>
          <div class="euiSpacer euiSpacer--m"></div>
          <div
            class="euiFlexGrid euiFlexGrid--gutterLarge euiFlexGrid--halves wz-width-96">
            <wz-welcome-card
              class="euiFlexItem"
              logo="'/static/app/SplunkAppForWazuh/css/images/app_dashboard.svg'"
              sub-title="'Security events'"
              ui-sref="ag-general({id:agent.id})"
              current-tab="'general'"
              description="'Browse through your security alerts, identifying issues and threats in your environment.'">
            </wz-welcome-card>
            <wz-welcome-card
              class="euiFlexItem"
              logo="'/static/app/SplunkAppForWazuh/css/images/app_logging.svg'"
              sub-title="'Integrity monitoring'"
              ui-sref="ag-fim({id:agent.id})"
              current-tab="'fim'"
              description="'Alerts related to file changes, including permissions, content, ownership and attributes.'">
            </wz-welcome-card>
            <wz-welcome-card
              ng-if="!agent.error"
              class="euiFlexItem"
              logo="'/static/app/SplunkAppForWazuh/css/images/app_devtools.svg'"
              sub-title="'Configuration'"
              ui-sref="ag-conf({id:agent.id})"
              current-tab="'configuration'"
              description="'Check the current agent configuration remotely applied by its group.'">
            </wz-welcome-card>
            <wz-welcome-card
              ng-if="!agent.error"
              ui-sref="ag-inventory({id:agent.id})"
              class="euiFlexItem"
              logo="'/static/app/SplunkAppForWazuh/css/images/app_index_pattern.svg'"
              sub-title="'Inventory data'"
              switch-tab="switchTab('syscollector')"
              current-tab="'syscollector'"
              description="'Applications, network configuration, open ports and processes running on your monitored systems.'">
            </wz-welcome-card>
          </div>
        </div>
      </div>
      <div class="euiFlexItem flex-50">
        <div class="euiPanel euiPanel--paddingLarge">
          <h3 class="euiTitle wc-title welcome-card-main-title">
            Auditing and Policy Monitoring
          </h3>
          <div class="extensions-eye" ng-show="isSplunkAdmin">
            <md-tooltip class="wz-tooltip" md-direction="bottom">
              Show extensions list
            </md-tooltip>
            <wz-svg
              ng-click="showExtensionsLists('auditing')"
              icon="eye"
              color="#396e3e"
              class="pull-right">
            </wz-svg>
          </div>

          <div ng-show="extensionsLists.auditing" class="extensions-list">
            <ul class="noDot ul-extensions">
              <li>
                <wz-kbn-switch
                  switch-model="extensions.audit"
                  switch-change="toggleExtension('audit',!extensions.audit)">
                </wz-kbn-switch>
                <span>System auditing</span>
              </li>
              <li ng-if="checkModules('oscap')">
                <wz-kbn-switch
                  switch-model="extensions.oscap"
                  switch-change="toggleExtension('oscap',!extensions.oscap)">
                </wz-kbn-switch>
                <span>OpenSCAP</span>
              </li>
              <li>
                <wz-kbn-switch
                  switch-model="extensions.ciscat"
                  switch-change="toggleExtension('ciscat',!extensions.ciscat)">
                </wz-kbn-switch>
                <span>CIS-CAT</span>
              </li>
            </ul>
          </div>
          <div class="euiSpacer euiSpacer--m"></div>
          <div
            class="euiFlexGrid euiFlexGrid--gutterLarge euiFlexGrid--halves wz-width-96">
            <wz-welcome-card
              class="euiFlexItem"
              logo="'/static/app/SplunkAppForWazuh/css/images/app_advanced_settings.svg'"
              sub-title="'Policy monitoring'"
              ui-sref="ag-pm({id:aoc.agent.id})"
              current-tab="'pm'"
              description="'Configuration to ensure compliance with security policies, standards and hardening guides'">
            </wz-welcome-card>
            <wz-welcome-card
              class="euiFlexItem"
              logo="'/static/app/SplunkAppForWazuh/css/images/app_sca.svg'"
              sub-title="'Security Configuration Assessment'"
              ui-sref="ag-ca({id:aoc.agent.id})"
              current-tab="'conf-assess'"
              description="'Scan your assets as part of a configuration assessment audit.'">
            </wz-welcome-card>
            <wz-welcome-card
              class="euiFlexItem"
              logo="'/static/app/SplunkAppForWazuh/css/images/app_monitoring.svg'"
              sub-title="'System auditing'"
              ui-sref="ag-audit({id:agent.id})"
              ng-if="extensions.audit && checkModules('audit')"
              current-tab="'audit'"
              description="'Audit users behavior, monitoring command execution and alerting on access to critical files.'">
            </wz-welcome-card>
            <wz-welcome-card
              ng-if="extensions.oscap && checkModules('oscap')"
              class="euiFlexItem"
              logo="'/static/app/SplunkAppForWazuh/css/images/app_discover.svg'"
              sub-title="'Open SCAP'"
              ui-sref="ag-os({id:agent.id})"
              current-tab="'oscap'"
              description="'Configuration assessment and automation of compliance monitoring using SCAP checks.'">
            </wz-welcome-card>
            <wz-welcome-card
              ng-if="extensions.ciscat"
              ui-sref="ag-ciscat({id:agent.id})"
              class="euiFlexItem"
              logo="'/static/app/SplunkAppForWazuh/css/images/app_advanced_settings.svg'"
              sub-title="'CIS-CAT'"
              switch-tab="switchTab('ciscat')"
              current-tab="'ciscat'"
              description="'Configuration assessment using Center of Internet Security scanner and SCAP checks.'">
            </wz-welcome-card>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div layout="row" layout-padding ng-if="!agent.error">
    <div
      class="euiFlexGroup euiFlexGroup--gutterLarge euiFlexGroup--responsive">
      <div class="euiFlexItem flex-50">
        <div class="euiPanel euiPanel--paddingLarge">
          <h3 class="euiTitle wc-title welcome-card-main-title">
            Threat Detection and Response
          </h3>
          <div class="extensions-eye" ng-show="isSplunkAdmin">
            <md-tooltip class="wz-tooltip" md-direction="bottom">
              Show extensions list
            </md-tooltip>
            <wz-svg
              ng-click="showExtensionsLists('threadDetection')"
              icon="eye"
              color="#396e3e"
              class="pull-right">
            </wz-svg>
          </div>
          <div
            ng-show="extensionsLists.threadDetection"
            class="extensions-list">
            <ul class="noDot ul-extensions">
              <li>
                <wz-kbn-switch
                  switch-model="extensions.virustotal"
                  switch-change="toggleExtension('virustotal',!extensions.virustotal)"></wz-kbn-switch>
                <span>VirusTotal</span>
              </li>
              <li>
                <wz-kbn-switch
                  switch-model="extensions.osquery"
                  switch-change="toggleExtension('osquery',!extensions.osquery)"></wz-kbn-switch>
                <span>Osquery</span>
              </li>
              <li ng-if="checkModules('docker')">
                <wz-kbn-switch
                  switch-model="extensions.docker"
                  switch-change="toggleExtension('docker',!extensions.docker)">
                </wz-kbn-switch
                ><span>Docker listener</span>
              </li>
            </ul>
          </div>
          <div class="euiSpacer euiSpacer--m"></div>
          <div
            class="euiFlexGrid euiFlexGrid--gutterLarge euiFlexGrid--halves wz-width-96">
            <wz-welcome-card
              ng-if="checkModules('vuls')"
              class="euiFlexItem"
              logo="'/static/app/SplunkAppForWazuh/css/images/app_security.svg'"
              sub-title="'Vulnerabilities'"
              ui-sref="ag-vul({id:agent.id})"
              current-tab="'vuls'"
              description="'Discover what applications are affected by well-known vulnerabilities'">
            </wz-welcome-card>
            <wz-welcome-card
              ng-if="extensions.virustotal"
              class="euiFlexItem"
              logo="'/static/app/SplunkAppForWazuh/css/images/app_saved_objects.svg'"
              sub-title="'VirusTotal'"
              ui-sref="ag-virustotal"
              current-tab="'virustotal'"
              description="'Alerts resulting from VirusTotal analysis of suspicious files via an integration with their API.'">
            </wz-welcome-card>
            <wz-welcome-card
              ng-if="extensions.osquery"
              class="euiFlexItem"
              logo="'/static/app/SplunkAppForWazuh/css/images/osquery.svg'"
              sub-title="'Osquery'"
              ui-sref="ag-osquery"
              current-tab="'osquery'"
              description="'Osquery allows to expose an operating system as a high-performance relational database.'">
            </wz-welcome-card>
            <wz-welcome-card
              ng-if="extensions.docker && checkModules('docker')"
              class="euiFlexItem"
              logo="'/static/app/SplunkAppForWazuh/css/images/docker.svg'"
              sub-title="'Docker listener'"
              ui-sref="ag-docker"
              current-tab="'docker'"
              description="'Collects events on Docker containers such as starting, stopping or pausing.'">
            </wz-welcome-card>
            <div
              ng-if="(agentPlatform !== 'linux') && !checkModules('docker') && !extensions.osquery && !extensions.virustotal"
              flex
              class="euiCallOut euiCallOut--success">
              <div class="euiCallOutHeader">
                <wz-svg icon="callOutHeader"></wz-svg>
                <span class="euiCallOutHeader__title"
                  >Click the <wz-svg icon="eye"></wz-svg> icon to show Threat
                  detection and response extensions.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="euiFlexItem flex-50">
        <div class="euiPanel euiPanel--paddingLarge">
          <h3 class="euiTitle wc-title welcome-card-main-title">
            Regulatory Compliance
          </h3>
          <div class="extensions-eye" ng-show="isSplunkAdmin">
            <md-tooltip class="wz-tooltip" md-direction="bottom">
              Show extensions list
            </md-tooltip>
            <wz-svg
              ng-click="showExtensionsLists('regulatory')"
              icon="eye"
              color="#396e3e"
              class="pull-right">
            </wz-svg>
          </div>
          <div ng-show="extensionsLists.regulatory" class="extensions-list">
            <ul class="noDot ul-extensions">
              <li>
                <wz-kbn-switch
                  switch-model="extensions.pci"
                  switch-change="toggleExtension('pci',!extensions.pci)">
                </wz-kbn-switch>
                <span>PCI DSS</span>
              </li>
              <li>
                <wz-kbn-switch
                  switch-model="extensions.gdpr"
                  switch-change="toggleExtension('gdpr',!extensions.gdpr)">
                </wz-kbn-switch>
                <span>GDPR</span>
              </li>
              <li>
                <wz-kbn-switch
                  switch-model="extensions.hipaa"
                  switch-change="toggleExtension('hipaa',!extensions.hipaa)">
                </wz-kbn-switch>
                <span>HIPAA</span>
              </li>
              <li>
                <wz-kbn-switch
                  switch-model="extensions.nist"
                  switch-change="toggleExtension('nist',!extensions.nist)">
                </wz-kbn-switch>
                <span>NIST 800-53</span>
              </li>
            </ul>
          </div>
          <div class="euiSpacer euiSpacer--m"></div>
          <div
            class="euiFlexGrid euiFlexGrid--gutterLarge euiFlexGrid--halves wz-width-96">
            <wz-welcome-card
              ng-if="extensions.pci"
              class="euiFlexItem"
              logo="'/static/app/SplunkAppForWazuh/css/images/app_apm.svg'"
              sub-title="'PCI DSS'"
              ui-sref="ag-pci({id:agent.id})"
              current-tab="'pci'"
              description="'Global security standard for entities that process, store or transmit payment cardholder data.'">
            </wz-welcome-card>
            <wz-welcome-card
              ng-if="extensions.gdpr"
              class="euiFlexItem"
              logo="'/static/app/SplunkAppForWazuh/css/images/app_visualize.svg'"
              sub-title="'GDPR'"
              ui-sref="ag-gdpr({id:agent.id})"
              current-tab="'gdpr'"
              description="'General Data Protection Regulation (GDPR) sets guidelines for processing of personal data.'">
            </wz-welcome-card>
            <wz-welcome-card
              ng-if="extensions.hipaa"
              class="euiFlexItem"
              logo="'/static/app/SplunkAppForWazuh/css/images/app_visualize.svg'"
              sub-title="'HIPAA'"
              ui-sref="ag-hipaa({id:agent.id})"
              current-tab="'gdpr'"
              description="'Health Insurance Portability and Accountability Act of 1996 (HIPAA) provides data privacy and security provisions for safeguarding medical information.'">
            </wz-welcome-card>
            <wz-welcome-card
              ng-if="extensions.nist"
              class="euiFlexItem"
              logo="'/static/app/SplunkAppForWazuh/css/images/app_visualize.svg'"
              sub-title="'NIST 800-53'"
              ui-sref="ag-nist({id:agent.id})"
              current-tab="'gdpr'"
              description="'National Institute of Standards and Technology Special Publication 800-53 (NIST 800-53) sets guidelines for federal information systems.'">
            </wz-welcome-card>
            <div
              ng-if="!extensions.gdpr && !extensions.pci && !extensions.hipaa && !extensions.nist"
              flex
              class="euiCallOut euiCallOut--success">
              <div class="euiCallOutHeader">
                <wz-svg icon="callOutHeader"></wz-svg>
                <span class="euiCallOutHeader__title">
                  Click the <wz-svg icon="eye"></wz-svg> icon to show regulatory
                  compliance extensions.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
