:root {
  --primary-color: rgb(63, 126, 67);
  --primary-text-color: #0a7b0a;
  --secondary-color: #0079a5;
  --primary-bright-color: #5cc05c;
  --button-dark-primary: rgb(28, 58, 31);
  --primary-shade-color: #396e3e;
  --primary-light-shade-color: #43884a;
  --primary-lightest-color: #e4f5e6;
  --accent-color: #00445a;
  --primary-half-opacity: rgba(200, 239, 172, 0.478);
  --primary-lightest-opacity: rgba(92, 192, 92, 0.161);
  --grey-color: #595d65;
  --danger-color: #da2062;
  --info-color: #0b3b98;
  --bg-menu-select-color: rgb(0, 68, 90);
  --bg-active-color: #46bfbd;
  --bg-pending-color: #ffd35e;
  --text-warn-color: #b18e2c;
  --bg-disconnected-color: #f7464a;
  --bg-never-connected-color: #949fb1;
}
