/* Custom tooltip styles */

.wz-tooltip {
    opacity: 100 !important;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.md-panel.md-tooltip.md-default-theme, .md-panel.md-tooltip {
    color: rgba(255,255,255,0.87) !important;
    background-color: rgb(0, 0, 0) !important;
    padding-left: 0.5em !important;
    padding-bottom: 0.5em !important;
    padding-right: 0.5em !important;
    padding-top: 0.5em !important;
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
    margin-left: 0.5em !important;
    margin-right: 0.5em !important;
}

.md-tooltip.md-hide {
    -webkit-transition: all .0s cubic-bezier(.55,0,.55,.2) !important;
    transition: all .0s cubic-bezier(.55,0,.55,.2) !important;
    transition-property: all !important;
    transition-duration: 0.0s !important;
    transition-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2) !important;
    transition-delay: 0s !important;
}

.wz-tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.wz-tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.wz-tooltip:hover .tooltiptext {
    visibility: visible;
}



/*tooltip Box*/
.con-wz-tooltip-guide {
    position: relative;    
    border-radius: 9px;    
    display: inline-block;    
    transition: all 0.3s ease-in-out;
    cursor: default;
  
  }
  
  /*tooltip */
  .wz-tooltip-guide {
    visibility: hidden;
    z-index: 101;
    opacity: .40;
    width: 180%;
    min-width:220px;
    padding: 5px 10px;
    background: #333;
    color: rgb(255, 255, 255) !important;
    position: absolute;
    top:-140%;
    left: -25%;
    border-radius: 9px;
    font: 15px;
    transform: translateY(9px);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
  }

  .con-wz-tooltip-guide:hover .wz-tooltip-guide{
    visibility: visible;
    transform: translateY(-10px);
    opacity: 1;
    transition: .3s linear;
  }
  .wz-tooltip-guide:hover{
      visibility: hidden;
  }

  /*left*/
  .left .wz-tooltip-guide{ top:-20%; left:-170%; }

  /*bottom*/
  .bottom .wz-tooltip-guide { top:115%; left:-20%; } 
  
  /*right*/
  .right .wz-tooltip-guide { top:-20%; left:106%; }
  
 