<md-content flex layout="column" layout-align="end">
  <div layout="row">
    <div class='wz-margin-left-10 wz-margin-top-12'>
      <span class="wz-text-link cursor-pointer" ui-sref='overview'>Overview</span>
      <span>/ Amazon Web Services </span>
    </div>
    <div flex></div>
    <div style="margin-right:7px;" id='input1'></div>
  </div>

  <!-- Filter bar -->
  <wazuh-bar></wazuh-bar>

  <!-- first row  -->
  <div id="row2" layout="row">
    <!-- first row - first vis -->
    <md-card flex="60" class="wz-md-card">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Alerts over time</span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='alertsOverTime'></div>
      </md-card-content>
    </md-card>
    <!-- first row - second vis -->
    <md-card flex="40" class="wz-md-card">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Most common events</span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='mostCommonEvents'></div>
      </md-card-content>
    </md-card>
  </div>

  <!-- second row  -->
  <div id="row2" layout="row">
    <!-- second row - first vis -->
    <md-card flex="33" class="wz-md-card">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Top 5 instances</span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='topInstances'></div>
      </md-card-content>
    </md-card>
    <!-- second row - second vis -->
    <md-card flex="33" class="wz-md-card">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Top 5 source IP addresses</span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='topAddrs'></div>
      </md-card-content>
    </md-card>
    <!-- second row - third vis -->
    <md-card flex="33" class="wz-md-card">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Top 5 sources</span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='topSources'></div>
      </md-card-content>
    </md-card>
  </div>
  <div id="row3" layout="row">
    <!-- second row - third vis -->
    <md-card flex="100" class="wz-md-card">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Geolocation</span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='map'></div>
      </md-card-content>
    </md-card>
  </div>
  <div id="row3" layout="row">
    <!-- second row - third vis -->
    <md-card flex="100" class="wz-md-card">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Top 5 buckets</span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='topBuckets'></div>
      </md-card-content>
    </md-card>
    <!-- second row - third vis -->
    <md-card flex="100" class="wz-md-card">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Top 5 rules</span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='topRules'></div>
      </md-card-content>
    </md-card>
  </div>
</md-content>