<md-content flex layout="column" layout-align="start">

  <!-- Breadcrumbs -->
  <div layout="row" layout-padding>
    <!-- If you're not on the Welcome tab, show a functional breadcrumb -->
    <div>
      <a class="wz-text-link cursor-pointer" ui-sref='agents'>Agents</a>
      <span> / </span>
      <span ng-if="!agent.error" ui-sref='agent-overview({id:agent.id})' class="wz-text-link cursor-pointer">{{agent.name}} ({{agent.id}})</span>
      <span ng-if="agent.error">Unknown agent</span>
      <span> / </span>
      <span>PCI-DSS</span>
    </div>
    <div ng-if="agent && agent.status">
      <span class="wz-agent-status-indicator small" ng-class="getAgentStatusClass(agent.status)" aria-label="Agent status indicator">{{formatAgentStatus(agent.status)}}</span>
    </div>
    <div flex></div>
    <!-- Report button -->
    <div style="display:flex; padding-right: 10px;">
        <md-button md-no-ink class="md-icon-button small wz-no-margin-padding" ng-hide="loadingVizz" ng-click="startVis2Png()"
          aria-label="Generate report button">
          <i class="fa fa-fw fa-print" aria-hidden="true"></i>
          <md-tooltip md-direction="left" class="wz-tooltip">
            Generate report
          </md-tooltip>
        </md-button>
        <span class='wz-margin-right-15 wz-margin-top-12' ng-hide='!loadingVizz'>Waiting for reporting information <i
            class="fa fa-fw fa-spin fa-spinner" aria-hidden="true"></i></span>
        <wz-discover breadcrumbs="{section: 'Agents', subSection: 'PCI-DSS', agentName: agent.name, agentId: agent.id, ref: 'agents', agentRef: 'agent-overview'}"></wz-discover>
      </div>
      <div style="margin-right:7px;" id='timePicker'></div>
      <div style="margin-right:7px;" id='dropDownInput'></div>
    </div>
  
    <!-- Loading report-->
    <div text-align='center' ng-if='loadingReporting'>Generating report<br><i class="fa fa-fw fa-spin fa-spinner" aria-hidden="true"></i></div>
  
  <!-- Filter bar -->
  <wazuh-bar></wazuh-bar>
  <!-- first row  -->

  <div layout="row" layout-align="center stretch">
    <md-card flex class="wz-md-card" ng-show='pciTabs'>
      <md-tabs md-selected="selectedPciIndex" class="wz-md-tab" md-border-bottom>
        <md-tab ng-repeat="tab in pciTabs" label="{{tab.title}}">
          <div class="md-padding">
            <span class="wz-headline-title">PCI-DSS Requirement: {{tab.title}}</span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <div layout="row" class="wz-padding-top-10 wz-line-height">
              <p>{{tab.content}}</p>
            </div>
          </div>
        </md-tab>
      </md-tabs>
    </md-card>
  </div>
  <div layout="row" layout-align="center stretch">
    <md-card flex="70" class="wz-md-card" ng-class="{'fullscreen': expandArray[0]}">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">PCI Requirements
          <span class="wz-text-link" style="float:right;" ng-click="expand(0,'pciReqSearchVizz')"><i class="fa fa-fw fa-expand"></i></span>
        </span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='pciReqSearchVizz'></div>
      </md-card-content>
    </md-card>
    <md-card flex="30" class="wz-md-card" ng-class="{'fullscreen': expandArray[1]}">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Groups
          <span class="wz-text-link" style="float:right;" ng-click="expand(1,'groupsVizz')"><i class="fa fa-fw fa-expand"></i></span>
        </span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='groupsVizz'></div>
      </md-card-content>
    </md-card>
  </div>

  <div layout="row" layout-align="center stretch">
    <md-card flex="30" class="wz-md-card" ng-class="{'fullscreen': expandArray[2]}">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Agents
          <span class="wz-text-link" style="float:right;" ng-click="expand(2,'agentsVizz')"><i class="fa fa-fw fa-expand"></i></span>
        </span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='agentsVizz'></div>
      </md-card-content>
    </md-card>
    <md-card flex="70" class="wz-md-card" ng-class="{'fullscreen': expandArray[3]}">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Requirements by agent
          <span class="wz-text-link" style="float:right;" ng-click="expand(3,'reqByAgentsVizz')"><i class="fa fa-fw fa-expand"></i></span>
        </span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='reqByAgentsVizz'></div>
      </md-card-content>
    </md-card>
  </div>

  <div layout="row" layout-align="center stretch">
    <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[4]}">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Alerts summary
          <span class="wz-text-link" style="float:right;" ng-click="expand(4,'alertsSummaryVizz')"><i class="fa fa-fw fa-expand"></i></span>
        </span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='alertsSummaryVizz'></div>
      </md-card-content>
    </md-card>
  </div>

</md-content>