<md-content flex layout="column" layout-align="start">
  <!-- Breadcrumbs -->
  <div layout="row" layout-padding>
    <!-- If you're not on the Welcome tab, show a functional breadcrumb -->
    <div>
      <a class="wz-text-link cursor-pointer" ui-sref='agents'>Agents</a>
      <span> / </span>
      <span ng-if="!agent.error" ui-sref='agent-overview({id:agent.id})' class="wz-text-link cursor-pointer">{{agent.name}} ({{agent.id}})</span>
      <span ng-if="agent.error">Unknown agent</span>
      <span> / </span>
      <span>Policy monitoring</span>
    </div>
    <div ng-if="agent.status">
      <span class="wz-agent-status-indicator small" ng-class="getAgentStatusClass(agent.status)" aria-label="Agent status indicator">{{formatAgentStatus(agent.status)}}</span>
    </div>
    <div flex></div>
    <!-- Report button -->
    <md-button md-no-ink class="md-icon-button small wz-no-margin-padding" tooltip="Generate report" tooltip-placement="bottom"
      ng-disabled="loading" ng-click="startVis2Png()" aria-label="Generate report button">
      <i class="fa fa-fw fa-print" aria-hidden="true"></i>
    </md-button>
    <div style="margin-right:7px;" id='timePicker'></div>
  </div>

  <!-- Loading report-->
  <div align='center' ng-if='loadingReporting'>Generating reporting<br><i class="fa fa-fw fa-spin fa-spinner" aria-hidden="true"></i></div>

  <!-- Wazuh filters bar -->
  <wazuh-bar></wazuh-bar>
  <!-- first row  -->

  <div layout="row" layout-align="center stretch" class="height-290">
    <md-card flex="50" class="wz-md-card">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Events over time</span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='elementOverTime'></div>
      </md-card-content>
    </md-card>

    <md-card flex="25" class="wz-md-card">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Top 5 CIS Requirements</span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='cisRequirements'></div>
      </md-card-content>
    </md-card>

    <md-card flex="25" class="wz-md-card">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Top 5 PCI DSS Requirements</span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='topPciDss'></div>
      </md-card-content>
    </md-card>
  </div>

  <div layout="row" layout-align="center stretch" class="height-240">
    <md-card flex class="wz-md-card">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Events per agent evolution</span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='eventsPerAgent'></div>
      </md-card-content>
    </md-card>
  </div>

  <div layout="row" layout-align="center stretch" class="height-570">
    <md-card flex class="wz-md-card">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Alerts summary</span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='alertsSummary'></div>
      </md-card-content>
    </md-card>
  </div>

</md-content>