<div flex layout="column" class="mozilla-table-size-85 wz-white-background">
  <md-content flex layout="column" class="overflow-hidden wz-white-background">
    <div layout="row" class="layout-row layout-align-end wz-white-background">
      <div class='wz-margin-left-10 wz-margin-top-12'>
        <span class="wz-text-link cursor-pointer" ui-sref='manager'>Management</span>
        <span> / Groups </span>
      </div>
      <div flex></div>
    </div>
    <!-- Loading ring -->
    <div class='uil-ring-css' ng-show="loadingRing">
      <div></div>
    </div>

    <!-- Headline -->
    <div ng-show="!loadingRing" layout="column" layout-padding>
      <span class="font-size-18">
        <!-- Back button -->
        <md-button ng-show="lookingGroup" class="md-icon-button" aria-label="Back to groups" ng-click='reload()'>
          <i class="fa fa-fw fa-arrow-left" aria-hidden="true"></i>
          <md-tooltip md-direction="bottom" class="wz-tooltip">
            Back
          </md-tooltip>
        </md-button>
        <i class="fa fa-fw fa-object-group" aria-hidden="true"></i> Groups
      </span>
      <span>List and check your groups, its agents and files</span>
    </div>
    <!-- End headline -->

    <div flex layout="column" layout-align="start stretch" ng-show="!loadingRing" ng-init="groupsSelectedTab='agents'">
      <!-- MD5 Sums and Details cards -->
      <div layout="row" class="md-padding" ng-if="lookingGroup">
        <!-- Group MD5 sums section -->
        <md-card flex class="no-margin-left wz-md-card">
          <md-card-content>
            <span class="wz-headline-title">{{ currentGroup.name }}</span>
            <i ng-click="editGroupAgentConfig(currentGroup); $event.stopPropagation()" class="fa fa-fw fa-file-code-o cursor-pointer action-btn-td pull-right"
              aria-hidden="true"></i>
            <md-tooltip>Edit this group agent.conf file</md-tooltip>
            <md-divider class="wz-margin-top-10"></md-divider>
            <div layout="row" class="wz-padding-top-10">
              <span flex="25">Configuration sum</span>
              <span class="wz-text-right color-grey">{{ currentGroup.configSum }}</span>
            </div>
            <div layout="row" class="wz-padding-top-10">
              <span flex="25">Merged sum</span>
              <span class="wz-text-right color-grey">{{ currentGroup.mergedSum }}</span>
            </div>
          </md-card-content>
        </md-card>
        <!-- End Group MD5 sums section -->

        <!-- Group Details section -->
        <md-card flex class="no-margin-right wz-md-card">
          <md-card-content>
            <span class="wz-headline-title">Details</span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <div layout="row" class="wz-padding-top-10">
              <span flex="20" class="wz-text-link" ng-class="groupsSelectedTab==='agents' ? 'wz-text-active' : ''"
                ng-click="goBackToAgents()">Agents
                <md-tooltip md-direction="left" class="wz-tooltip">
                  Click to open the list of agent
                </md-tooltip>
              </span>
              <span class="wz-text-link" ng-click="goBackToAgents()">{{
                currentGroup.count }}
                <md-tooltip md-direction="right" class="wz-tooltip">
                  Click to open the list of agent
                </md-tooltip>
              </span>
            </div>
            <div layout="row" class="wz-padding-top-10">
              <span flex="20" class="wz-text-link" ng-class="groupsSelectedTab==='files' ? 'wz-text-active' : ''"
                ng-click="goBackFiles()">Content
                <md-tooltip md-direction="left" class="wz-tooltip">
                  Click to open the list of files
                </md-tooltip>
              </span>
              <span class="wz-text-link" ng-click="goBackFiles()">{{
                totalFiles }}
                <md-tooltip md-direction="right" class="wz-tooltip">
                  Click to open the list of files
                </md-tooltip>
              </span>
            </div>
          </md-card-content>
        </md-card>
        <!-- End Group Details section -->

      </div>
      <!-- End MD5 Sums and Details cards -->

      <!-- Search bar -->
      <div layout="row" class='md-padding layout-row'>
        <input placeholder="Filter groups..." ng-model="custom_search" type="text" flex class="kuiLocalSearchInput ng-empty ng-pristine ng-scope ng-touched ng-valid"
          aria-invalid="false" wz-enter="search(custom_search)">
        <button type="submit" aria-label="Search" class="kuiLocalSearchButton height-40" style='height:32px !important;'
          ng-click="search(custom_search)">
          <span class="fa fa-search" aria-hidden="true"></span>
        </button>
      </div>
      <!-- End search bar -->

      <!-- Group actions -->
      <div layout="row" class="md-padding" ng-if="lookingGroup && currentGroup && !addingAgents">
        <span ng-disabled="currentGroup.name === 'default'" ng-click='addMultipleAgents(true)' class='btn btn-primary'><i
            aria-hidden='true' class='fa fa-fw fa-pencil'></i>
          Add or remove multiple agents</span>
        <span class="small-text" ng-show="currentGroup.name === 'default'">* Agents of default group cannot be managed</span>
      </div>
      <div layout="row" class="md-padding" ng-if="lookingGroup && currentGroup && addingAgents">
        <span ng-click='addMultipleAgents(false)' class='btn btn-info'>
          Cancel</span>
        <span ng-hide='moreThan1000' ng-click='saveAddAgents()' class='btn btn-primary wz-margin-left-8'><i aria-hidden='true'
            class='fa fa-fw fa-save'></i>
          Apply changes</span>
        <span class='error-msg' ng-show='moreThan1000'><i class="fa fa-exclamation-triangle"></i> It is not
          possible to apply changes of more than 1000 additions or deletions</span>
      </div>
      <!-- End group actions -->

      <!-- Groups table -->
      <div layout="row" ng-if="!lookingGroup && !addingAgents" class="md-padding">
        <wazuh-table ng-if="!lookingGroup" flex extra-limit="true" path="'/agents/groups'" keys="['name',{value:'count',size:1},{value:'mergedSum',size:3}]"
          allow-click="true" rows-per-page="14">
        </wazuh-table>
      </div>
      <!-- End groups table -->
      <div ng-if="!lookingGroup" layout="row" class="wz-margin-top-10">
        <span flex></span>
        <a class="small" id="btnDownload" ng-click="downloadCsv('/agents/groups','groups.csv')">Formatted
          <i aria-hidden="true" class="fa fa-download"></i>
        </a>
      </div>

      <!-- XML editor for group agents -->
      <div ng-if="!lookingGroup || (lookingGroup && currentGroup)">
        <wz-xml-file-editor file-name='agents.conf' load-path='load' update-path='update'>
        </wz-xml-file-editor>
      </div>
      <!-- XML editor for group agents -->

      <div ng-if='!addingAgents'>
        <!-- Group agents table -->
        <div layout="row" ng-if="lookingGroup && groupsSelectedTab==='agents' && currentGroup" class="md-padding">
          <wazuh-table flex path="'/agents/groups/' + currentGroup.name" keys="['id','name','ip','status','os.name','os.version','version']"
            allow-click="true" rrow-sizes="[14,12,10]" />
        </div>
        <!-- End Group agents table -->
        <div ng-if="lookingGroup && groupsSelectedTab==='agents' && currentGroup" layout="row" class="wz-margin-top-10">
          <span flex></span>
          <a class="small" id="btnDownload" ng-click="downloadCsv('/agents/groups/' + currentGroup.name,'agentsgroups.csv')">Formatted
            <i aria-hidden="true" class="fa fa-download"></i>
          </a>
        </div>
        <!-- Group files table -->
        <div layout="row" ng-if="lookingGroup && groupsSelectedTab==='files' && !fileViewer && currentGroup" class="md-padding">
          <wazuh-table extra-limit="true" flex path="'/agents/groups/' + currentGroup.name + '/files'" keys="[{value:'filename',size:2},{value:'hash',size:6}]"
            allow-click="true" rows-per-page="10">
          </wazuh-table>
        </div>
        <!-- End Group files table -->
        <div ng-if="lookingGroup && groupsSelectedTab==='files' && !fileViewer && currentGroup" layout="row" class="wz-margin-top-10">
          <span flex></span>
          <a class="small" id="btnDownload" ng-click="downloadCsv('/agents/groups/' + currentGroup.name + '/files','groupfiles.csv')">Formatted
            <i aria-hidden="true" class="fa fa-download"></i>
          </a>
        </div>
        <!-- File JSON viewer section -->
        <div flex layout="column" class="md-padding" ng-if="lookingGroup && groupsSelectedTab==='files' && file">
          <div flex layout="column">
            <div layout="row" class="wz-padding-bottom-14">
              <span flex class="wz-headline-title">{{ filename }}</span>
              <span flex class="wz-text-right cursor-pointer color-grey" ng-click="goBackFiles()">close</span>
            </div>
            <div flex layout="column">
              <pre flex class="wz-pre json-beautifier jsonbeauty2 wz-overflow-y-auto"><code wz-dynamic="file"></code></pre>
            </div>
          </div>
        </div>

      </div>
      <div layout="row" class="md-padding" ng-if="addingAgents">
        <span ng-show='!multipleSelectorLoading' class="wzMultipleSelectorCounter"><span style='color:green'>+{{currentAdding}}</span>&nbsp;<span
            style='color:red'>-{{currentDeleting}}</span></span>
        <wz-multiple-selector class='wzMultipleSelector' available-items="availableAgents.data" selected-items="selectedAgents.data"
          loading="multipleSelectorLoading" title-available-items="All available agents" title-selected-items="Current agents in the group"
          total-available-items="totalAgents" total-selected-items="totalSelectedAgents" reload-scroll='reload(element, searchTerm, 499, start)'
          limit="checkLimit()">
        </wz-multiple-selector>
      </div>
      <!-- End File JSON viewer section -->
    </div>
  </md-content>
</div>