

    <div layout="row" class="layout-row layout-align-end wz-white-background">
      <div class='wz-breadcrumb-margin'>
        <span class="wz-text-link cursor-pointer" ui-sref='manager'>Management / </span>
        <span class="wz-text-link cursor-pointer" ng-click="goBackGroups()"> Groups </span>
        <span ng-if="currentGroup.name"> / {{currentGroup.name}} </span>
      </div>
      <div flex></div>
    </div>

<!-- XML editor for group agents -->
<div ng-show="editingFile || (groupsSelectedTab !== 'files' && file)" class="md-padding-h wz-margin-top-20">
  <div layout="row" class="wz-padding-bottom-14">
    <button class="md-icon-button cursor-pointer" ng-if="!adminMode" aria-label="Back" ng-click="goBackFiles()"><i class="fa fa-fw fa-close"
        aria-hidden="true"></i>
      <md-tooltip md-direction="bottom" class="wz-tooltip">Close file</md-tooltip>
    </button>
    <button ng-if="adminMode" ng-click='closeEditingFile()' class='btn wz-button-cancel'>Cancel</button>
    <button ng-if="adminMode" ng-disabled='xmlHasErrors || saveIncomplete' ng-click='doSaveGroupAgentConfig()'
      class='btn wz-button-empty pull-right wz-margin-left-10'>
      <span ng-show='!xmlHasErrors && adminMode'><i ng-class="{'fa fa-fw fa-spin fa-spinner': saveIncomplete, 'fa fa-fw fa-save': !saveIncomplete}"
          aria-hidden='true'></i>
        Save file</span>
      <span ng-show='xmlHasErrors && adminMode' class='btn-danger'><i aria-hidden='true' class='fa fa-fw fa-exclamation-triangle'></i>
        XML format error</span>
    </button>
  </div>
  <div class="wzXmlEditorDivContent" ng-if="fetchedXML">
    <wz-xml-file-editor style="height: inherit;" file-name='agent.conf' data="fetchedXML" target-name="currentGroup.name"
      valid-fn='xmlIsValid(valid)' close-fn='closeEditingFile()'>
    </wz-xml-file-editor>
  </div>
</div>
<!-- XML editor for group agents -->



<!-- File JSON viewer section -->
<div flex layout="column" class="md-padding" ng-if="lookingGroup && groupsSelectedTab==='files' && file">
    <div flex layout="column">
      <div layout="row" class="wz-padding-bottom-14">
        <span flex class="wz-headline-title">{{ filename }}</span>
        <span class="md-icon-button cursor-pointer" ng-if="lookingGroup" aria-label="Back" tooltip="Close file"
          tooltip-placement="left" ng-click="goBackFiles()"><i class="fa fa-fw fa-close" aria-hidden="true"></i></span>
        <!--<span flex class="wz-text-right cursor-pointer color-grey" ng-click="goBackFiles()">close</span>-->
      </div>
      <div flex layout="column">
        <pre flex class="wz-pre groupContentViewer wzXmlEditor wz-overflow-y-auto"><code wz-dynamic="file"></code></pre>
      </div>
    </div>
  </div>
  <!-- End File JSON viewer section -->

<!-- New table -->
<div layout="row" ng-if="!editingFile && !file" style=" margin-right:15px;">
  <div layout="column" style="width:100%;">

    <md-nav-bar ng-if="lookingGroup && currentGroup && !addingAgents && !editingFile" class="wz-nav-bar wz-margin-bottom-15 wz-margin-top-20"
      md-selected-nav-item="groupsSelectedTab">
      <md-nav-item class="wz-nav-item" md-nav-click="goBackToAgents()" name="agents">Agents</md-nav-item>
      <md-nav-item class="wz-nav-item" md-nav-click="goBackFiles()" name="files">Content</md-nav-item>
    </md-nav-bar>

    <!-- Popover add new group -->
    <div ng-if="!currentGroup || !currentGroup.name" class="wz-popover-wrapper">
      <div ng-show="addingGroup" class="wz-popover-content" style="width:300px;">
        <div layout="column">
        <span style="font-weight: bold;font-size:16px;">Introduce the group name:</span>
        <input ng-model="groupToBeAdded" type="text" class="kuiLocalSearchInput ng-empty ng-pristine ng-scope ng-touched ng-valid height-40 wz-margin-top-10" style="width:100%;"
              aria-invalid="false">

          <button ng-click="createGroup(groupToBeAdded)"
            class='btn height-40 agreeBtn pull-right wz-margin-top-10' style="max-height:40px !important;">
            <span>Save new group</span>
          </button>
        </div>
      </div>
    </div>


    <!-- Popover export PDF -->
    <div ng-if="!file && lookingGroup && currentGroup && !addingAgents && !editingFile" class="wz-popover-wrapper">
      <div ng-if="exportConfig" class="wz-popover-content wz-popover-width-160px" style="width:215px; padding:0;">
        <div layout="column">
          <ul class="noDot ul-extensions">
              <li ng-repeat="(key, value) in selectedOptions track by $index">
                <md-checkbox class="wz-margin-bottom--5" ng-checked="selectedOptions[key]"
                  ng-model="selectedOptions[key]" aria-label="key">
                  {{keyEquivalences(key)}}
                </md-checkbox>
              </li>
            </ul>
            <div class="select-options">
              <a ng-click="selectAll(true)">Select all</a><br>
              <a ng-click="selectAll(false)">Unselect all</a>
            </div>
            <button  ng-class="{'link-disabled': loadingReporting }" class="btn wz-button btn-agent-report"
              ng-click="initReportConfig()" aria-label="Init report">Generate PDF report</button>
        </div>
      </div>
    </div>
   
    

    <!-- Loading content -->
  <div ng-show="loadingRing">
    <div class="loader-bar" ng-show="loadingRing">
      <div class="loader"></div>
    </div>
  </div>
  <div style="width:100%;margin-right: 10px;"> 
    <div class="wz-padding-left-16">
    
      <div layout="row">
        <md-card style="width:100%;" class="wz-md-card no-margin-sides">
          <md-card-actions layout="column"
            class="wz-card-actions wz-card-actions-top md-actions-ruleset" style="background-color: white; ">
            <!-- Headline - Groups list -->
            <div ng-if="!currentGroup || !currentGroup.name" layout="row" style="padding-top: 15px;padding-bottom: 4px;height:110px;">
              <div layout="column">
                <span style="font-size: 28px; padding-right: 10px;"> Groups </span> 
                <span style="margin-top:8px;">List and check your groups, its agents and files.</span>
              </div>
              <span flex="" class="flex"></span>

              <span ng-click="switchAddingGroup()" class="wz-color-text cursor-pointer link-table">
                <wz-svg icon="plus"></wz-svg>
                Add new group
              </span> &nbsp;&nbsp;
              <span ng-click="search(customSearch)" class="wz-color-text cursor-pointer link-table">
                  <wz-svg icon="refresh"></wz-svg>
                Refresh
              </span>
            </div>
            <!-- End headline -->

            <!-- Headline - Groups list -->
            <div ng-if="currentGroup || currentGroup.name" layout="row" style="padding-top: 15px;padding-bottom: 4px;height:110px;">
                <div layout="column">
                  <span style="font-size: 28px; padding-right: 10px;"> {{currentGroup.name}} </span> 
                  <span style="margin-top:8px;">From here you can list and manage your agents.</span>
                </div>
                <span flex="" class="flex"></span>
    
                <div layout="row" ng-if="!addingAgents">
                  <span ng-if="lookingGroup && groupsSelectedTab==='agents' && lookingGroup && currentGroup && adminMode" ng-click='addMultipleAgents(true)' class="wz-color-text cursor-pointer link-table">
                    <wz-svg icon="folder-closed"></wz-svg>
                    Manage agents
                  </span> 

                  <span ng-if="lookingGroup && groupsSelectedTab==='files' && !file" ng-click="editGroupAgentConfig()" class="wz-color-text cursor-pointer link-table">
                    <wz-svg icon="pencil"></wz-svg>
                    Edit group configuration
                  </span> 
                  
                  <span ng-click="showModulesToExport()" class="wz-color-text cursor-pointer link-table">
                    <div ng-if="!loadingReporting"><wz-svg icon="download"></wz-svg>&nbsp;Export PDF </div>
                    <div ng-if="loadingReporting" ng-click=""> <i  class="fa fa-fw fa-spin fa-spinner" aria-hidden="true"></i>&nbsp;Export PDF </div>
                  </span> 

                  <span ng-if="lookingGroup && groupsSelectedTab==='files' && !file" ng-click="downloadCsv('/agents/groups/' + currentGroup.name + '/files', groups.csv)" class="wz-color-text cursor-pointer link-table">
                    <wz-svg icon="download"></wz-svg>
                    Export formatted 
                  </span> 

                  <span ng-if="lookingGroup && groupsSelectedTab==='agents'" ng-click="downloadCsv('/agents/groups/' + currentGroup.name, groups.csv)" class="wz-color-text cursor-pointer link-table">
                    <wz-svg icon="download"></wz-svg>
                    Export formatted 
                  </span> 

                  <span ng-if="!lookingGroup" ng-click="downloadCsv('/agents/groups', groups.csv)" class="wz-color-text cursor-pointer link-table">
                    <wz-svg icon="download"></wz-svg>
                    Export formatted
                  </span> 

                  <span ng-click="search(customSearch)" class="wz-color-text cursor-pointer link-table">
                      <wz-svg icon="refresh"></wz-svg>
                    Refresh
                  </span>
                </div>
              </div>
              <!-- End headline -->

            <!-- Filter files / agents / groups search bar-->
            <div ng-if="!addingAgents && !file" class="layout-row" style="padding-top: 15px;">
              <div layout="row" class="layout-row" style="width: 100%;">
                <div ng-show="!rulesetFiles" class="wz-width-100" aria-hidden="false">
                  <label class="wz-icon-loupe">
                    <input id="search-input-rules" placeholder="{{groupsSelectedTab==='files' ? 'Filter files...' : lookingGroup ? 'Filter agents...' : 'Filter groups...'}}" ng-model="customSearch" type="text" flex="" class="kuiLocalSearchInput height-40 ng-pristine ng-untouched ng-valid ng-empty flex" aria-invalid="false" wz-enter="search(customSearch)">
                  </label>
                </div>
                <button ng-click="search(customSearch)"
                  class='btn height-40 agreeBtn pull-right wz-margin-left-7' style="max-height:40px !important;">
                  <span><i aria-hidden='true' class='fa fa-fw fa-search wz-margin-left-10'>&nbsp;</i>Search</span>
                </button>
              </div>
            </div>
            <!-- End search bar -->
        </md-card-actions>
        <md-card-contents  style="margin-top:85px;">
          <!-- Groups list -->
            <div layout="row" style="width:100%;" ng-if="!lookingGroup" class="md-padding">
              <wazuh-table custom-columns="true" admin-mode='adminMode' flex extra-limit="100" path="'/agents/groups'"
                keys="['name','count','mergedSum']" allow-click="true" row-sizes="[20,15,10]">
              </wazuh-table>
            </div>
            
            <div layout="column" style="width:100%;" ng-if="!addingAgents" class="md-padding">
                  <!-- Group agents table -->
                  <div layout="row" ng-if="lookingGroup && groupsSelectedTab==='agents' && currentGroup" class="md-padding">
                    <wazuh-table admin-mode='adminMode' flex path="'/agents/groups/' + currentGroup.name" keys="['id','name','ip','status','os.name','os.version','version']"
                      allow-click="true" row-sizes="[20,15,10]" custom-columns="true" empty-results="'No agents were added to this group.'" />
                  </div>
                  <!-- End Group agents table -->
                
                  <!-- Group files table -->
                  <div layout="row" ng-if="lookingGroup && groupsSelectedTab==='files' && !fileViewer && currentGroup"
                    class="md-padding">
                    <wazuh-table admin-mode='adminMode' extra-limit="100" flex path="'/agents/groups/' + currentGroup.name + '/files'"
                      keys="[{value:'filename',size:2},{value:'hash',size:6}]" allow-click="true" row-sizes="[10,8,6,4]">
                    </wazuh-table>
                  </div>
                  <!-- End Group files table -->
                 
          </div>


          <div ng-if="!editingFile" >
            <div layout="row" style="margin-left:16px; margin-top:-25px;" ng-if="lookingGroup && currentGroup && addingAgents">
              <button ng-click='addMultipleAgents(false)' class='btn wz-button-cancel'>
                Cancel</button>
              <button ng-hide='moreThan500' ng-click='saveAddAgents()' class='btn wz-button-empty wz-margin-left-8 wz-margin-left-5'><i
                  aria-hidden='true' class='fa fa-fw fa-save'></i>
                Apply changes</button>
              <span class='error-msg' ng-show='moreThan500'><i class="fa fa-exclamation-triangle"></i> It is not
                possible to apply changes of more than 500 additions or deletions</span>
            </div>

            <div layout="row" class="md-padding wz-margin-left-5  wz-border-none" ng-if="addingAgents">
              <span ng-show='!multipleSelectorLoading' class="wzMultipleSelectorCounter"><span style='color:green'>+{{currentAdding}}</span>&nbsp;<span
                  style='color:red'>-{{currentDeleting}}</span></span>
              <wz-multiple-selector class='wzMultipleSelector wz-border-none' available-items="availableAgents.data" selected-items="selectedAgents.data"
                title-available-items="Available agents" title-selected-items="Current agents in the group"
                total-selected-items="totalSelectedAgents" reload-scroll='reload(element, searchTerm, 499, start)' limit="checkLimit()">
              </wz-multiple-selector>
            </div>
          </div>
        </md-card-contents>
      </md-card>
      
      </div>
    </div>
    
      <!-- XML editor for add new rule file-->
      <div ng-if="addingNewFile">
        <div layout="row" class="md-padding wz-padding-top-0">
          <button ng-click='closeEditingFile()' class='btn wz-button-cancel'>Cancel</button>
          <button ng-if="adminMode" ng-disabled='xmlHasErrors || overwrite || saveIncomplete'
            ng-click='saveRuleConfig(editingFile.file, editingFile.dir)'
            class='btn wz-button-empty pull-right wz-margin-left-10'>
            <span ng-show='!xmlHasErrors && adminMode'>
              <i ng-class="{'fa fa-fw fa-spin fa-spinner': saveIncomplete, 'fa fa-fw fa-save': !saveIncomplete}"
                aria-hidden='true'></i>
              Save file
            </span>
            <span ng-show='xmlHasErrors && adminMode' class='btn-danger'><i aria-hidden='true'
                class='fa fa-fw fa-exclamation-triangle'></i>
              XML format error</span>
          </button>
          <input placeholder="New file name..." ng-model="editingFile.file"
            class="kuiLocalSearchInput ng-empty ng-pristine ng-scope ng-touched ng-valid flex" style="margin-left: 10px;"
            ng-change="enableSave()">
    
        </div>
        <div class="wzXmlEditorDivContent wz-width-100p" ng-if="fetchedXML">
          <wz-xml-file-editor style="height: inherit;" file-name='rules' data="fetchedXML" target-name="editingFile.file"
            valid-fn='xmlIsValid(valid)' close-fn='closeEditingFile()'>
          </wz-xml-file-editor>
        </div>
      </div>
    
    
      <!-- XML editor for edit file-->
      <div ng-if="editingRulesetFile">
        <div layout="row" class="md-padding wz-padding-top-0">
          <button ng-click='closeEditingFile()' class='btn wz-button-cancel'>Cancel</button>
          <button ng-if="adminMode" ng-disabled='xmlHasErrors || overwrite || saveIncomplete' ng-click='saveFile(editingRulesetFile.path)'
            class='btn wz-button-empty pull-right wz-margin-left-10'>
            <span ng-show='!xmlHasErrors && adminMode'><i
                ng-class="{'fa fa-fw fa-spin fa-spinner': saveIncomplete, 'fa fa-fw fa-save': !saveIncomplete}"
                aria-hidden='true'></i>
              Save file</span>
            <span ng-show='xmlHasErrors && adminMode' class='btn-danger'><i aria-hidden='true'
                class='fa fa-fw fa-exclamation-triangle'></i>
              XML format error</span>
          </button>
          <span class="flex"></span>
    
        </div>
        <div class="wzXmlEditorDivContent wz-width-100p" ng-if="fetchedXML">
          <wz-xml-file-editor style="height: inherit;" file-name='rules' data="fetchedXML"
            target-name="editingRulesetFile.file" valid-fn='xmlIsValid(valid)' close-fn='closeEditingFile()'>
          </wz-xml-file-editor>
        </div>
      </div>
    
      <!-- XML viewer -->
      <div ng-show="XMLContent">
        <button ng-click='closeEditingFile()'
          class='btn wz-button-cancel wz-margin-left-10'>Close</button>
        <wz-config-viewer flex xmlcontent="XMLContent" hide-header="true" no-local="fileName" />
      </div>
    </div>
  </div>
</div>
</div>