<md-content flex layout="column" layout-align="end">
  <div layout="row">
    <div class='wz-margin-left-10 wz-margin-top-12'>
      <span class="wz-text-link cursor-pointer" ui-sref='overview'>Overview</span>
      <span>/ Amazon Web Services </span>
    </div>
    <div flex></div>
    <!-- Report button -->
    <div style="display:flex; padding-right: 10px;">
        <button ng-if="reportingEnabled" ng-if="reportingEnabled" md-no-ink class="btn wz-button-empty wz-button-report" ng-disabled="loadingVizz || loadingReporting" ng-click="startVis2Png()"
          aria-label="Generate report button">
          <i class="fa fa-fw fa-print" aria-hidden="true"></i>
          <md-tooltip md-direction="left" class="wz-tooltip">
            Generate report
          </md-tooltip>
        </button>
        <wz-discover breadcrumbs="{section: 'Overview', subSection: 'AWS', ref: 'overview'}"></wz-discover>
      </div>
      <div style="margin-right:7px;" id='timePicker'></div>
    </div>
  
    <!-- Loading report-->
    <div align='center' ng-if='loadingReporting'>Generating report<br><i class="fa fa-fw fa-spin fa-spinner" aria-hidden="true"></i></div>
  
  <!-- Security information management navbar -->
  <md-nav-bar class="wz-nav-bar wz-margin-10" md-selected-nav-item="'aws'">
    <md-nav-item class="wz-nav-item" md-nav-click="stopPropagation()" ui-sref="ow-general" name="general">Security events</md-nav-item>
    <md-nav-item class="wz-nav-item" md-nav-click="stopPropagation()" ui-sref="ow-fim" name="fim">Integrity monitoring</md-nav-item>
    <md-nav-item class="wz-nav-item" md-nav-click="stopPropagation()" name="aws">Amazon AWS</md-nav-item>
  </md-nav-bar>

  <!-- Filter bar -->
  <wazuh-bar></wazuh-bar>

  <!-- first row  -->
  <div id="row1" layout="row">
    <!-- first row - first vis -->
    <md-card flex="25" class="wz-md-card" ng-class="{'fullscreen': expandArray[0]}">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Sources
          <span class="wz-text-link" style="float:right;" ng-click="expand(0,'sourcesVizz')"><svg class="euiIcon euiIcon--medium" focusable="false" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.354 12.354l8-8a.5.5 0 0 0-.708-.708l-8 8a.5.5 0 0 0 .708.708zM1 10.5a.5.5 0 1 1 1 0v3a.5.5 0 0 0 .5.5h3a.5.5 0 1 1 0 1h-3A1.5 1.5 0 0 1 1 13.5v-3zm14-5a.5.5 0 1 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 1 1 0-1h3A1.5 1.5 0 0 1 15 2.5v3z"></path></svg></span>
        </span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='sourcesVizz'></div>
      </md-card-content>
    </md-card>
    <!-- first row - second vis -->
    <md-card flex="25" class="wz-md-card" ng-class="{'fullscreen': expandArray[1]}">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Accounts
          <span class="wz-text-link" style="float:right;" ng-click="expand(1,'accountsVizz')"><svg class="euiIcon euiIcon--medium" focusable="false" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.354 12.354l8-8a.5.5 0 0 0-.708-.708l-8 8a.5.5 0 0 0 .708.708zM1 10.5a.5.5 0 1 1 1 0v3a.5.5 0 0 0 .5.5h3a.5.5 0 1 1 0 1h-3A1.5 1.5 0 0 1 1 13.5v-3zm14-5a.5.5 0 1 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 1 1 0-1h3A1.5 1.5 0 0 1 15 2.5v3z"></path></svg></span>
        </span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='accountsVizz'></div>
      </md-card-content>
    </md-card>
    <!-- first row - third vis -->
    <md-card flex="25" class="wz-md-card" ng-class="{'fullscreen': expandArray[2]}">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">S3 buckets
          <span class="wz-text-link" style="float:right;" ng-click="expand(2,'s3BucketsVizz')"><svg class="euiIcon euiIcon--medium" focusable="false" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.354 12.354l8-8a.5.5 0 0 0-.708-.708l-8 8a.5.5 0 0 0 .708.708zM1 10.5a.5.5 0 1 1 1 0v3a.5.5 0 0 0 .5.5h3a.5.5 0 1 1 0 1h-3A1.5 1.5 0 0 1 1 13.5v-3zm14-5a.5.5 0 1 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 1 1 0-1h3A1.5 1.5 0 0 1 15 2.5v3z"></path></svg></span>
        </span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='s3BucketsVizz'></div>
      </md-card-content>
    </md-card>
    <!-- first row - fourth vis -->
    <md-card flex="25" class="wz-md-card" ng-class="{'fullscreen': expandArray[3]}">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Regions
          <span class="wz-text-link" style="float:right;" ng-click="expand(3,'regionsVizz')"><svg class="euiIcon euiIcon--medium" focusable="false" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.354 12.354l8-8a.5.5 0 0 0-.708-.708l-8 8a.5.5 0 0 0 .708.708zM1 10.5a.5.5 0 1 1 1 0v3a.5.5 0 0 0 .5.5h3a.5.5 0 1 1 0 1h-3A1.5 1.5 0 0 1 1 13.5v-3zm14-5a.5.5 0 1 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 1 1 0-1h3A1.5 1.5 0 0 1 15 2.5v3z"></path></svg></span>
        </span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='regionsVizz'></div>
      </md-card-content>
    </md-card>
  </div>

  <!-- second row  -->
  <div id="row2" layout="row">
    <!-- second row - first vis -->
    <md-card flex="50" class="wz-md-card" ng-class="{'fullscreen': expandArray[4]}">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Events by source over time
          <span class="wz-text-link" style="float:right;" ng-click="expand(4,'eventsBySourceVizz')"><svg class="euiIcon euiIcon--medium" focusable="false" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.354 12.354l8-8a.5.5 0 0 0-.708-.708l-8 8a.5.5 0 0 0 .708.708zM1 10.5a.5.5 0 1 1 1 0v3a.5.5 0 0 0 .5.5h3a.5.5 0 1 1 0 1h-3A1.5 1.5 0 0 1 1 13.5v-3zm14-5a.5.5 0 1 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 1 1 0-1h3A1.5 1.5 0 0 1 15 2.5v3z"></path></svg></span>
        </span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='eventsBySourceVizz'></div>
      </md-card-content>
    </md-card>
    <!-- second row - second vis -->
    <md-card flex="50" class="wz-md-card" ng-class="{'fullscreen': expandArray[5]}">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Events by S3 over time
          <span class="wz-text-link" style="float:right;" ng-click="expand(5,'eventsByS3BucketsVizz')"><svg class="euiIcon euiIcon--medium" focusable="false" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.354 12.354l8-8a.5.5 0 0 0-.708-.708l-8 8a.5.5 0 0 0 .708.708zM1 10.5a.5.5 0 1 1 1 0v3a.5.5 0 0 0 .5.5h3a.5.5 0 1 1 0 1h-3A1.5 1.5 0 0 1 1 13.5v-3zm14-5a.5.5 0 1 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 1 1 0-1h3A1.5 1.5 0 0 1 15 2.5v3z"></path></svg></span>
        </span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='eventsByS3BucketsVizz'></div>
      </md-card-content>
    </md-card>
  </div>

  <!-- third row -->
  <div id="row3" layout="row">
    <!-- third row - first vis -->
    <md-card flex="50" class="wz-md-card" ng-class="{'fullscreen': expandArray[6]}">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Top 5 buckets
          <span class="wz-text-link" style="float:right;" ng-click="expand(6,'top5Buckets')"><svg class="euiIcon euiIcon--medium" focusable="false" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.354 12.354l8-8a.5.5 0 0 0-.708-.708l-8 8a.5.5 0 0 0 .708.708zM1 10.5a.5.5 0 1 1 1 0v3a.5.5 0 0 0 .5.5h3a.5.5 0 1 1 0 1h-3A1.5 1.5 0 0 1 1 13.5v-3zm14-5a.5.5 0 1 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 1 1 0-1h3A1.5 1.5 0 0 1 15 2.5v3z"></path></svg></span>
        </span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='top5Buckets'></div>
      </md-card-content>
    </md-card>
    <!-- third row - second vis -->
    <md-card flex="50" class="wz-md-card" ng-class="{'fullscreen': expandArray[7]}">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Top 5 rules
          <span class="wz-text-link" style="float:right;" ng-click="expand(7,'top5Rules')"><svg class="euiIcon euiIcon--medium" focusable="false" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.354 12.354l8-8a.5.5 0 0 0-.708-.708l-8 8a.5.5 0 0 0 .708.708zM1 10.5a.5.5 0 1 1 1 0v3a.5.5 0 0 0 .5.5h3a.5.5 0 1 1 0 1h-3A1.5 1.5 0 0 1 1 13.5v-3zm14-5a.5.5 0 1 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 1 1 0-1h3A1.5 1.5 0 0 1 15 2.5v3z"></path></svg></span>
        </span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='top5Rules'></div>
      </md-card-content>
    </md-card>
  </div>
</md-content>