<md-content flex layout="column" layout-align="end">
  <div layout="row">
    <div class='wz-margin-left-10 wz-margin-top-12'>
      <span class="wz-text-link cursor-pointer" ui-sref='overview'>Overview</span>
      <span>/ Amazon Web Services </span>
    </div>
    <div flex></div>
    <!-- Report button -->
    <div style="display:flex; padding-right: 10px;">
        <md-button ng-if="reportingEnabled" md-no-ink class="md-icon-button small wz-no-margin-padding" ng-disabled="loadingVizz" ng-click="startVis2Png()"
          aria-label="Generate report button">
          <i class="fa fa-fw fa-print" aria-hidden="true"></i>
          <md-tooltip md-direction="left" class="wz-tooltip">
            Generate report
          </md-tooltip>
        </md-button>
        <wz-discover breadcrumbs="{section: 'Overview', subSection: 'AWS', ref: 'overview'}"></wz-discover>
      </div>
      <div style="margin-right:7px;" id='timePicker'></div>
    </div>
  
    <!-- Loading report-->
    <div align='center' ng-if='loadingReporting'>Generating report<br><i class="fa fa-fw fa-spin fa-spinner" aria-hidden="true"></i></div>
  
  <!-- Filter bar -->
  <wazuh-bar></wazuh-bar>

  <!-- first row  -->
  <div id="row1" layout="row">
    <!-- first row - first vis -->
    <md-card flex="25" class="wz-md-card" ng-class="{'fullscreen': expandArray[0]}">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Sources
          <span class="wz-text-link" style="float:right;" ng-click="expand(0,'sourcesVizz')"><i class="fa fa-fw fa-expand"></i></span>
        </span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='sourcesVizz'></div>
      </md-card-content>
    </md-card>
    <!-- first row - second vis -->
    <md-card flex="25" class="wz-md-card" ng-class="{'fullscreen': expandArray[1]}">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Accounts
          <span class="wz-text-link" style="float:right;" ng-click="expand(1,'accountsVizz')"><i class="fa fa-fw fa-expand"></i></span>
        </span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='accountsVizz'></div>
      </md-card-content>
    </md-card>
    <!-- first row - third vis -->
    <md-card flex="25" class="wz-md-card" ng-class="{'fullscreen': expandArray[2]}">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">S3 buckets
          <span class="wz-text-link" style="float:right;" ng-click="expand(2,'s3BucketsVizz')"><i class="fa fa-fw fa-expand"></i></span>
        </span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='s3BucketsVizz'></div>
      </md-card-content>
    </md-card>
    <!-- first row - fourth vis -->
    <md-card flex="25" class="wz-md-card" ng-class="{'fullscreen': expandArray[3]}">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Regions
          <span class="wz-text-link" style="float:right;" ng-click="expand(3,'regionsVizz')"><i class="fa fa-fw fa-expand"></i></span>
        </span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='regionsVizz'></div>
      </md-card-content>
    </md-card>
  </div>

  <!-- second row  -->
  <div id="row2" layout="row">
    <!-- second row - first vis -->
    <md-card flex="50" class="wz-md-card" ng-class="{'fullscreen': expandArray[4]}">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Events by source over time
          <span class="wz-text-link" style="float:right;" ng-click="expand(4,'eventsBySourceVizz')"><i class="fa fa-fw fa-expand"></i></span>
        </span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='eventsBySourceVizz'></div>
      </md-card-content>
    </md-card>
    <!-- second row - second vis -->
    <md-card flex="50" class="wz-md-card" ng-class="{'fullscreen': expandArray[5]}">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Events by S3 over time
          <span class="wz-text-link" style="float:right;" ng-click="expand(5,'eventsByS3BucketsVizz')"><i class="fa fa-fw fa-expand"></i></span>
        </span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='eventsByS3BucketsVizz'></div>
      </md-card-content>
    </md-card>
  </div>

  <!-- third row -->
  <div id="row3" layout="row">
    <!-- third row - first vis -->
    <md-card flex="50" class="wz-md-card" ng-class="{'fullscreen': expandArray[6]}">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Top 5 buckets
          <span class="wz-text-link" style="float:right;" ng-click="expand(6,'top5Buckets')"><i class="fa fa-fw fa-expand"></i></span>
        </span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='top5Buckets'></div>
      </md-card-content>
    </md-card>
    <!-- third row - second vis -->
    <md-card flex="50" class="wz-md-card" ng-class="{'fullscreen': expandArray[7]}">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Top 5 rules
          <span class="wz-text-link" style="float:right;" ng-click="expand(7,'top5Rules')"><i class="fa fa-fw fa-expand"></i></span>
        </span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='top5Rules'></div>
      </md-card-content>
    </md-card>
  </div>
</md-content>