<div style="margin-top:10px;">
  <div layout="row" class="md-padding" ng-show="wazuhTableLoading">
    <!-- Loading bar -->
    <div class="loader"></div>
  </div>

  <!-- Checkbox to hide columns -->
  <div ng-if="customColumns" layout="row" ng-show="!error && !wazuhTableLoading && items.length"
    ng-class="{'show-checkboxes':showingChecks}">
    <div class="wz-table-checkboxes">
      <div ng-show="showingChecks" class="wz-margin-left-20">
        <md-checkbox ng-repeat="(key, value) in cleanKeys track by $index" ng-click="updateColumns(key)"
          ng-checked="value" ng-model="value" ng-change="switchKey(key)" aria-label="key" ng-disabled="isLastKey(key)">
          {{getEquivalence(key) ? getEquivalence(key) : key}}
        </md-checkbox>
      </div>
    </div>
    <div ng-class="{'showing-checks':showingChecks, 'not-showing-checks':!showingChecks}">
      <md-tooltip md-direction="bottom" class="wz-tooltip">
        Show or hide columns
      </md-tooltip>
      <span class="action-btn-td cursor-pointer action-show-hide-columns" ng-click="showCheckbox()">
        <wz-svg icon="settings" color="green"></wz-svg>
      </span>
    </div>
  </div>
  <!-- End Checkbox -->

  <!-- Table -->
  <div layout="row" ng-show="!error && !wazuhTableLoading && items.length"
    ng-if="!isPolicyMonitoring() && !isSyschecks()">
    <table ng-class="customColumns ? 'table-resizable' : ''"
      class="table wz-no-outline table-condensed table-striped table-hover" style="table-layout: fixed; "
      id="table{{scapepath}}">
      <thead class="wz-text-bold">
        <th ng-repeat="key in keys | filter: showKey" class="wz-text-left wz-nowrap"
          ng-class="{'cursor-pointer' : !key.nosortable}" ng-click="!key.nosortable && sort(key)">
          {{ path === '/groups' && (key.value || key) === 'count' ? 'Agents' : keyEquivalence[key.value ||
          key] || key.value || key }}
          <i ng-if="!key.nosortable" class="fa wz-theader-sort-icon"
            ng-class="sortValue === (key.value || key) ? (sortDir ? 'fa-sort-asc' : 'fa-sort-desc') : 'fa-sort'"
            aria-hidden="true"></i>
        </th>
        <th ng-if="(path === '/security/users' || path === '/security/roles' || path === '/security/policies' || path === '/agents' || (path === '/groups' && adminMode) || (isLookingGroup() && adminMode)) "
          class="wz-text-left wz-nowrap"
          ng-class="{'col-lg-2': path !== '/agents', 'col-lg-1': path === '/agents'} && getWitdh(key.value || key)">
          Actions</th>
        <th ng-if="(path === '/rules/files' || path === '/decoders/files' || path === '/lists/files') && adminMode"
          class="wz-text-left wz-nowrap" ng-style="path !== '/agents' && {'width':'375px'}">
          Actions
        </th>
      </thead>
      <tbody>
        <tr ng-class="allowClick ? 'cursor-pointer' : ''" class="wz-word-wrap"
          ng-repeat="item in pagedItems[currentPage] | filter:{item:'!'}" ng-click="clickAction(item)">
          <td ng-repeat="key in keys | filter: showKey"
            ng-class="{'table-width-id': key === 'id', 'table-width-filename': key.value === 'filename' }"
            ng-if="path !== '/decoders' && path !== '/rules'">
            <div class="table-width-id" ng-if="key === 'id'">{{
              parseValue(key,item)
              }}</div>
            <div ng-if="key !== 'id'" class="wz-text-truncatable-container">
              <span class="wz-text-truncatable">
                {{parseValue(key,item)}}
              </span>
            </div>
            <md-tooltip ng-if="parseValue(key,item).length > (extraLimit ? 100 : 25)" md-direction="bottom"
              class="wz-tooltip">
              {{ parseValue(key,item) }}
            </md-tooltip>
          </td>
          <td ng-repeat="key in keys | filter: showKey" ng-class="{'table-width-id': key === 'id'}"
            ng-if="path === '/rules'" ng-click="handleClick(key,item,$event)" ng-mouseover="selectedCell = $index;"
            ng-mouseleave="selectedCell = false">
            <div class="wz-text-truncatable-container">
              <span class="wzTableCellFilter" ng-show="canFilter(parseKey(key)) && selectedCell == $index && parseKey(key) !== 'filename'">
                <span class="fa fa-search-plus"></span> </span>
              <div class="table-width-id" ng-if="key === 'id'">{{
              parseValue(key,item)
              }}</div>
              <div ng-if="key !== 'id'" class="wz-text-truncatable-container"
                ng-class="{'wz-link': parseKey(key) === 'filename'}">
                <span class="wz-text-truncatable">
                  {{parseValue(key,item)}}
                </span>
              </div>
            </div>
            <md-tooltip ng-if="parseValue(key,item).length > (extraLimit ? 100 : 25)" md-direction="bottom"
              class="wz-tooltip">
              {{ parseValue(key,item) }}
            </md-tooltip>
          </td>
          <td ng-repeat="key in keys | filter: showKey" ng-class="{'table-width-id': key === 'id'}"
            ng-if="path === '/decoders'" ng-click="handleClick(key,item,$event)" ng-mouseover="selectedCell = $index;"
            ng-mouseleave="selectedCell = false">
            <div class="wz-text-truncatable-container">
              <span class="wzTableCellFilter" ng-show="canFilter(parseKey(key)) && selectedCell == $index && parseKey(key) !== 'filename'">
                <span class="fa fa-search-plus"></span> </span>
              <div class="wz-text-left" tooltip="{{ parseValue(key,item) }}" tooltip-placement="bottom">
                <div class="table-width-id wz-text-truncatable-container" ng-if="key === 'id'">
                  <span class="wz-text-truncatable">
                    {{parseValue(key,item)}}
                  </span>
                </div>
                <div ng-if="key !== 'id'" ng-class="{'wz-link': parseKey(key) === 'filename'}">{{
                parseValue(key,item)
                }}</div>
              </div>
              <md-tooltip ng-if="parseValue(key,item).length > (extraLimit ? 100 : 25)" md-direction="bottom"
                class="wz-tooltip">
                {{ parseValue(key,item) }}
              </md-tooltip>
            </div>
          </td>
          <td ng-if="path === '/agents'" ng-click="$event.stopPropagation()" class="cursor-default action-btn-td">
            <wz-svg icon="compass" ng-click="launchAgentDiscover(item.id); $event.stopPropagation()"
              svg-tooltip="Open Discover panel for this agent">
            </wz-svg>
            <wz-svg icon="wrench" ng-click="clickAction(item, 'ag-conf'); $event.stopPropagation()"
              svg-tooltip="Open Configuration for this agent">
            </wz-svg>
          </td>
          <!-- Remove files -->
          <td ng-if="adminMode && (path === '/rules/files' || path === '/decoders/files' || path === '/lists/files')">
            <!-- Edit icon -->
            <wz-svg
              ng-if="!removingFile && path !== '/lists/files' && (item.relative_dirname === 'etc/rules' || item.relative_dirname === 'etc/decoders')"
              ng-click="$event.stopPropagation();editFile(item.filename || item.name, item.relative_dirname)" icon="pencil"
              svg-tooltip="Edit this file" color="#0079a5">
            </wz-svg>
            <!--Remove icon -->
            <wz-svg
              ng-if="!removingFile && (item.relative_dirname === 'etc/rules' || item.relative_dirname === 'etc/decoders' || path === '/lists/files')"
              ng-click="showConfirmRemoveFile($event, item.filename || item.name); $event.stopPropagation()" icon="trash"
              color="#0079a5" svg-tooltip="Remove this file">
            </wz-svg>
            <!--NO icon -->
            <i ng-if="item.relative_dirname !== 'etc/rules' && item.relative_dirname !== 'etc/decoders' && path !== '/lists/files'"
              aria-hidden="true" style="color: #396e3e;font-size: 17px;">
              <wz-svg ng-if="item.relative_dirname !== 'etc/rules' && item.relative_dirname !== 'etc/decoders' && path !== '/lists/files'"
                ng-click="$event.stopPropagation();editFile(item.filename || item.name, item.relative_dirname, true)" icon="eye"
                svg-tooltip="View file content" color="#396e3e">
              </wz-svg>
            </i>
            <div ng-if="(item.filename && removingFile === item.filename) || (item.name && removingFile === item.name)"
              class="confirmEmbedBubble">
              <div class="inline" layout="row">
                <span class="font-size-12 wz-padding-left-8">This file will be removed</span>
              </div>
              <div class="inline" layout="row">
                <md-button class="cancelBtn" type="button" ng-click="$event.stopPropagation();cancelRemoveFile()"><i
                    aria-hidden='true' class='fa fa-fw fa-close'></i>
                  Cancel</md-button>
                <md-button class="agreeBtn" type="button" ng-click="$event.stopPropagation();confirmRemoveFile(item)"><i
                    aria-hidden='true' class='fa fa-fw fa-check'></i> Confirm</md-button>
              </div>
            </div>
          </td>
          <!-- End remove files-->
          <td ng-if="path === '/groups' && adminMode " ng-click="$event.stopPropagation()"
            class="cursor-default action-btn-td" class="wz-text-truncatable">
            <wz-svg ng-if="removingGroup !== item.name && item.name !== 'default'"
              ng-click="showConfirmRemoveGroup($event, item); $event.stopPropagation()" icon="trash" color="#396e3e"
              svg-tooltip="Remove this group"></wz-svg>
            <wz-svg ng-if="removingGroup !== item.name" ng-click="editGroup(item); $event.stopPropagation()" icon="pencil"
              color="#396e3e" svg-tooltip="Edit this group configuration">
            </wz-svg>

            <span class="wz-padding-left-8" ng-if="removingGroup !== item.name && item.name === 'default'">-</span>
            <div ng-if="removingGroup === item.name && item.name !== 'default'">
              <div layout="row">
                <span class="euiToastHeader__title font-size-12">Group {{item.name}} will be removed</span>
              </div>
              <div layout="row">
                <md-button class="cancelBtn" type="button" ng-click="cancelRemoveGroup()"><i aria-hidden='true'
                    class='fa fa-fw fa-close'></i>
                  Cancel</md-button>
                <md-button class="agreeBtn" type="button" ng-click="confirmRemoveGroup(item.name)"><i aria-hidden='true'
                    class='fa fa-fw fa-check'></i> Confirm</md-button>
              </div>
            </div>
            <td ng-if="isLookingGroup() && adminMode " ng-click="$event.stopPropagation()"
              class="cursor-default action-btn-td">
              <wz-svg ng-if="removingAgent !== item.id && adminMode"
                ng-click="showConfirmRemoveAgentFromGroup($event, item); $event.stopPropagation()" icon="trash"
                color="#396e3e" svg-tooltip="Remove agent">
              </wz-svg>

              <div ng-if="removingAgent === item.id" class="confirmEmbedBubble">
                <div layout="row">
                  <span class="font-size-12 wz-padding-left-8">The agent {{item.id}} will be removed from
                    this group</span>
                </div>
                <div layout="row">
                  <md-button class="cancelBtn" type="button" ng-click="cancelRemoveAgent()"><i aria-hidden='true'
                      class='fa fa-fw fa-close'></i>
                    Cancel</md-button>
                  <md-button class="agreeBtn" type="button" ng-click="confirmRemoveAgent(item.id)"><i aria-hidden='true'
                      class='fa fa-fw fa-check'></i> Confirm</md-button>
                </div>
              </div>
            </td>
          </td>
          <!-- SECURITY SECTION USERS-->
          <td ng-if="path === '/security/users'" ng-click="$event.stopPropagation()"
            class="cursor-default action-btn-td" class="wz-text-truncatable">
            <wz-svg ng-if="removingUser !== item.username && item.username !== 'default'"
              ng-click="showConfirmRemoveSecurityUser($event, item); $event.stopPropagation()" icon="trash" color="#396e3e"
              svg-tooltip="Remove this item"></wz-svg>
            <wz-svg ng-if="removingUser !== item.username" ng-click="editSecurityUser(item); $event.stopPropagation()" icon="pencil"
              color="#396e3e" svg-tooltip="Edit this user configuration">
            </wz-svg>

            <span class="wz-padding-left-8" ng-if="removingUser !== item.username && item.username === 'default'">-</span>
            <div ng-if="removingUser === item.username && item.username !== 'default'">
              <div layout="row" ng-if="path === '/security/users'">
                <span class="euiToastHeader__title font-size-12">User {{item.username}} will be removed</span>
              </div>
              <div layout="row" ng-if="path === '/security/users'">
                <md-button class="cancelBtn" type="button" ng-click="cancelRemoveSecurityUser()"><i aria-hidden='true'
                    class='fa fa-fw fa-close'></i>
                  Cancel</md-button>
                <md-button class="agreeBtn" type="button" ng-click="confirmRemoveSecurityUser(item.username)"><i aria-hidden='true'
                    class='fa fa-fw fa-check'></i> Confirm</md-button>
              </div>
            </div>
            <td ng-if="isLookingGroup() " ng-click="$event.stopPropagation()"
              class="cursor-default action-btn-td">
              <wz-svg ng-if="removingUser !== item.username"
                ng-click="showConfirmRemoveSecurityUser($event, item); $event.stopPropagation()" icon="trash"
                color="#396e3e" svg-tooltip="Remove agent">
              </wz-svg>

              <div ng-if="removingUser === item.username" class="confirmEmbedBubble">
                <div layout="row">
                  <span class="font-size-12 wz-padding-left-8">The agent {{item.id}} will be removed from
                    this group</span>
                </div>
                <div layout="row">
                  <md-button class="cancelBtn" type="button" ng-click="cancelRemoveSecurityUser()"><i aria-hidden='true'
                      class='fa fa-fw fa-close'></i>
                    Cancel</md-button>
                  <md-button class="agreeBtn" type="button" ng-click="confirmRemoveSecurityUser(item.username)"><i aria-hidden='true'
                      class='fa fa-fw fa-check'></i> Confirm</md-button>
                </div>
              </div>
            </td>
          </td> 
          <!-- END SECTION USERS -->

          <!-- SECURITY FOR ROLES-->
          <td ng-if="path === '/security/roles'" ng-click="$event.stopPropagation()"
            class="cursor-default action-btn-td" class="wz-text-truncatable">
            <wz-svg ng-if="removingRoles !== item.name && item.name !== 'default'"
              ng-click="showConfirmRemoveSecurityRoles($event, item); $event.stopPropagation()" icon="trash" color="#396e3e"
              svg-tooltip="Remove this item"></wz-svg>
            <wz-svg ng-if="removingRoles !== item.name" ng-click="editSecurityRoles(item); $event.stopPropagation()" icon="pencil"
              color="#396e3e" svg-tooltip="Edit this item configuration">
            </wz-svg>

            <span class="wz-padding-left-8" ng-if="removingRoles !== item.name && item.name === 'default'">-</span>
            <div ng-if="(removingRoles === item.name && item.name !== 'default')">
              <!-- check for data to display -->
              <div layout="row" ng-if="path === '/security/roles'">
                <span class="euiToastHeader__title font-size-12">Role {{item.name}} will be removed</span>
              </div>              
              <div layout="row" ng-if="path === '/security/roles'">
                <md-button class="cancelBtn" type="button" ng-click="cancelRemoveSecurityRoles()"><i aria-hidden='true'
                    class='fa fa-fw fa-close'></i>
                  Cancel</md-button>
                <md-button class="agreeBtn" type="button" ng-click="confirmRemoveSecurityRoles(item.id)"><i aria-hidden='true'
                    class='fa fa-fw fa-check'></i> Confirm</md-button>
              </div>
            </div>
            <td ng-if="isLookingGroup() " ng-click="$event.stopPropagation()"
              class="cursor-default action-btn-td">
              <wz-svg ng-if="removingRoles !== item.name"
                ng-click="showConfirmRemoveSecurityRoles($event, item); $event.stopPropagation()" icon="trash"
                color="#396e3e" svg-tooltip="Remove entry">
              </wz-svg>

              <div ng-if="path === '/security/roles'" class="confirmEmbedBubble">
                <div layout="row">
                  <span class="font-size-12 wz-padding-left-8">{{item.name}} will be removed from
                    this group</span>
                </div>
                <div layout="row" ng-if="path === '/security/roles'">
                  <md-button class="cancelBtn" type="button" ng-click="cancelRemoveSecurityRoles()"><i aria-hidden='true'
                      class='fa fa-fw fa-close'></i>
                    Cancel</md-button>
                  <md-button class="agreeBtn" type="button" ng-click="confirmRemoveSecurityRoles(item.id)"><i aria-hidden='true'
                      class='fa fa-fw fa-check'></i> Confirm</md-button>
                </div>
              </div>
            </td>
          </td>
          <!-- END SECURITY FOR ROLES -->
          <!-- SECURITY FOR POLICIES-->
          <td ng-if="path === '/security/policies'" ng-click="$event.stopPropagation()"
            class="cursor-default action-btn-td" class="wz-text-truncatable">
            <wz-svg ng-if="removingPolicy !== item.name && item.name !== 'default'"
              ng-click="showConfirmRemoveSecurityPolicies($event, item); $event.stopPropagation()" icon="trash" color="#396e3e"
              svg-tooltip="Remove this item"></wz-svg>
            <wz-svg ng-if="removingPolicies !== item.name" ng-click="editSecurityPolicies(item); $event.stopPropagation()" icon="pencil"
              color="#396e3e" svg-tooltip="Edit this item configuration">
            </wz-svg>

            <span class="wz-padding-left-8" ng-if="removingPolicies !== item.name && item.name === 'default'">-</span>
            <div ng-if="(removingPolicies === item.name && item.name !== 'default')">
              <!-- check for data to display -->
              <div layout="row" ng-if="path === '/security/policies'">
                <span class="euiToastHeader__title font-size-12">Policy {{item.name}} will be removed</span>
              </div>              
              <div layout="row" ng-if="path === '/security/policies'">
                <md-button class="cancelBtn" type="button" ng-click="cancelRemoveSecurityPolicies()"><i aria-hidden='true'
                    class='fa fa-fw fa-close'></i>
                  Cancel</md-button>
                <md-button class="agreeBtn" type="button" ng-click="confirmRemoveSecurityPolicies(item)"><i aria-hidden='true'
                    class='fa fa-fw fa-check'></i> Confirm</md-button>
              </div>
            </div>
            <td ng-if="isLookingGroup() " ng-click="$event.stopPropagation()"
              class="cursor-default action-btn-td">
              <wz-svg ng-if="removingPolicies !== item.name"
                ng-click="showConfirmRemoveSecurityPolicies($event, item.id); $event.stopPropagation()" icon="trash"
                color="#396e3e" svg-tooltip="Remove entry">
              </wz-svg>

              <div ng-if="path === '/security/policies'" class="confirmEmbedBubble">
                <div layout="row">
                  <span class="font-size-12 wz-padding-left-8">{{item.name}} will be removed from
                    this group</span>
                </div>
                <div layout="row" ng-if="path === '/security/policies'">
                  <md-button class="cancelBtn" type="button" ng-click="cancelRemoveSecurityPolicies()"><i aria-hidden='true'
                      class='fa fa-fw fa-close'></i>
                    Cancel</md-button>
                  <md-button class="agreeBtn" type="button" ng-click="confirmRemoveSecurityPolicies(item.id)"><i aria-hidden='true'
                      class='fa fa-fw fa-check'></i> Confirm</md-button>
                </div>
              </div>
            </td>
          </td>
          <!-- END SECURITY FOR POLICIES -->

         


        </tr>
      </tbody>
      <tfoot class="no-border">
        <td
          colspan="{{ (path === '/agents' || (path === '/groups' && adminMode) || (path === '/rules/files' || path === '/decoders/files' || path === '/lists/files') || (isLookingGroup() && adminMode))  ? keys.length + 1 : keys.length}}">
          <span ng-show="!wazuhTableLoading" class="color-grey">{{ totalItems }} items ({{time | number: 2}}
            seconds)</span>
          <div ng-show="items.length > itemsPerPage" class="pagination pull-right" style="margin:0 !important">
            <ul layout="row">
              <li ng-show="currentPage > 0" class="md-padding">
                <a href ng-click="firstPage()">First</a>
              </li>
              <li ng-show="currentPage" class="md-padding">
                <a href ng-click="prevPage()"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
              </li>
              <li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) "
                ng-class="{'wz-text-active': n == currentPage}" ng-click="setPage()" class="md-padding">
                <a href ng-bind="n + 1">1</a>
              </li>
              <li ng-show="currentPage < pagedItems.length - 1" class="md-padding">
                <a href ng-click="nextPage()"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
              </li>
              <li ng-show="currentPage < pagedItems.length - 1" class="md-padding">
                <a href ng-click="setPage(pagedItems.length - 1,  true)">Last</a>
              </li>
            </ul>
          </div>
        </td>
      </tfoot>
    </table>
  </div>


  <!-- Table for configuration assessment -->
  <div layout="row" ng-show="!error && !wazuhTableLoading && items.length" ng-if="isPolicyMonitoring()">
    <table ng-class="customColumns ? 'table-resizable' : ''" class="table wz-no-outline table-condensed"
      style="table-layout: fixed !important" id="table{{scapepath}}">
      <thead class="wz-text-bold">
        <th ng-repeat="key in keys | filter: showKey" class="wz-text-left wz-nowrap"
          ng-class="{'cursor-pointer' : !key.nosortable}" ng-click="!key.nosortable && sort(key)">
          {{ path === '/groups' && (key.value || key) === 'count' ? 'Agents' : keyEquivalence[key.value ||
          key] || key.value || key }}
          <i ng-if="!key.nosortable" class="fa wz-theader-sort-icon"
            ng-class="sortValue === (key.value || key) ? (sortDir ? 'fa-sort-asc' : 'fa-sort-desc') : 'fa-sort'"
            aria-hidden="true"></i>
        </th>
        <th ng-if="(path === '/agents' || (path === '/groups' && adminMode) || (isLookingGroup() && adminMode)) "
          class="wz-text-left wz-nowrap"
          ng-class="{'col-lg-2': path !== '/agents', 'col-lg-1': path === '/agents'}  && getWitdh(key.value || key)">
          Actions</th>
      </thead>
      <tbody>
        <tr ng-class="{'cursor-pointer':allowClick, 'backgroundSky':item.expanded, 'noBorderBottom':item.expanded}"
          class="wz-word-wrap" ng-repeat-start="item in pagedItems[currentPage] | filter:{item:'!'}"
          ng-click="expandPolicyMonitoringCheck(item)">
          <td ng-repeat="key in keys | filter: showKey" ng-class="{'noBorderBottom':item.expanded}">
            <span ng-show="key === 'result'" class="no-wrap">
              <p class="round status littleStat"
                ng-class="item.result ? ((item.result === 'passed') ? 'teal' : 'red') : 'gray'"></p>&nbsp;&nbsp;
            </span>
            <span>
              {{
              key === 'result' && !item.result ? item.status : parseValue(key,item)
              }}
            </span>
          </td>
        </tr>
        <tr class="wz-word-wrap backgroundSky"
          ng-if="item.expanded && (item.rationale || item.remediation || item.directory || item.condition || item.compliance.length > 0)"
          ng-repeat-end="">
          <td colspan="{{keys.length}}" style="border-top: none">
            <md-card>
              <div layout="column" ng-if="!item.result" class="wz-margin-top-10 expandedDiv">
                <span class="tSize16">Check not applicable due to:</span>
                <p class="wz-margin-top-10 pExpanded wz-text-sca">{{ item.reason }}</p>
              </div>
              <div layout="column" ng-if="item.rationale" class="wz-margin-top-10 expandedDiv">
                <span class="tSize16">Rationale</span>
                <p class="wz-margin-top-10 pExpanded wz-text-sca">{{item.rationale}}</p>
              </div>
              <div layout="column" ng-if="item.condition" class="wz-margin-top-10 expandedDiv">
                <span class="tSize16">Condition</span>
                <p class="wz-margin-top-10 pExpanded wz-text-sca">{{item.condition}}</p>
              </div>
              <div layout="column" ng-if="item.remediation" class="wz-margin-top-10 expandedDiv">
                <span class="tSize16">Remediation</span>
                <p class="wz-margin-top-10 pExpanded wz-text-sca">{{item.remediation}}</p>
              </div>
              <div layout="column" ng-if="item.description" class="wz-margin-top-10 expandedDiv">
                <span class="tSize16">Description</span>
                <p class="wz-margin-top-10 pExpanded wz-text-sca">{{item.description}}</p>
              </div>
              <div layout="column" ng-if="item.directory" class="wz-margin-top-10 expandedDiv">
                <span class="tSize16">Path(s)</span>
                <p class="wz-margin-top-10 pExpanded wz-text-sca">{{ item.directory }}</p>
              </div>
              <div layout="column" ng-if="item.rules.length > 0" class="wz-margin-top-10 expandedDiv">
                <span class="tSize16">Checks</span>
                <ul class="noDot pExpanded">
                  <li class="wz-text-sca wz-margin-top-20" ng-repeat="r in item.rules">
                    {{r.rule}}
                  </li>
                </ul>
              </div>
              <div layout="column" ng-if="item.compliance.length > 0" class="wz-margin-top-10 expandedDiv">
                <span class="tSize16">Compliance</span>
                <p class="wz-margin-top-10 pExpanded"><span class="wz-padding-right-8"
                    ng-repeat="c in item.compliance">{{c.key}}/{{c.value}}</span></p>
              </div>
            </md-card>
          </td>
        </tr>
      </tbody>
      <tfoot class="no-border">
        <td
          colspan="{{ (path === '/agents' || (path === '/groups' && adminMode) || (isLookingGroup() && adminMode))  ? keys.length + 1 : keys.length}}">
          <span ng-show="!wazuhTableLoading" class="color-grey">{{ totalItems }} items ({{time | number: 2}}
            seconds)</span>
          <div ng-show="items.length > itemsPerPage" class="pagination pull-right" style="margin:0 !important">
            <ul layout="row">
              <li ng-show="currentPage > 0" class="md-padding">
                <a href ng-click="firstPage()">First</a>
              </li>
              <li ng-show="currentPage" class="md-padding">
                <a href ng-click="prevPage()"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
              </li>

              <li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) "
                ng-class="{'wz-text-active': n == currentPage}" ng-click="setPage()" class="md-padding">
                <a href ng-bind="n + 1">1</a>
              </li>

              <li ng-show="currentPage < pagedItems.length - 1" class="md-padding">
                <a href ng-click="nextPage()"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
              </li>
              <li ng-show="currentPage < pagedItems.length - 1" class="md-padding">
                <a href ng-click="setPage(pagedItems.length - 1,  true)">Last</a>
              </li>
            </ul>
          </div>
        </td>
      </tfoot>
    </table>
  </div>


  <!-- Table for syschecks -->
  <div layout="row" ng-show="!error && !wazuhTableLoading && items.length" ng-if="isSyschecks()">
    <table ng-class="customColumns ? 'table-resizable' : ''" ng-class="customColumns ? 'table-resizable' : ''"
      class="table wz-no-outline table-condensed wz-break-word" style="table-layout: fixed !important" id="table{{scapepath}}">
      <thead class="wz-text-bold">
        <th ng-repeat="key in keys  | filter: showKey" class="wz-text-left wz-nowrap"
          ng-class="{'cursor-pointer' : !key.nosortable}" ng-click="!key.nosortable && sort(key)">
          {{ keyEquivalence[key.value || key] || key.value || key }}
          <i ng-if="!key.nosortable" class="fa wz-theader-sort-icon"
            ng-class="sortValue === (key.value || key) ? (sortDir ? 'fa-sort-asc' : 'fa-sort-desc') : 'fa-sort'"
            aria-hidden="true"></i>
        </th>
      </thead>
      <tbody>
        <tr ng-class="allowClick ? 'cursor-pointer' : ''" class="wz-word-wrap"
          ng-repeat-start="item in pagedItems[currentPage] | filter:{item:'!'}" ng-click="expandItem(item)">
          <td ng-repeat="key in keys | filter: showKey">
            <span>
              {{
              parseValue(key,item)
              }}
            </span>
          </td>
        </tr>
        <tr class="wz-word-wrap" style="background-color: #ecf6fb !important" ng-if="item.expanded" ng-repeat-end="">
          <td colspan="9">
            <md-card class="wz-margin-12">
              <table class="table wz-no-outline table-condensed">
                <tbody>
                  <tr ng-repeat="(key,value) in item"
                    ng-show="(!isWindows() || (key !== 'inode' && key !== 'gid' && key !== 'gname')) && key !== 'expanded'">
                    <td class="wz-width-150"><b>{{keyEquivalence[key] || key}}</b></td>
                    <td>{{value}}</td>
                  </tr>
                </tbody>
              </table>
              <div class="wz-margin-5">
                <button ng-if="isRegistryValue"
                  md-no-ink class="btn wz-button-empty wz-button-report button-reg-details"
                  ng-click="loadRegistryValueDetails(item)" aria-label="View registry details">
                  <i class="fa fa-fw fa-info" aria-hidden="true"></i>View registry values                  
                </button>
              </div>
            </md-card>
          </td>
        </tr>
      </tbody>
      <tfoot class="no-border">
        <td
          colspan="{{ (path === '/agents' || (path === '/groups' && adminMode) || (isLookingGroup() && adminMode))  ? keys.length + 1 : keys.length}}">
          <span ng-show="!wazuhTableLoading" class="color-grey">{{ totalItems }} items ({{time | number: 2}}
            seconds)</span>
          <div ng-show="items.length > itemsPerPage" class="pagination pull-right" style="margin:0 !important">
            <ul layout="row">
              <li ng-show="currentPage > 0" class="md-padding">
                <a href ng-click="firstPage()">First</a>
              </li>
              <li ng-show="currentPage" class="md-padding">
                <a href ng-click="prevPage()"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
              </li>

              <li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) "
                ng-class="{'wz-text-active': n == currentPage}" ng-click="setPage()" class="md-padding">
                <a href ng-bind="n + 1">1</a>
              </li>

              <li ng-show="currentPage < pagedItems.length - 1" class="md-padding">
                <a href ng-click="nextPage()"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
              </li>
              <li ng-show="currentPage < pagedItems.length - 1" class="md-padding">
                <a href ng-click="setPage(pagedItems.length - 1,  true)">Last</a>
              </li>
            </ul>
          </div>
        </td>
      </tfoot>
    </table>
  </div>
  <div layout="row" ng-if="!error && !wazuhTableLoading && !totalItems">
    <div flex class="euiCallOut euiCallOut--warning">
      <div class="euiCallOutHeader">
        <wz-svg icon="callOutHeader"></wz-svg>
        <span class="euiCallOutHeader__title">{{customEmptyResults}}</span>
      </div>
    </div>
  </div>

  <div layout="row" ng-if="error" class="wz-margin-bottom-45">
    <div flex class="euiCallOut euiCallOut--warning">
      <div class="euiCallOutHeader">
        <wz-svg icon="callOutHeader"></wz-svg>
        <span class="euiCallOutHeader__title">{{error}}</span>
      </div>
    </div>
  </div>


  <div layout="row" ng-if="!wazuhTableLoading && !totalItems" class="wz-margin-top-10">
    <span class="color-grey">0 items ({{time | number: 2}} seconds)</span>
  </div>

    
</div>