<div ng-cloak flex layout="column" class='wz-white-background'>
  <div layout="row" class="layout-row layout-align-end wz-white-background">
    <div class='wz-margin-left-10 wz-margin-top-12'>
      <span class="wz-text-link cursor-pointer" ui-sref='manager'>Management</span>
      <span class="wz-text-link cursor-pointer" ui-sref='mg-rules'> / Ruleset</span>
      <span class="wz-text-link cursor-pointer" ui-sref='mg-decoders'> / Decoders</span>
      <span> / {{currentDecoder.name}}</span>
    </div>
    <div flex></div>
    <div style="margin-right:7px;" id='input1'></div>
  </div>
  <!-- Back button and title -->
  <div layout="row" layout-align="start center">
    <!-- Back button -->
    <md-button class="md-icon-button" aria-label="Back to decoders list" ui-sref='mg-decoders'>
      <i class="fa fa-fw fa-arrow-left" aria-hidden="true"></i>
      <md-tooltip md-direction="bottom" class="wz-tooltip">
        Back
      </md-tooltip>
    </md-button>
    <!-- Decoder title -->
    <h1 class="md-headline wz-headline">{{currentDecoder.name}}</h1>
  </div>
  <!-- End back button, title and status indicator -->

  <!-- Decoder information ribbon -->
  <div layout="row" ng-if="!editingFile">
    <md-card flex class="wz-metric-color wz-md-card">
      <md-card-content layout="row" class="wz-padding-metric">
        <div flex="20" ng-if="currentDecoder.position || currentDecoder.position == 0" class="wz-text-truncatable">Position:
          <span class="wz-text-bold">{{currentDecoder.position}}</span>
        </div>
        <div flex="40" ng-if="currentDecoder.file" class="wz-text-truncatable">File:
          <span class="wz-text-bold wz-text-link" ng-click="addDetailFilter('file', currentDecoder.file)">{{currentDecoder.file}}
            <md-tooltip md-direction="bottom" class="wz-tooltip">
              Filter by this file
            </md-tooltip>
          </span>
        </div>
        <div flex="40" ng-if="currentDecoder.path" class="wz-text-truncatable">Path:
          <span class="wz-text-bold wz-text-link" ng-click="addDetailFilter('path', currentDecoder.path)">{{currentDecoder.path}}
            <md-tooltip md-direction="bottom" class="wz-tooltip">
              Filter by this path
            </md-tooltip>
          </span>
        </div>
      </md-card-content>
    </md-card>
  </div>
  <!-- End Decoder information ribbon -->

  <!-- Edit button -->
  <div layout="row" ng-if="!editingFile">
    <button ng-if="currentDecoder.file && isLocal && adminMode" ng-click="editDecoder(currentDecoder.file)" class="btn btn-primary btn-ruleset ng-scope"><i
        aria-hidden="true" class="fa fa-fw fa-pencil"></i>
      Edit {{currentDecoder.file}}
    </button>
  </div>

  <!-- Rest of decoder information -->
  <div layout="column" layout-align="start">

    <div layout="row" layout-align="start stretch">

      <!-- Details section -->
      <md-card flex class="wz-md-card" ng-if="!editingFile">
        <md-card-content class="wazuh-column">
          <span class="wz-headline-title">
            <i class="fa fa-fw fa-info" aria-hidden="true"></i> Details</span>
          <md-divider class="wz-margin-top-10"></md-divider>

          <div layout="row" layout-wrap class="wz-padding-top-10" ng-repeat="(key, value) in currentDecoder.details"
            ng-if="!isArray(value)">
            <span flex="20">{{key}}</span>
            <span class="wz-text-right color-grey" ng-if="key !== 'regex' && key !== 'order'">{{value}}</span>
            <span class="wz-text-right color-grey" ng-if="key == 'regex'" ng-bind-html="colorRegex(value)"></span>
            <span class="wz-text-right color-grey" ng-if="key == 'order'" ng-bind-html="colorOrder(value)"></span>

          </div>
        </md-card-content>
      </md-card>
      <!-- End details section -->

      <!-- Regex section -->
      <md-card flex class="wz-md-card" ng-if="isArray(currentDecoder.details.regex) && !editingFile">
        <md-card-content class="wazuh-column">
          <span class="wz-headline-title">
            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i> Regex</span>
          <md-divider class="wz-margin-top-10"></md-divider>
          <div ng-repeat="item in currentDecoder.details.regex">
            <div layout="row" layout-wrap class="wz-padding-top-10">
              <span ng-bind-html="colorRegex(item)"></span>
            </div>
          </div>
        </md-card-content>
      </md-card>
      <!-- End regex section -->

    </div>

    <div layout="row" layout-align="start stretch">

      <!-- Match section -->
      <md-card flex class="wz-md-card" ng-if="isArray(currentDecoder.details.match) && !editingFile">
        <md-card-content class="wazuh-column">
          <span class="wz-headline-title">
            <i class="fa fa-fw fa-retweet" aria-hidden="true"></i> Match</span>
          <md-divider class="wz-margin-top-10"></md-divider>
          <div ng-repeat="item in currentDecoder.details.match">
            <div layout="row" layout-wrap class="wz-padding-top-10">
              <span>{{item}}</span>
            </div>
          </div>
        </md-card-content>
      </md-card>
      <!-- End match section -->

      <!-- Prematch section -->
      <md-card flex class="wz-md-card" ng-if="isArray(currentDecoder.details.prematch) && !editingFile">
        <md-card-content class="wazuh-column">
          <span class="wz-headline-title">
            <i class="fa fa-fw fa-retweet" aria-hidden="true"></i> Prematch</span>
          <md-divider class="wz-margin-top-10"></md-divider>
          <div ng-repeat="item in currentDecoder.details.prematch">
            <div layout="row" layout-wrap class="wz-padding-top-10">
              <span>{{item}}</span>
            </div>
          </div>
        </md-card-content>
      </md-card>
      <!-- End prematch section -->

    </div>

    <!-- Related decoders section -->
    <div layout="row" ng-if="currentDecoder && !editingFile">
      <h1 class="md-headline wz-headline">
        <i class="fa fa-fw fa-link" aria-hidden="true"></i> Related decoders</h1>
    </div>
    <div layout="row" ng-if="currentDecoder && !editingFile" class="md-padding">
      <wazuh-table flex path="'/decoders'" implicit-filter="[{ name:'file',value: currentDecoder.file}]" keys="['name',{value:'details.program_name',size:2,nosortable:true},{value:'details.order',size:2,nosortable:true},'file']"
        allow-click="true">
      </wazuh-table>
    </div>
    <!-- XML editor for decoder -->
    <div ng-show="editingFile">
      <div layout="row" class="md-padding">
        <button class="md-icon-button" ng-if="!adminMode" aria-label="Back" ng-click="goBackFiles()"><i class="fa fa-fw fa-close"
            aria-hidden="true"></i>
          <md-tooltip md-direction="bottom" class="wz-tooltip">Close file</md-tooltip>
        </button>
        <span ng-if="adminMode" ng-click='closeEditingFile()' class='btn btn-info'>Cancel</span>
        <button ng-if="adminMode && !saveIncomplete" ng-disabled='xmlHasErrors' ng-click='saveDecoderConfig(currentDecoder.file)' class='btn btn-primary pull-right wz-margin-left-10'>
          <span ng-show='!xmlHasErrors && adminMode'><i aria-hidden='true' class='fa fa-fw fa-save wz-margin-left-10'></i>Save
            file</span>
          <span ng-show='xmlHasErrors && adminMode' class='btn-danger'><i aria-hidden='true' class='fa fa-fw fa-exclamation-triangle'></i>
            XML format error</span>
        </button>
        <span class="btn-as-i" ng-show="saveIncomplete"><i class="fa fa-fw fa-spin fa-spinner btn-as-i"></i></span>

        <!-- Restart if saved without errors-->
        <span class="flex"></span>
        <div ng-show="restartAndApply" style="padding-right: 15px;">
          <span>Do you want to restart to apply configuration?</span>
          <button style="height: 30px;" ng-if="adminMode" ng-click="closeRestartConfirmation()" class='btn btn-info pull-right wz-margin-left-10'>
            <span ng-show='adminMode'><i aria-hidden='true' class='wz-margin-left-10'></i>Cancel</span>
          </button>
          <button style="height: 30px;" ng-if="adminMode && !clusterEnabled" ng-click="restart(); closeRestartConfirmation()"
            class='btn btn-primary pull-right wz-margin-left-10'>
            <span ng-show='adminMode'><i aria-hidden='true' class='fa fa-fw fa-check wz-margin-left-10'></i>Confirm</span>
          </button>
        </div>
        <!-- End restart button -->

      </div>
      <div class="wzXmlEditorDivContent" style="height: calc(100vh - 280px);" ng-if="fetchedXML">
        <wz-xml-file-editor style="height: inherit;" file-name='decoder' data="fetchedXML" target-name="currentDecoder.file"
          valid-fn='xmlIsValid(valid)' close-fn='closeEditingFile()'>
        </wz-xml-file-editor>
      </div>
    </div>
    <!-- End XML editor-->

    <!-- End related decoders section -->
    <div ng-show="!editingFile" layout="row" class="wz-margin-top-10">
      <span flex></span>
      <a class="small" id="btnDownload" ng-click="downloadCsv('/decoders','decoders.csv')">Formatted
        <i aria-hidden="true" class="fa fa-download"></i>
      </a>
    </div>
  </div>
  <!-- End rest of decoder information -->
</div>