<wz-rbac-prompt permissions="canReadDecoders">
  <div ng-cloak flex layout="column" class="wz-white-background">
    <div layout="row" class="layout-row wz-white-background">
      <div layout="column" style="width: 100%">
        <div layout="row">
          <div class="wz-breadcrumb-margin">
            <span class="wz-text-link cursor-pointer" ui-sref="manager"
              >Management</span
            >
            <span class="wz-text-link cursor-pointer" ui-sref="mg-rules">
              / Ruleset</span
            >
            <span> / Decoders </span>
          </div>
          <div flex=""></div>
          <!-- Open Logtest button -- pending API 
                <div ng-show="!showLogtest">
                  <button class="btn wz-button-empty wz-margin-right-10" style="margin-top:10px;" ng-click="switchLogtest()" aria-label="Open Logtest" md-labeled-by-tooltip="md-tooltip-4">
                    <i class="fa fa-fw fa-play" aria-hidden="true"></i>Test your logs
                  </button>
                </div>
                -->
        </div>
        <div layout="row" style="margin-top: 15px; margin-left: -15px">
          <md-nav-bar
            class="wz-nav-bar wz-margin-left-16 wz-margin-right-16 wz-width-100p"
            md-selected-nav-item="selectedNavTab">
            <md-nav-item
              class="wz-nav-item"
              md-nav-click="stopPropagation()"
              ui-sref="mg-rules"
              name="rules"
              >Rules</md-nav-item
            >
            <md-nav-item
              class="wz-nav-item"
              md-nav-click="stopPropagation()"
              name="decoders"
              >Decoders</md-nav-item
            >
            <md-nav-item
              class="wz-nav-item"
              md-nav-click="stopPropagation()"
              ui-sref="mg-cdb"
              name="cdbList"
              >CDB Lists</md-nav-item
            > </md-nav-bar
          ><!-- Nav bar -->
        </div>
        <div layout="row" style="margin-top: 16px">
          <div class="wz-popover-wrapper">
            <div ng-show="uploadingFiles" class="wz-popover-content">
              <wz-upload-files
                upload-title="Upload decoders"
                resource="decoders"
                allowed-extensions="'.xml'"></wz-upload-files>
            </div>
          </div>
          <!-- Loading content -->
          <div ng-show="loadingContent">
            <div class="loader-bar" ng-show="loadingContent">
              <div class="loader"></div>
            </div>
          </div>
          <div style="width: 100%; margin-right: 10px">
            <div
              ng-if="!addingNewFile && !editingRulesetFile && !XMLContent"
              class="wz-padding-left-16">
              <div layout="row">
                <md-card style="width: 100%" class="wz-md-card no-margin-sides">
                  <md-card-actions
                    layout="column"
                    class="wz-card-actions wz-card-actions-top md-actions-ruleset"
                    style="background-color: white; height: 110px">
                    <div
                      layout="row"
                      style="padding-top: 15px; padding-bottom: 4px">
                      <span style="font-size: 28px; padding-right: 10px">
                        Decoders
                      </span>
                      <wz-kbn-switch
                        ng-if="rulesetFiles"
                        switch-model="$parent.localFilter"
                        switch-text="Editable files"></wz-kbn-switch>
                      <wz-kbn-switch
                        ng-if="!rulesetFiles"
                        switch-model="$parent.localFilter"
                        switch-text="Custom decoders"></wz-kbn-switch>

                      <span flex="" class="flex"></span>

                      <span
                        ng-if="canUpdateDecoders"
                        ng-click="addNewFile()"
                        class="wz-color-text cursor-pointer link-table">
                        <wz-svg icon="plus"></wz-svg>
                        Add new file
                      </span>
                      <span
                        ng-if="!rulesetFiles"
                        ng-click="switchFiles()"
                        class="wz-color-text cursor-pointer link-table">
                        <wz-svg icon="submodule"></wz-svg>
                        Manage decoders files
                      </span>
                      <span
                        ng-click="downloadCsv('/decoders','decoders.csv')"
                        class="wz-color-text cursor-pointer link-table">
                        <wz-svg icon="import"></wz-svg>
                        Export formatted
                      </span>
                      <span
                        ng-if="rulesetFiles && canUpdateDecoders"
                        ng-click="switchUploadFiles()"
                        class="wz-color-text cursor-pointer link-table">
                        <wz-svg icon="export"></wz-svg>
                        Import files
                      </span>
                      <span
                        ng-show="rulesetFiles"
                        ng-click="search(customSearch)"
                        class="wz-color-text cursor-pointer link-table">
                        <wz-svg icon="refresh"></wz-svg>
                        Refresh
                      </span>
                      <!-- 
                      <span ng-click="switchLogtest()" class="wz-color-text cursor-pointer link-table">
                          <wz-svg icon="export"></wz-svg>
                        Log test
                      </span>
                    --></div>

                    <div class="layout-row" style="padding-top: 15px">
                      <div layout="row" class="layout-row" style="width: 100%">
                        <div ng-show="!rulesetFiles" class="wz-width-100">
                          <label class="wz-icon-loupe">
                            <input
                              id="search-input-rules"
                              flex
                              placeholder="Filter decoders..."
                              ng-model="customSearch"
                              type="text"
                              class="kuiLocalSearchInput height-40"
                              aria-invalid="false"
                              wz-enter="search(customSearch)" />
                          </label>
                        </div>
                        <div ng-show="rulesetFiles">
                          <button
                            class="btn height-40 wz-button-empty wz-margin-right-10"
                            ng-click="switchFiles()">
                            <md-tooltip md-direction="right" class="wz-tooltip">
                              Back to decoders
                            </md-tooltip>
                            <i
                              class="fa fa-fw fa-arrow-left"
                              aria-hidden="true"></i>
                          </button>
                        </div>
                        <div ng-show="rulesetFiles" class="wz-width-100">
                          <label class="wz-icon-loupe">
                            <input
                              flex
                              placeholder="Filter decoders files..."
                              ng-model="customSearch"
                              type="text"
                              class="kuiLocalSearchInput height-40"
                              aria-invalid="false"
                              wz-enter="search(customSearch)" />
                          </label>
                        </div>
                        <wz-add-filter-chip
                          ng-if="!rulesetFiles"
                          id-input="search-input-rules"
                          options="[{label: 'File', value: 'filename'}, {label: 'Path', value: 'relative_dirname'}]"></wz-add-filter-chip>
                        <button
                          type="submit"
                          aria-label="Search"
                          class="btn height-40 wz-button-empty wz-margin-left-10"
                          ng-click="search(customSearch)">
                          <span>Search</span>
                        </button>
                      </div>
                    </div>
                  </md-card-actions>
                  <md-card-contents>
                    <md-chips
                      ng-if="!rulesetFiles"
                      class="wz-chips wz-margin-left-10"
                      readonly="true"
                      ng-show="appliedFilters.length">
                      <md-chip class="wz-chip" ng-show="includesFilter('file')">
                        <span
                          >File: {{ getFilter('file') }}
                          <i
                            class="fa fa-fw fa-times cursor-pointer"
                            aria-hidden="true"
                            ng-click="removeFilter('file')"></i>
                        </span>
                      </md-chip>
                      <md-chip class="wz-chip" ng-show="includesFilter('path')">
                        <span
                          >Path: {{ getFilter('path') }}
                          <i
                            class="fa fa-fw fa-times cursor-pointer"
                            aria-hidden="true"
                            ng-click="removeFilter('path')"></i>
                        </span>
                      </md-chip>
                    </md-chips>
                    <div layout="row" layout-padding>
                      <wazuh-table-server-side
                        custom-columns="true"
                        ng-if="!localFilter && !rulesetFiles"
                        implicit-filter="appliedFilters"
                        flex
                        path="'/decoders'"
                        keys="['name',{value:'details.program_name',size:2,nosortable:true},{value:'details.order',size:2,nosortable:true},'filename',{value:'relative_dirname',nosortable:true}]"
                        allow-click="true"
                        rows-per-page="14">
                      </wazuh-table-server-side>
                      <wazuh-table-server-side
                        custom-columns="true"
                        ng-if="localFilter && !rulesetFiles"
                        implicit-filter="appliedCustomFilters"
                        flex
                        path="'/decoders'"
                        keys="['name',{value:'details.program_name',size:2,nosortable:true},{value:'details.order',size:2,nosortable:true},'filename',{value:'relative_dirname',nosortable:true}]"
                        allow-click="true"
                        rows-per-page="14">
                      </wazuh-table-server-side>
                      <wazuh-table-server-side
                        ng-if="rulesetFiles && !localFilter"
                        flex
                        path="'/decoders/files'"
                        keys="['filename']"
                        rows-per-page="[16,13,11]">
                      </wazuh-table-server-side>
                      <wazuh-table-server-side
                        ng-if="rulesetFiles && localFilter"
                        flex
                        path="'/decoders/files'"
                        implicit-filter="[{ name:'relative_dirname',value: 'etc/decoders'}]"
                        keys="['filename']"
                        rows-per-page="[16,13,11]">
                      </wazuh-table-server-side>
                    </div>
                  </md-card-contents>
                </md-card>
              </div>
            </div>

            <div ng-if="addingNewFile">
              <div layout="row" class="md-padding wz-padding-top-0">
                <button
                  ng-click="closeEditingFile()"
                  class="btn wz-button-cancel">
                  Cancel
                </button>
                <button
                  ng-if="canUpdateDecoderFile(editingFile.file)"
                  ng-disabled="xmlHasErrors || overwrite || saveIncomplete"
                  ng-click="saveRuleConfig(editingFile.file, editingFile.dir)"
                  class="btn wz-button-empty pull-right wz-margin-left-10">
                  <span ng-show="!xmlHasErrors">
                    <i
                      ng-class="{'fa fa-fw fa-spin fa-spinner': saveIncomplete, 'fa fa-fw fa-save': !saveIncomplete}"
                      aria-hidden="true"></i>
                    Save file
                  </span>
                  <span ng-show="xmlHasErrors" class="btn-danger"
                    ><i
                      aria-hidden="true"
                      class="fa fa-fw fa-exclamation-triangle"></i>
                    XML format error</span
                  >
                </button>
                <input
                  placeholder="New file name..."
                  ng-model="editingFile.file"
                  class="kuiLocalSearchInput ng-empty ng-pristine ng-scope ng-touched ng-valid flex"
                  style="margin-left: 10px"
                  ng-change="enableSave()" />
              </div>
              <div
                class="wzXmlEditorDivContent wz-margin-left-10"
                ng-if="fetchedXML">
                <wz-xml-file-editor
                  file-name="rules"
                  data="fetchedXML"
                  target-name="editingFile.file"
                  valid-fn="xmlIsValid(valid)"
                  close-fn="closeEditingFile()">
                </wz-xml-file-editor>
              </div>
            </div>

            <!-- XML editor for edit file-->
            <div ng-if="editingRulesetFile">
              <div layout="row" class="md-padding wz-padding-top-0">
                <button
                  ng-click="closeEditingFile()"
                  class="btn wz-button-cancel">
                  Cancel
                </button>
                <button
                  ng-if="canUpdateDecoderFile(editingRulesetFile.file)"
                  ng-disabled="xmlHasErrors || overwrite || saveIncomplete"
                  ng-click="saveFile(editingRulesetFile.file, editingRulesetFile.dir)"
                  class="btn wz-button-empty pull-right wz-margin-left-10">
                  <span ng-show="!xmlHasErrors"
                    ><i
                      ng-class="{'fa fa-fw fa-spin fa-spinner': saveIncomplete, 'fa fa-fw fa-save': !saveIncomplete}"
                      aria-hidden="true"></i>
                    Save file</span
                  >
                  <span ng-show="xmlHasErrors" class="btn-danger"
                    ><i
                      aria-hidden="true"
                      class="fa fa-fw fa-exclamation-triangle"></i>
                    XML format error</span
                  >
                </button>
                <span class="flex"></span>
              </div>
              <div
                class="wzXmlEditorDivContent wz-margin-left-10"
                ng-if="fetchedXML">
                <wz-xml-file-editor
                  file-name="rules"
                  data="fetchedXML"
                  target-name="editingRulesetFile.file"
                  valid-fn="xmlIsValid(valid)"
                  close-fn="closeEditingFile()">
                </wz-xml-file-editor>
              </div>
            </div>

            <!-- XML viewer -->
            <div ng-show="XMLContent">
              <button
                ng-click="closeEditingFile()"
                class="btn wz-button-cancel wz-margin-left-10">
                Close
              </button>
              <wz-config-viewer
                flex
                xmlcontent="XMLContent"
                hide-header="true"
                no-local="fileName" />
            </div>
          </div>
        </div>
      </div>

      <!-- Log test side bar- pending API 
        <md-sidenav ng-show="showLogtest" ng-class="fullScreen ? 'logtest-fullscreen' : ''" class="md-sidenav-right" style="height: calc(100vh - 85px);border-left: 1px solid #D9D9D9 !important; width:30%;max-width: 30%;" md-is-locked-open="true">
            <wz-logtest full-screen="fullScreen" close-logtest="switchLogtest()"></wz-logtest>
        </md-sidenav>
        -->
    </div>
  </div>
</wz-rbac-prompt>
