<div ng-cloak flex layout="column" class='wz-white-background'>
  <div layout="row" class="layout-row layout-align-end wz-white-background">
    <div class='wz-margin-left-10 wz-margin-top-12'>
      <span class="wz-text-link cursor-pointer" ui-sref='manager'>Management</span>
      <span class="wz-text-link cursor-pointer" ui-sref='mg-rules'> / Ruleset</span>
      <span> / Decoders </span>
    </div>
    <div flex></div>
    <div style="margin-right:7px;" id='input1'></div>
  </div>
</div>

<!-- Nav bar -->
<md-nav-bar class="wz-nav-bar wz-margin-left-16 wz-margin-right-16" md-selected-nav-item="selectedNavTab">
  <md-nav-item class="wz-nav-item" md-nav-click="stopPropagation()" ui-sref="mg-rules" name="rules">Rules</md-nav-item>
  <md-nav-item class="wz-nav-item" md-nav-click="stopPropagation()" name="decoders">Decoders</md-nav-item>
  <md-nav-item class="wz-nav-item" md-nav-click="stopPropagation()" ui-sref="mg-cdb" name="cdbList">Lists</md-nav-item>
</md-nav-bar>




<div ng-if="!addingNewFile && !editingRulesetFile">
  <div ng-show="!loading" layout="row" layout-align="start center" class="md-padding">
    <div flex class="height-40 wz-margin-right-15">
      <div layout="row">
        <!-- Show rules -->
        <span ng-if="rulesetFiles" class="back-arrow cursor-pointer" aria-label="Back to rules list"
          ng-click="switchFiles()">
          <i class="fa fa-fw fa-arrow-left ng-scope" aria-hidden="true"></i>
          <md-tooltip md-direction="right" class="wz-tooltip">
            Back to decoders
          </md-tooltip>
        </span>
        <input ng-if="!rulesetFiles" flex placeholder="Filter decoders..." ng-model="customSearch" type="text" class="kuiLocalSearchInput ng-empty ng-pristine ng-scope ng-touched ng-valid"
          aria-invalid="false" wz-enter="search(customSearch)">
        <input ng-if="rulesetFiles" flex placeholder="Filter decoders files..." ng-model="customSearch" type="text"
          class="kuiLocalSearchInput ng-empty ng-pristine ng-scope ng-touched ng-valid" aria-invalid="false" wz-enter="search(customSearch)">
        <button type="submit" aria-label="Search" class="kuiLocalSearchButton height-32" ng-click="search(customSearch)">
          <span class="fa fa-search" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
  <md-card class="wz-md-card">
    <md-card-actions layout="row" layout-align="end center" class="layout-align-end-center layout-row wz-card-actions wz-card-actions-top md-actions-ruleset">
      <!-- Show files and button to add a new file -->
      <a ng-if="rulesetFiles" ng-click="addNewFile()">Add new decoders file <i aria-hidden="true" class="fa fa-plus"></i></a>
      <span ng-if="!rulesetFiles" ng-click="switchFiles()" class="wz-color-text cursor-pointer">
        Manage decoders files
      </span>
      <span flex="" class="flex"></span>
      <md-switch ng-if="!rulesetFiles" class="wz-switch" aria-label="Only custom decoders" ng-model="$parent.localFilter">
        <div class="md-label">Only custom decoders</div>
      </md-switch>
    </md-card-actions>
    <md-card-contents>
      <md-chips class="wz-chips" readonly="true" ng-show="appliedFilters.length">
        <md-chip class="wz-chip" ng-show="includesFilter('file')">
          <span>File: {{ getFilter('file') }}
            <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true" ng-click="removeFilter('file')"></i>
          </span>
        </md-chip>
        <md-chip class="wz-chip" ng-show="includesFilter('path')">
          <span>Path: {{ getFilter('path') }}
            <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true" ng-click="removeFilter('path')"></i>
          </span>
        </md-chip>
      </md-chips>
      <div layout="row" layout-padding>
        <wazuh-table ng-if="!localFilter && !rulesetFiles" implicit-filter="appliedFilters" flex path="'/decoders'"
          keys="['name',{value:'details.program_name',size:2,nosortable:true},{value:'details.order',size:2,nosortable:true},'file']"
          allow-click="true" rows-per-page="14">
        </wazuh-table>
        <wazuh-table ng-if="localFilter && !rulesetFiles" implicit-filter="[{ name:'path',value: 'etc/decoders'}]" flex
          path="'/decoders'" keys="['name',{value:'details.program_name',size:2,nosortable:true},{value:'details.order',size:2,nosortable:true},'file']"
          allow-click="true" rows-per-page="14">
        </wazuh-table>
        <wazuh-table admin-mode="adminMode" ng-if="rulesetFiles" flex path="'/decoders/files'" implicit-filter="[{ name:'path',value: 'etc/decoders'}]"
          keys="['file']" rows-per-page="[16,13,11]">
        </wazuh-table>
      </div>
      <div layout="row" class="ruleset-csv-formater">
        <span flex></span>
        <a class="small" id="btnDownload" ng-click="downloadCsv('/decoders','decoders.csv')">Formatted
          <i aria-hidden="true" class="fa fa-download"></i>
        </a>
      </div>
    </md-card-contents>
  </md-card>
</div>
</div>
</div>

</div>

<!-- XML editor for add new decoder file-->
<div ng-if="addingNewFile">
  <div layout="row" class="md-padding">
    <button ng-if="adminMode" ng-click='closeEditingFile()' class='btn btn-info'>Cancel</button>
    <button ng-disabled='xmlHasErrors || overwrite || saveIncomplete' ng-click='saveRuleConfig(editingFile.file, editingFile.dir)'
      class='btn wz-button pull-right wz-margin-left-10'>
      <span ng-show='!xmlHasErrors && adminMode'>
        <i ng-class="{'fa fa-fw fa-spin fa-spinner': saveIncomplete, 'fa fa-fw fa-save': !saveIncomplete}" aria-hidden='true'></i>
        Save file</span>
      <span ng-show='xmlHasErrors && adminMode' class='btn-danger'><i aria-hidden='true' class='fa fa-fw fa-exclamation-triangle'></i>
        XML format error</span>
    </button>

    <input placeholder="New file name..." ng-model="editingFile.file" class="kuiLocalSearchInput ng-empty ng-pristine ng-scope ng-touched ng-valid flex"
      style="margin-left: 10px;" ng-change="enableSave()">

    <!-- Restart if saved without errors-->
    <div ng-show="restartAndApply" style="padding-right: 15px; padding-left: 30px;">
      <span>Do you want to restart to apply configuration?</span>
      <button style="height: 30px;" ng-if="adminMode" ng-click="closeRestartConfirmation()" class='btn btn-info pull-right wz-margin-left-10'>
        <span ng-show='adminMode'><i aria-hidden='true' class='wz-margin-left-10'></i>Cancel</span>
      </button>
      <button style="height: 30px;" ng-if="adminMode && !clusterEnabled" ng-click="restart(); closeRestartConfirmation()"
        class='btn wz-button pull-right wz-margin-left-10'>
        <span ng-show='adminMode'><i aria-hidden='true' class='fa fa-fw fa-check wz-margin-left-10'></i>Confirm</span>
      </button>
    </div>
    <!-- End restart button -->

  </div>
  <div class="wzXmlEditorDivContent" style="height: calc(100vh - 300px);" ng-if="fetchedXML">
    <wz-xml-file-editor style="height: inherit;" file-name='rules' data="fetchedXML" target-name="editingFile.file"
      valid-fn='xmlIsValid(valid)' close-fn='closeEditingFile()'>
    </wz-xml-file-editor>
  </div>
</div>

<!-- XML editor for edit file-->
<div ng-if="editingRulesetFile">
  <div layout="row" class="md-padding">
    <button ng-if="adminMode" ng-click='closeEditingFile()' class='btn btn-info wz-margin-left-5'>Cancel</button>
    <button ng-disabled='xmlHasErrors || overwrite || saveIncomplete' ng-click='saveFile(editingRulesetFile.path)'
      class='btn wz-button pull-right wz-margin-left-10'>
      <span ng-show='!xmlHasErrors && adminMode'><i ng-class="{'fa fa-fw fa-spin fa-spinner': saveIncomplete, 'fa fa-fw fa-save': !saveIncomplete}"
          aria-hidden='true'></i>
        Save file</span>
      <span ng-show='xmlHasErrors && adminMode' class='btn-danger'><i aria-hidden='true' class='fa fa-fw fa-exclamation-triangle'></i>
        XML format error</span>
    </button>
    <span class="flex"></span>

    <!-- Restart if saved without errors-->
    <div ng-show="restartAndApply" style="padding-right: 15px; padding-left: 30px;">
      <span>Do you want to restart to apply configuration?</span>
      <button style="height: 30px;" ng-if="adminMode" ng-click="closeRestartConfirmation()" class='btn btn-info pull-right wz-margin-left-10'>
        <span ng-show='adminMode'><i aria-hidden='true' class='wz-margin-left-10'></i>Cancel</span>
      </button>
      <button style="height: 30px;" ng-if="adminMode && !clusterEnabled" ng-click="restart(); closeRestartConfirmation()"
        class='btn wz-button pull-right wz-margin-left-10'>
        <span ng-show='adminMode'><i aria-hidden='true' class='fa fa-fw fa-check wz-margin-left-10'></i>Confirm</span>
      </button>
    </div>
    <!-- End restart button -->

  </div>
  <div class="wzXmlEditorDivContent" style="height: calc(100vh - 300px);" ng-if="fetchedXML">
    <wz-xml-file-editor style="height: inherit;" file-name='rules' data="fetchedXML" target-name="editingRulesetFile.file"
      valid-fn='xmlIsValid(valid)' close-fn='closeEditingFile()'>
    </wz-xml-file-editor>
  </div>
</div>