<div ng-cloak flex layout="column" class='wz-white-background'>
  <div layout="row" class="layout-row layout-align-end wz-white-background">
    <div class='wz-margin-left-10 wz-margin-top-12'>
      <span class="wz-text-link cursor-pointer" ui-sref='manager'>Management</span>
      <span class="wz-text-link cursor-pointer" ui-sref='mg-rules'> / Ruleset</span>
      <span> / Decoders </span>
    </div>
    <div flex></div>
    <div style="margin-right:7px;" id='input1'></div>
  </div>
</div>

<!-- Nav bar -->
<md-nav-bar class="wz-nav-bar wz-margin-left-16 wz-margin-right-16" md-selected-nav-item="selectedNavTab">
  <md-nav-item class="wz-nav-item" md-nav-click="stopPropagation()" ui-sref="mg-rules" name="rules">Rules</md-nav-item>
  <md-nav-item class="wz-nav-item" md-nav-click="stopPropagation()" name="decoders">Decoders</md-nav-item>
  <md-nav-item class="wz-nav-item" md-nav-click="stopPropagation()" ui-sref="mg-cdb" name="cdbList">CDB Lists</md-nav-item>
  <md-nav-item class="wz-nav-item" md-nav-click="stopPropagation()" ui-sref="mg-files" name="files">Files</md-nav-item>
</md-nav-bar>

<div ng-if="!addingNewFile">
  <div flex layout="column" class="md-padding">
    <div id="content" layout="row" layout-align="start start">

      <input flex placeholder="Filter decoders..." ng-model="custom_search" type="text" class="kuiLocalSearchInput ng-empty ng-pristine ng-scope ng-touched ng-valid wz-margin-top-4 height-36"
        aria-invalid="false" wz-enter="search(custom_search)">
      <button type="submit" aria-label="Search" class="kuiLocalSearchButton height-36 wz-margin-top-4 wz-margin-right-16"
        ng-click="search(custom_search)">
        <span class="fa fa-search" aria-hidden="true"></span>
      </button>
    </div>
    <div>
      <md-card-actions layout="row" layout-align="end center" class="layout-align-end-center layout-row">
        <a ng-click="addNewFile()">Add new decoder <i aria-hidden="true" class="fa fa-plus"></i></a>
        <span flex="" class="flex"></span>
        <md-switch class="wz-switch" aria-label="Only custom decoders" ng-model="localFilter">
          <div class="md-label">Only custom decoders</div>
        </md-switch>
      </md-card-actions>
    </div>

    <md-chips class="wz-chips" readonly="true" ng-show="appliedFilters.length">
      <md-chip class="wz-chip" ng-show="includesFilter('file')">
        <span>File: {{ getFilter('file') }}
          <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true" ng-click="removeFilter('file')"></i>
        </span>
      </md-chip>
      <md-chip class="wz-chip" ng-show="includesFilter('path')">
        <span>Path: {{ getFilter('path') }}
          <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true" ng-click="removeFilter('path')"></i>
        </span>
      </md-chip>
    </md-chips>

    <div layout="row">
      <wazuh-table ng-if="!localFilter" implicit-filter="appliedFilters" flex path="'/decoders'" keys="['name',{value:'details.program_name',size:2,nosortable:true},{value:'details.order',size:2,nosortable:true},'file']"
        allow-click="true" rows-per-page="14">
      </wazuh-table>
      <wazuh-table ng-if="localFilter" implicit-filter="[{ name:'path',value: '/var/ossec/etc/decoders'}]" flex path="'/decoders'"
        keys="['name',{value:'details.program_name',size:2,nosortable:true},{value:'details.order',size:2,nosortable:true},'file']"
        allow-click="true" rows-per-page="14">
      </wazuh-table>
    </div>
    <div layout="row" class="wz-margin-top-10">
      <span flex></span>
      <a class="small" id="btnDownload" ng-click="downloadCsv('/decoders','decoders.csv')">Formatted
        <i aria-hidden="true" class="fa fa-download"></i>
      </a>
    </div>
  </div>
</div>

<div ng-if="addingNewFile">
  <div layout="row" class="md-padding">
    <span ng-if="adminMode" ng-click='closeEditingFile()' class='btn btn-info'>Cancel</span>
    <button ng-if="adminMode && !saveIncomplete" ng-disabled='xmlHasErrors' ng-click='saveRuleConfig(editingFile.file, editingFile.dir)'
      class='btn wz-button pull-right wz-margin-left-10'>
      <span ng-show='!xmlHasErrors && adminMode'><i aria-hidden='true' class='fa fa-fw fa-save wz-margin-left-10'></i>Save
        file</span>
      <span ng-show='xmlHasErrors && adminMode' class='btn-danger'><i aria-hidden='true' class='fa fa-fw fa-exclamation-triangle'></i>
        XML format error</span>
    </button>
    <span class="btn-as-i" ng-show="saveIncomplete"><i class="fa fa-fw fa-spin fa-spinner btn-as-i"></i></span>

    <input placeholder="New file name..." ng-model="editingFile.file" class="kuiLocalSearchInput ng-empty ng-pristine ng-scope ng-touched ng-valid flex"
      style="margin-left: 10px;">

    <!-- Restart if saved without errors-->
    <div ng-show="restartAndApply" style="padding-right: 15px; padding-left: 30px;">
      <span>Do you want to restart to apply configuration?</span>
      <button style="height: 30px;" ng-if="adminMode" ng-click="closeRestartConfirmation()" class='btn btn-info pull-right wz-margin-left-10'>
        <span ng-show='adminMode'><i aria-hidden='true' class='wz-margin-left-10'></i>Cancel</span>
      </button>
      <button style="height: 30px;" ng-if="adminMode && !clusterEnabled" ng-click="restart(); closeRestartConfirmation()"
        class='btn wz-button pull-right wz-margin-left-10'>
        <span ng-show='adminMode'><i aria-hidden='true' class='fa fa-fw fa-check wz-margin-left-10'></i>Confirm</span>
      </button>
    </div>
    <!-- End restart button -->

  </div>
  <div class="wzXmlEditorDivContent" style="height: calc(100vh - 300px);" ng-if="fetchedXML">
    <wz-xml-file-editor style="height: inherit;" file-name='rules' data="fetchedXML" target-name="editingFile.file"
      valid-fn='xmlIsValid(valid)' close-fn='closeEditingFile()'>
    </wz-xml-file-editor>
  </div>
</div>