<wz-rbac-prompt permissions="rbacRequirements.AGENT_READ">
  <md-content flex layout="column" layout-align="end">
    <div layout="row" class="wz-height-35">
      <div class='wz-breadcrumb-margin'>
        <a class="wz-text-link cursor-pointer" ui-sref='agents'>Agents</a>
        <span> / </span>
        <span ng-if="!agent.error" ui-sref='agent-overview({id:agent.id})'
          class="wz-text-link cursor-pointer">{{agent.name}} ({{agent.id}})</span>
        <span ng-if="agent.error">Unknown agent</span>
        <span> / </span>
        <span>CIS-CAT</span>
        <span ng-if="agent.status">
          <span class="no-wrap wz-padding-left-8" aria-hidden="false">
            <wz-svg icon="agent-{{agent.status}}"></wz-svg>
          </span>{{formatAgentStatus(agent.status)}}
        </span>
      </div>
      <div flex></div>
      <!-- Report button -->
      <div style="display:flex; padding-right: 10px;">
        <button ng-if="reportingEnabled" ng-if="reportingEnabled" md-no-ink class="btn wz-button-empty wz-button-report"
          ng-disabled="loadingVizz || loadingReporting" ng-click="startVis2Png()" aria-label="Generate report button">
          <i class="fa fa-fw fa-print" aria-hidden="true"></i>
          <md-tooltip md-direction="bottom" class="wz-tooltip">
            Generate report
          </md-tooltip>
        </button>
        <wz-discover
          breadcrumbs="{section: 'Agents', subSection: 'CIS-CAT', agentName: agent.name, agentId: agent.id, ref: 'agents', agentRef: 'agent-overview'}">
        </wz-discover>
      </div>
      <div style="margin-right:7px;" id='timePicker'></div>
    </div>
  
    <!-- Loading report-->
    <div align='center' ng-if='loadingReporting'>{{reportStatus}}<br><i class="fa fa-fw fa-spin fa-spinner"
        aria-hidden="true"></i></div>
  
    <!-- Auditing and Policy Monitoring navbar -->
    <md-nav-bar class="wz-nav-bar wz-margin-10 no-margin-left" md-selected-nav-item="'ciscat'">
      <md-nav-item class="wz-nav-item" md-nav-click="stopPropagation()" ui-sref="ag-pm" name="pm">Policy monitoring
      </md-nav-item>
      <md-nav-item class="wz-nav-item" md-nav-click="stopPropagation()" ui-sref="ag-ca" name="sca">SCA</md-nav-item>
      <md-nav-item ng-if="extensions.audit === 'true'" class="wz-nav-item" md-nav-click="stopPropagation()"
        ui-sref="ag-audit" name="audit">System auditing</md-nav-item>
      <md-nav-item ng-if="extensions.oscap === 'true'" class="wz-nav-item" md-nav-click="stopPropagation()"
        ui-sref="ag-os" name="openscap">OpenSCAP</md-nav-item>
      <md-nav-item class="wz-nav-item" md-nav-click="stopPropagation()" name="ciscat">CIS-CAT</md-nav-item>
    </md-nav-bar>
  
  
    <div>
      <!-- Filter bar -->
      <wazuh-bar></wazuh-bar>
      <div ng-show="loadingVizz">
        <div align='center'>
          Fetching data...<br></b><i class="fa fa-fw fa-spin fa-spinner" aria-hidden="true"></i>
        </div>
      </div>
      <div ng-show="!loadingVizz">
  
        <!-- Metrics -->
        <div layout="row" ng-if="!agent.error" class="wz-margin-9">
          <md-card flex class="wz-metric-color">
            <md-card-content layout="row" class="wz-padding-metric">
              <div class="wz-text-truncatable" flex>Last not checked:
                <span class="wz-text-bold" ng-bind="lastNotChecked"></span>
              </div>
              <div class="wz-text-truncatable" flex>Last pass:
                <span class="wz-text-bold" ng-bind="lastPass"></span>
              </div>
              <div class="wz-text-truncatable" flex>Last scan score:
                <span class="wz-text-bold" ng-bind="lastScanScore"></span>
              </div>
              <div class="wz-text-truncatable" flex>Last scan date:
                <span class="wz-text-bold" ng-bind="lastScanDate"></span>
              </div>
            </md-card-content>
          </md-card>
        </div>
        <div layout="row" ng-if="!agent.error" class="wz-margin-9 wz-margin-top-0 ">
          <md-card flex class="wz-metric-color">
            <md-card-content layout="row" class="wz-padding-metric">
              <div class="wz-text-truncatable" flex>Last errors:
                <span class="wz-text-bold" ng-bind="lastErrors"></span>
              </div>
              <div class="wz-text-truncatable" flex>Last fails:
                <span class="wz-text-bold" ng-bind="lastFails"></span>
              </div>
              <div class="wz-text-truncatable" flex>Last unknown:
                <span class="wz-text-bold" ng-bind="lastUnknown"></span>
              </div>
              <div class="wz-text-truncatable" flex>Last scan benchmark:
                <span class="wz-text-bold" ng-bind="lastScanBenchmark"></span>
              </div>
            </md-card-content>
          </md-card>
        </div>
        <div ng-show="!loadingVizz">
  
          <div layout="row" layout-align="center stretch">
            <div flex layout-align="center stretch">
              <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[0]}">
                <md-card-content class="wazuh-column">
                  <span class="wz-headline-title">Top 5 CIS-CAT groups
                    <span class="wz-text-link" style="float:right;" ng-click="expand(0,'topCiscatGroups')">
                      <wz-svg icon="expand"></wz-svg>
                    </span>
                  </span>
                  <md-divider class="wz-margin-top-10"></md-divider>
                  <div id="topCiscatGroups" class="dashboard-element single" style="width: 100%"></div>
                  <span class="wz-text-link" ng-click="expand(0)">
                    <wz-svg icon="expand"></wz-svg>
                  </span>
                </md-card-content>
              </md-card>
            </div>
          </div>
  
          <div flex layout-align="center stretch">
            <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[1]}">
              <md-card-content class="wazuh-column">
                <span class="wz-headline-title">Scan result evolution
                  <span class="wz-text-link" style="float:right;" ng-click="expand(1,'scanResultEvolution')">
                    <wz-svg icon="expand"></wz-svg>
                  </span>
                </span>
                <md-divider class="wz-margin-top-10"></md-divider>
                <div id="scanResultEvolution" class="dashboard-element single" style="width: 100%"></div>
              </md-card-content>
            </md-card>
          </div>
        </div>
  
        <div layout="row" layout-align="center stretch">
          <div flex layout-align="center stretch">
            <md-card class="wz-md-card" ng-class="{'fullscreen': expandArray[2]}">
              <md-card-content class="wazuh-column">
                <span class="wz-headline-title">Alerts summary
                  <span class="wz-text-link" style="float:right;" ng-click="expand(2,'alertsSummary')">
                    <wz-svg icon="expand"></wz-svg>
                  </span>
                </span>
                <md-divider class="wz-margin-top-10"></md-divider>
                <div id="alertsSummary" class="dashboard-element single" style="width: 100%"></div>
              </md-card-content>
            </md-card>
          </div>
        </div>
      </div>
    </div>
  </md-content>
</wz-rbac-prompt>