<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <h3 class="wz-headline-title">Rootcheck</h3>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Disabled</p>
  <p id='rootDisabled'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Rootkit files</p>
  <p id='rootFiles'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Rootkit trojans</p>
  <p id='rootTrojans'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Frequency</p>
  <p id='rootViewFreq'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Skip NFS</p>
  <p id='rootSkipNfs'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>System audit files</p>
  <p id='rootSysAuditFiles'></p>
</div>