<div class="wz-margin-auto">
  <md-card class="wz-md-card no-margin-sides wz-margin-top-15 add-agent-card">
    <md-card-contents>
      <!-- Select the OS-->
      <div>
        <div class="bubble">1</div>
        <div class="reg-agent-text">Choose your OS</div>
        <div class="border-to-div">
          <div class="choose-os">
            <button type="submit" class="btn wz-button-empty wz-margin-left-10" ng-click="selectOs('redhat')"
              ng-class="{'btn-empty-selected': config.osSelected === 'redhat'}">
              <span>{{osEquivalence("redhat")}}</span>
            </button>
            <button type="submit" class="btn wz-button-empty wz-margin-left-10" ng-click="selectOs('debian')"
              ng-class="{'btn-empty-selected': config.osSelected === 'debian'}">
              <span>{{osEquivalence("debian")}}</span>
            </button>
            <button type="submit" class="btn wz-button-empty wz-margin-left-10" ng-click="selectOs('windows')"
              ng-class="{'btn-empty-selected': config.osSelected === 'windows'}">
              <span>{{osEquivalence("windows")}}</span>
            </button>
            <button type="submit" class="btn wz-button-empty wz-margin-left-10" ng-click="selectOs('macos')"
              ng-class="{'btn-empty-selected': config.osSelected === 'macos'}">
              <span>{{osEquivalence("macos")}}</span>
            </button>
          </div>
        </div>
      </div>
      <!-- Select the IP-->
      <div class="wz-margin-top-30">
        <div class="bubble">2</div>
        <div class="wz-padding-top-7"></div>
        <div class="reg-agent-text wz-padding-0">Wazuh server address</div>
        <div class="div-input-register-agent" ng-class="{'border-to-div' : config.osSelected && config.managerIp}">
          <input flex placeholder="Server address..." ng-model="managerAddress" type="text" class="euiFieldText"
            ng-change="selectManagerAddress(managerAddress)">
        </div>
      </div>
      <div ng-if="config.osSelected && config.managerIp">

        <div class="wz-margin-top-30">
          <div class="bubble">3</div>
          <div class="reg-agent-text">Complete the installation</div>
          <!-- Snipped with install steps-->
          <div class="wz-margin-top-10">
            <!-- Navbar to select if is a new install or not -->
            <md-nav-bar ng-if="showNavTab" class="wz-nav-bar wz-margin-10 no-margin-left"
              md-selected-nav-item="'newInstall'">
              <md-nav-item class="wz-nav-item" md-nav-click="changeInstall('newInstall')" name="newInstall">New
                installation
              </md-nav-item>
              <md-nav-item class="wz-nav-item" md-nav-click="changeInstall('onlyRegister')" name="onlyRegister">
                Registration
              </md-nav-item>
            </md-nav-bar>
            <!-- If new install -->
            <div ng-if="newInstall" class="complete-install-div">
              <!-- If Redhat / Centos -->
              <div ng-if="config.osSelected === 'redhat'">
                1. Add the Wazuh repository.
                <div class="register-snipped" id="step1">
                  <span class="clip cursor-pointer"><i class="fa fa-clipboard" aria-hidden="true"
                      ng-click="toClipboard('step1')"></i>
                    <md-tooltip md-direction="right" class="wz-tooltip">
                      Copy to clipboard
                    </md-tooltip>
                  </span>
                  rpm --import http://packages.wazuh.com/key/GPG-KEY-WAZUH<br>
                  cat > /etc/yum.repos.d/wazuh.repo <<\EOF<br>
                    [wazuh_repo]<br>
                    gpgcheck=1<br>
                    gpgkey=https://packages.wazuh.com/key/GPG-KEY-WAZUH<br>
                    enabled=1<br>
                    name=Wazuh repository<br>
                    baseurl=https://packages.wazuh.com/3.x/yum/<br>
                    protect=1<br>
                    EOF
                </div>
                2. Deploy the installation.
                <div class="register-snipped" id="step2">
                  <span class="clip cursor-pointer"><i class="fa fa-clipboard" aria-hidden="true"
                      ng-click="toClipboard('step2')"></i>
                    <md-tooltip md-direction="right" class="wz-tooltip">
                      Copy to clipboard
                    </md-tooltip>
                  </span>
                  WAZUH_MANAGER_IP="{{config.managerIp}}" yum install wazuh-agent
                </div>
              </div>
              <!-- If Debian / Ubuntu -->
              <div ng-if="config.osSelected === 'debian'">
                1. Install the necessaries utilities.
                <div class="register-snipped" id="step1">
                  <span class="clip cursor-pointer"><i class="fa fa-clipboard" aria-hidden="true"
                      ng-click="toClipboard('step1')"></i>
                    <md-tooltip md-direction="right" class="wz-tooltip">
                      Copy to clipboard
                    </md-tooltip>
                  </span>
                  apt-get install curl apt-transport-https lsb-release
                </div>
                2. Install the Wazuh repository GPG key.
                <div class="register-snipped" id="step2">
                  <span class="clip cursor-pointer"><i class="fa fa-clipboard" aria-hidden="true"
                      ng-click="toClipboard('step2')"></i>
                    <md-tooltip md-direction="right" class="wz-tooltip">
                      Copy to clipboard
                    </md-tooltip>
                  </span>
                  curl -s https://packages.wazuh.com/key/GPG-KEY-WAZUH | apt-key add -
                </div>
                3. Add the repository.
                <div class="register-snipped" id="step3">
                  <span class="clip cursor-pointer"><i class="fa fa-clipboard" aria-hidden="true"
                      ng-click="toClipboard('step3')"></i>
                    <md-tooltip md-direction="right" class="wz-tooltip">
                      Copy to clipboard
                    </md-tooltip>
                  </span>
                  echo "deb https://packages.wazuh.com/3.x/apt/ stable main" | tee
                  /etc/apt/sources.list.d/wazuh.list<br>
                  apt-get update
                </div>
                4. Deploy the installation.
                <div class="register-snipped" id="step4">
                  <span class="clip cursor-pointer"><i class="fa fa-clipboard" aria-hidden="true"
                      ng-click="toClipboard('step4')"></i>
                    <md-tooltip md-direction="right" class="wz-tooltip">
                      Copy to clipboard
                    </md-tooltip>
                  </span>
                  WAZUH_MANAGER_IP="{{config.managerIp}}" apt-get install wazuh-agent
                </div>
              </div>
              <!-- If Windows -->
              <div ng-if="config.osSelected === 'windows'">
                1. Deploy the installation.
                <div class="register-snipped" id="step1">
                  <span class="clip cursor-pointer"><i class="fa fa-clipboard" aria-hidden="true"
                      ng-click="toClipboard('step1')"></i>
                    <md-tooltip md-direction="right" class="wz-tooltip">
                      Copy to clipboard
                    </md-tooltip>
                  </span>
                  wazuh-agent-3.9.1-1.msi /q ADDRESS="{{config.managerIp}}" AUTHD_SERVER="{{config.managerIp}}"
                </div>
              </div>
              <!-- If MacOS -->
              <div ng-if="config.osSelected === 'macos'">
                1. Deploy the installation.
                <div class="register-snipped" id="step1">
                  <span class="clip cursor-pointer"><i class="fa fa-clipboard" aria-hidden="true"
                      ng-click="toClipboard('step1')"></i>
                    <md-tooltip md-direction="right" class="wz-tooltip">
                      Copy to clipboard
                    </md-tooltip>
                  </span>
                  launchctl setenv WAZUH_MANAGER_IP "{{config.managerIp}}" && installer -pkg wazuh-agent-<version>.pkg
                    -target /
                </div>
              </div>
            </div>
            <!-- If only registraton-->
            <div ng-if="!newInstall">
              <!-- Insert agent name -->
              <div>
                <div class="wz-margin-top-10">
                  <div class="reg-agent-text reg-agent-name">Agent name:</div> &nbsp;
                  <input flex placeholder="Agent name..." ng-model="agentName" type="text" class="input-register-agent"
                    ng-change="selectAgentName(agentName)">
                  <button ng-if="config.agentName && !registeredAgent" type="submit"
                    class="btn wz-button-empty wz-margin-left-10 next-input-register-agent" ng-click="addAgent()">
                    <span>Register</span>
                  </button>
                </div>
              </div>
              <!-- If the key was generated -->
              <div ng-if="registeredAgent">
                <!-- If the agent is Linux -->
                <div ng-if="config.osSelected === 'redhat' || config.osSelected === 'debian'">
                  1. Set the manager IP.
                  <span class="clip cursor-pointer"><i class="fa fa-clipboard" aria-hidden="true"
                      ng-click="toClipboard('step1')"></i>
                    <md-tooltip md-direction="right" class="wz-tooltip">
                      Copy to clipboard
                    </md-tooltip>
                  </span>
                  <div class="register-snipped" id="step1">
                    sed -i 's:MANAGER_IP:'{{config.managerIp}}':g' /var/ossec/etc/ossec.conf
                  </div>
                  2. Register the agent against the manager.
                  <span class="clip cursor-pointer"><i class="fa fa-clipboard" aria-hidden="true"
                      ng-click="toClipboard('step2')"></i>
                    <md-tooltip md-direction="right" class="wz-tooltip">
                      Copy to clipboard
                    </md-tooltip>
                  </span>
                  <div class="register-snipped" id="step2">
                    /var/ossec/bin/manage_agents -i {{config.agentKey}}
                  </div>
                  3. Restart the agent.
                  <span class="clip cursor-pointer"><i class="fa fa-clipboard" aria-hidden="true"
                      ng-click="toClipboard('step3')"></i>
                    <md-tooltip md-direction="right" class="wz-tooltip">
                      Copy to clipboard
                    </md-tooltip>
                  </span>
                  <div class="register-snipped" id="step3">
                    /var/ossec/bin/ossec-control restart
                  </div>
                </div>
                <!-- If the agent is Windows -->
                <div ng-if="config.osSelected === 'windows'">
                  1. Set the manager IP.
                  <div class="power-cmd">
                    Change <span class="bg-whitesmoke">MANAGER_IP</span> for <span
                      class="bg-whitesmoke">{{config.managerIp}}</span> in <b>C:\Program Files
                      (x86)\ossec-agent\ossec.conf</b>:
                  </div>
                  <span class="clip cursor-pointer"><i class="fa fa-clipboard" aria-hidden="true"
                      ng-click="toClipboard('step1')"></i>
                    <md-tooltip md-direction="right" class="wz-tooltip">
                      Copy to clipboard
                    </md-tooltip>
                  </span>
                  <div class="register-snipped" id="step1">
                    &lt;client&gt;<br>
                    &nbsp;&nbsp;&lt;server&gt;<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;address&gt;{{config.managerIp}}&lt;/address&gt;<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;...<br>
                    &nbsp;&nbsp;&lt;/server&gt;<br>
                    &lt;/client&gt;
                  </div>
                  2. Register the agent against the manager.
                  <span class="clip cursor-pointer"><i class="fa fa-clipboard" aria-hidden="true"
                      ng-click="toClipboard('step2')"></i>
                    <md-tooltip md-direction="right" class="wz-tooltip">
                      Copy to clipboard
                    </md-tooltip>
                  </span>
                  <div class="register-snipped" id="step2">
                    'C:\Program Files (x86)\ossec-agent\manage_agents' -i {{config.agentKey}}
                  </div>
                  3. Restart the agent.
                  <div class="wz-margin-left-10">
                    <div class="power-cmd">For this you can use Powershell or CMD.</div>
                    a) Powershell:
                    Restart-Service -Name wazuh
                    <span class="clip cursor-pointer"><i class="fa fa-clipboard" aria-hidden="true"
                        ng-click="toClipboard('stepA')"></i>
                      <md-tooltip md-direction="right" class="wz-tooltip">
                        Copy to clipboard
                      </md-tooltip>
                    </span>
                    <div class="register-snipped" id="stepA">
                      Restart-Service -Name wazuh
                    </div>
                    b) CMD:
                    <span class="clip cursor-pointer"><i class="fa fa-clipboard" aria-hidden="true"
                        ng-click="toClipboard('stepB')"></i>
                      <md-tooltip md-direction="right" class="wz-tooltip">
                        Copy to clipboard
                      </md-tooltip>
                    </span>
                    <div class="register-snipped" id="stepB">
                      net stop wazuh<br>
                      net start wazuh
                    </div>
                  </div>
                </div>
                <!-- If the agent is MacOs -->
                <div ng-if="config.osSelected === 'macos'">
                  1. Set the manager IP.
                  <span class="clip cursor-pointer"><i class="fa fa-clipboard" aria-hidden="true"
                      ng-click="toClipboard('step1')"></i>
                    <md-tooltip md-direction="right" class="wz-tooltip">
                      Copy to clipboard
                    </md-tooltip>
                  </span>
                  <div class="register-snipped" id="step1">
                    sed -i '' -e 's/MANAGER_IP/{{config.managerIp}}/g' /Library/Ossec/etc/ossec.conf
                  </div>
                  2. Register the agent against the manager.
                  <span class="clip cursor-pointer"><i class="fa fa-clipboard" aria-hidden="true"
                      ng-click="toClipboard('step2')"></i>
                    <md-tooltip md-direction="right" class="wz-tooltip">
                      Copy to clipboard
                    </md-tooltip>
                  </span>
                  <div class="register-snipped" id="step2">
                    /Library/Ossec/bin/manage_agents -i {{config.agentKey}}
                  </div>
                  3. Restart the agent.
                  <span class="clip cursor-pointer"><i class="fa fa-clipboard" aria-hidden="true"
                      ng-click="toClipboard('step3')"></i>
                    <md-tooltip md-direction="right" class="wz-tooltip">
                      Copy to clipboard
                    </md-tooltip>
                  </span>
                  <div class="register-snipped" id="step3">
                    /Library/Ossec/bin/ossec-control restart
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="config.osSelected" class="reset-register-agent cursor-pointer" ng-click="reset()">
        <wz-svg icon="refresh" color="#00445a"></wz-svg>
        <span>Reset</span>
      </div>
    </md-card-contents>
  </md-card>
</div>