<div flex layout="column" layout-align="start stretch">
  
  <!-- Breadcrumbs -->
  <div layout="row" layout-padding ng-if="aoc.agent">
    <!-- If you're not on the Welcome tab, show a functional breadcrumb -->
    <div>
      <a class="wz-text-link cursor-pointer" ui-sref='agents'>Agents</a>
      <span> / </span>
      <span class="wz-text-link cursor-pointer">{{aoc.agent.name}} ({{aoc.agent.id}})</span>
      <span> / </span>
      <span>Welcome</span>
    </div>
    <div ng-if="aoc.agent.status">
      <span class="wz-agent-status-indicator small" ng-class="aoc.getAgentStatusClass(aoc.agent.status)" aria-label="Agent status indicator">{{aoc.formatAgentStatus(aoc.agent.status)}}</span>
    </div>
  </div>
  <!-- End breadcrumbs -->
  
  <!-- Headline -->
  <div layout="column" layout-padding>
    <span class="font-size-18">
      <i class="fa fa-fw fa-tv" aria-hidden="true"></i> Agent overview</span>
    </div>
    <!-- End headline -->
    
    <!-- Agent information section -->
    <div layout="row" class="wz-padding-top-0 wz-padding-bottom-0">
      <md-card flex class="wz-metric-color wz-md-card wz-no-padding">
        <md-card-content layout="row" class="wz-padding-metric">
          <div class="wz-text-truncatable" flex>
            Name:
            <span class="wz-text-bold">{{ aoc.agent.name }}</span>
            <md-tooltip ng-if="agent.name.length" md-direction="bottom" class="wz-tooltip">
              Full name: {{ aoc.agent.name }}
            </md-tooltip>
          </div>
          <div class="wz-text-truncatable" flex>
            IP:
            <span class="wz-text-bold">{{ aoc.agent.ip }}</span>
          </div>
          <!--  <div class="wz-text-truncatable" flex ng-if="aoc.agent.group">
            Group:
            <span class="wz-text-bold" ng-click="aoc.goGroups(aoc.agent.group)">{{ aoc.agent.group }}</span>
          </div> -->
          <div class="wz-text-truncatable" flex ng-if="aoc.agent.version">
            Version:
            <span class="wz-text-bold">{{ aoc.agent.version }}</span>
          </div>
          <div class="wz-text-truncatable" flex>
            OS:
            <span class="wz-text-bold">{{ aoc.agentOS }}</span>
            <md-tooltip ng-if="aoc.agentOS.length" md-direction="bottom" class="wz-tooltip">
              Full OS name: {{ aoc.agentOS }}
            </md-tooltip>
          </div>
        </md-card-content>
      </md-card>
    </div>
    <div layout="row" class="wz-padding-top-0 wz-padding-bottom-0">
      <md-card flex class="wz-metric-color wz-md-card">
        <md-card-content layout="row" class="wz-padding-metric">
          <div class="wz-text-truncatable" flex ng-if="aoc.agent.group">
            Groups: <span ng-repeat="group in aoc.agent.group" class="wz-text-bold wz-text-link" ng-click="aoc.goGroups(group)">{{ group }}&nbsp;</span>
          </div>
        </md-card-content>
      </md-card>
    </div>
    <div layout="row" class="wz-padding-top-0 wz-padding-bottom-0">
      <md-card flex class="wz-metric-color wz-md-card wz-no-padding">
        <md-card-content layout="row" class="wz-padding-metric">
          <div class="wz-text-truncatable" flex>Last keep alive:
            <span class="wz-text-bold"> {{aoc.agent.lastKeepAlive || 'Unknown' }}</span>
          </div>
          <div class="wz-text-truncatable" flex>Registration date:
            <span class="wz-text-bold"> {{aoc.agent.dateAdd}}</span>
          </div>
          <div class="wz-text-truncatable" flex ng-if="aoc.syscheck.inProgress">Last syscheck scan:
            <span class="wz-text-bold"> Scan in progress</span>
          </div>
          <div class="wz-text-truncatable" flex ng-if="!aoc.syscheck.inProgress">Last syscheck scan:
            <span class="wz-text-bold"> {{aoc.syscheck.end || 'Unknown'}}</span>
            <md-tooltip ng-if="!aoc.syscheck.inProgress && aoc.syscheck.start && aoc.syscheck.end" md-direction="bottom"
            class="wz-tooltip">
            Start time: {{ aoc.syscheck.start || 'Unknown'}}
            <br> End time: {{ aoc.syscheck.end || 'Unknown'}}
            <br> Duration time: {{ aoc.syscheck.duration +' minutes' || 'Unknown'}}
          </md-tooltip>
        </div>
        <div class="wz-text-truncatable" flex ng-if="aoc.rootcheck.inProgress">Last rootcheck scan:
          <span class="wz-text-bold"> Scan in progress</span>
        </div>
        <div class="wz-text-truncatable" flex ng-if="!aoc.rootcheck.inProgress">Last rootcheck scan:
          <span class="wz-text-bold"> {{aoc.rootcheck.end || 'Unknown'}}</span>
          <md-tooltip ng-if="!aoc.rootcheck.inProgress && aoc.rootcheck.start && aoc.rootcheck.end" md-direction="bottom"
          class="wz-tooltip">
          Start time: {{ aoc.rootcheck.start || 'Unknown'}}
          <br> End time: {{ aoc.rootcheck.end || 'Unknown'}}
          <br> Duration time: {{ aoc.rootcheck.duration +' minutes' || 'Unknown'}}
        </md-tooltip>
      </div>
    </md-card-content>
  </md-card>
</div>
<!-- End agent information section -->


<div layout="row" layout-padding>
  <div class="euiFlexGroup euiFlexGroup--gutterLarge euiFlexGroup--responsive">
    <div class="euiFlexItem">
      <div class="euiPanel euiPanel--paddingLarge">
        <h3 class="euiTitle">Security Information Management</h3>
        <div class="euiSpacer euiSpacer--m"></div>
        <div class="euiFlexGrid euiFlexGrid--gutterLarge euiFlexGrid--halves">
          <wz-welcome-card class="euiFlexItem" logo="'/static/app/SplunkAppForWazuh/css/images/app_dashboard.svg'" title="'Security events'"
          ui-sref='ag-general({id:aoc.agent.id})' current-tab="'general'" description="'Browse through your security alerts, identifying issues and threats in your environment.'"></wz-welcome-card>
          <wz-welcome-card class="euiFlexItem" logo="'/static/app/SplunkAppForWazuh/css/images/app_logging.svg'" title="'Integrity monitoring'"
          ui-sref='ag-fim({id:aoc.agent.id})' current-tab="'fim'" description="'Alerts related to file changes, including permissions, content, ownership and attributes.'"></wz-welcome-card>
          <wz-welcome-card class="euiFlexItem" logo="'/static/app/SplunkAppForWazuh/css/images/app_devtools.svg'" title="'Configuration'"
          ui-sref='ag-conf({id:aoc.agent.id})' current-tab="'configuration'" description="'Check the current agent configuration remotely applied by its group.'"></wz-welcome-card>
          <wz-welcome-card ui-sref='ag-inventory({id:aoc.agent.id})' class="euiFlexItem" logo="'/static/app/SplunkAppForWazuh/css/images/app_index_pattern.svg'"
          title="'Inventory data'" switch-tab="switchTab('syscollector')" current-tab="'syscollector'" description="'Applications, network configuration, open ports and processes running on your monitored systems.'"></wz-welcome-card>
        </div>
      </div>
    </div>
    <div class="euiFlexItem">
      <div class="euiPanel euiPanel--paddingLarge">
        <h3 class="euiTitle">Auditing and Policy Monitoring</h3>
        <div class="euiSpacer euiSpacer--m"></div>
        <div class="euiFlexGrid euiFlexGrid--gutterLarge euiFlexGrid--halves">
          <wz-welcome-card class="euiFlexItem" logo="'/static/app/SplunkAppForWazuh/css/images/app_advanced_settings.svg'" title="'Policy monitoring'"
          ui-sref='ag-pm({id:aoc.agent.id})' current-tab="'pm'" description="'Verify that your systems are configured according to your security policies baseline.'"></wz-welcome-card>
          <wz-welcome-card  class="euiFlexItem" logo="'/static/app/SplunkAppForWazuh/css/images/app_monitoring.svg'"
          title="'System auditing'" ui-sref='ag-audit({id:aoc.agent.id})' current-tab="'audit'" description="'Audit users behavior, monitoring command execution and alerting on access to critical files.'"></wz-welcome-card>
          <wz-welcome-card class="euiFlexItem" logo="'/static/app/SplunkAppForWazuh/css/images/app_discover.svg'"
          title="'Open SCAP'" ui-sref='ag-os({id:aoc.agent.id})' current-tab="'oscap'" description="'Configuration assessment and automation of compliance monitoring using SCAP checks.'"></wz-welcome-card>
          <wz-welcome-card ng-if="false" class="euiFlexItem" logo="'/static/app/SplunkAppForWazuh/css/images/app_management.svg'"
          title="'CIS-CAT'" switch-tab="switchTab('ciscat')" current-tab="'ciscat'" description="'Configuration assessment using Center of Internet Security scanner and SCAP checks.'"></wz-welcome-card>
        </div>
      </div>
    </div>
  </div>
</div>

<div layout="row" layout-padding>
  <div class="euiFlexGroup euiFlexGroup--gutterLarge euiFlexGroup--responsive">
    <div class="euiFlexItem">
      <div class="euiFlexItem">
        <div class="euiPanel euiPanel--paddingLarge">
          <h3 class="euiTitle">Threat Detection and Response</h3>
          <div class="euiSpacer euiSpacer--m"></div>
          <div class="euiFlexGrid euiFlexGrid--gutterLarge euiFlexGrid--halves">
            <wz-welcome-card class="euiFlexItem" logo="'/static/app/SplunkAppForWazuh/css/images/app_security.svg'" title="'Vulnerabilities'"
            ui-sref='ag-vul({id:aoc.agent.id})' current-tab="'vuls'" description="'Discover what applications in your environment are affected by well-known vulnerabilities.'"></wz-welcome-card>
            <wz-welcome-card ng-if="false" class="euiFlexItem" logo="'/static/app/SplunkAppForWazuh/css/images/app_saved_objects.svg'"
            title="'Virustotal'" switch-tab="switchTab('virustotal')" current-tab="'virustotal'" description="'Alerts resulting from VirusTotal analysis of suspicious files via an integration with their API.'"></wz-welcome-card>
          </div>
        </div>
      </div>
    </div>
    <div class="euiFlexItem">
      <div class="euiFlexItem">
        <div class="euiPanel euiPanel--paddingLarge">
          <h3 class="euiTitle">Regulatory Compliance</h3>
          <div class="euiSpacer euiSpacer--m"></div>
          <div class="euiFlexGrid euiFlexGrid--gutterLarge euiFlexGrid--halves">
            <wz-welcome-card class="euiFlexItem" logo="'/static/app/SplunkAppForWazuh/css/images/app_apm.svg'"
            title="'PCI DSS'" ui-sref='ag-pci({id:aoc.agent.id})' current-tab="'pci'" description="'Global security standard for entities that process, store or transmit payment cardholder data.'"></wz-welcome-card>
            <wz-welcome-card class="euiFlexItem" logo="'/static/app/SplunkAppForWazuh/css/images/app_visualize.svg'"
            title="'GDPR'" ui-sref='ag-gdpr({id:aoc.agent.id})' current-tab="'gdpr'" description="'General Data Protection Regulation (GDPR) sets guidelines for processing of personal data.'"></wz-welcome-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>