<div
  flex="auto"
  layout="column"
  ng-if="configurationTab === 'cis-cat'"
  ng-init="switchConfigurationSubTab('ciscat-general')">
  <!-- Headline -->
  <div layout="column" layout-padding>
    <div>
      <span class="font-size-18">CIS-CAT</span>
      <span
        ng-if="currentConfig && currentConfig['cis-cat'] && currentConfig['cis-cat'].disabled === 'no'"
        class="wz-agent-status-indicator small teal"
        >Enabled</span
      >
      <span
        ng-if="(currentConfig && currentConfig['cis-cat'] && currentConfig['cis-cat'].disabled === 'yes') || (currentConfig && !currentConfig['cis-cat'])"
        class="wz-agent-status-indicator small red"
        >Disabled</span
      >
    </div>
    <span>Configuration assessment using CIS scanner and SCAP checks</span>
  </div>
  <!-- End headline -->

  <!-- CIS-CAT navigation bar -->
  <md-nav-bar
    class="wz-nav-bar"
    md-selected-nav-item="configurationSubTab"
    nav-bar-aria-label="CIS-CAT navigation links">
    <md-nav-item
      class="wz-nav-item"
      md-nav-click="switchConfigurationSubTab('ciscat-general')"
      name="ciscat-general"
      >General</md-nav-item
    >
    <md-nav-item
      class="wz-nav-item"
      md-nav-click="switchConfigurationSubTab('ciscat-benchmarks')"
      name="ciscat-benchmarks"
      >Benchmarks</md-nav-item
    >
  </md-nav-bar>
  <!-- End CIS-CAT navigation bar -->

  <!-- Loading bar -->
  <div class="loader-bar" ng-show="load">
    <div class="loader"></div>
  </div>

  <!-- This section contains the main content and the right sidenav -->
  <div flex="auto" layout="row" ng-if="!load">
    <!-- No configuration section -->
    <wz-no-config
      flex
      error="currentConfig['wmodules-wmodules']"
      ng-if="currentConfig['wmodules-wmodules'] && isString(currentConfig['wmodules-wmodules'])"></wz-no-config>
    <wz-no-config
      flex
      error="'not-present'"
      ng-if="currentConfig && !currentConfig['cis-cat'] && !isString(currentConfig['wmodules-wmodules'])"></wz-no-config>
    <!-- End no configuration section -->

    <!-- This section is the main content -->
    <div
      class="configuration-margin-top"
      flex
      layout="column"
      ng-if="currentConfig && currentConfig['cis-cat']">
      <!-- No configuration section -->
      <wz-no-config
        flex
        error="'not-present'"
        ng-if="configurationSubTab === 'ciscat-benchmarks' && currentConfig && currentConfig['cis-cat'] && !currentConfig['cis-cat'].content"></wz-no-config>
      <!-- End no configuration section -->

      <!-- The main card will all the settings -->
      <md-card
        class="wz-md-card"
        ng-if="!JSONContent && !XMLContent && configurationSubTab === 'ciscat-benchmarks' && currentConfig && currentConfig['cis-cat'] && currentConfig['cis-cat'].content">
        <md-card-content class="overflow-auto">
          <div layout="row" layout-align="start center">
            <div>
              <span class="font-size-16">Benchmarks</span>
              <div class="wz-margin-top-10">
                <span class="md-subheader small"
                  >List of CIS-CAT benchmarks templates perform scans</span
                >
              </div>
            </div>
            <span flex></span>
            <span
              ng-class="JSONContent ? 'wz-text-active' : ''"
              class="wz-text-link small"
              ng-click="getJSON()"
              >JSON</span
            >
            <span class="small">&nbsp;&centerdot;&nbsp;</span>
            <span
              ng-class="XMLContent ? 'wz-text-active' : ''"
              class="wz-text-link small"
              ng-click="getXML()"
              >XML</span
            >
          </div>
          <md-divider class="wz-margin-top-10"></md-divider>

          <!-- Configuration block -->
          <div class="wz-padding-top-10">
            <table
              class="table table-striped table-condensed"
              style="table-layout: fixed !important">
              <thead class="wz-text-bold">
                <th class="wz-text-left">Path</th>
                <th class="wz-text-left">Profile</th>
                <th class="wz-text-left">Timeout</th>
                <th class="wz-text-left">Type</th>
              </thead>
              <tbody class="wz-word-wrap">
                <tr ng-repeat="item in currentConfig['cis-cat'].content">
                  <td>{{item.path}}</td>
                  <td>{{item.profile}}</td>
                  <td>{{item.timeout}}</td>
                  <td>{{item.type}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- End configuration block -->
        </md-card-content>
      </md-card>
      <!-- End main card with all the settings -->

      <!-- The main card will all the settings -->
      <md-card
        class="wz-md-card"
        ng-if="!JSONContent && !XMLContent && configurationSubTab === 'ciscat-general'">
        <md-card-content class="overflow-auto">
          <div layout="row" layout-align="start center">
            <div>
              <span class="font-size-16">Main settings</span>
              <div class="wz-margin-top-10">
                <span class="md-subheader small"
                  >General settings applied to all benchmarks</span
                >
              </div>
            </div>
            <span flex></span>
            <span
              ng-class="JSONContent ? 'wz-text-active' : ''"
              class="wz-text-link small"
              ng-click="getJSON()"
              >JSON</span
            >
            <span class="small">&nbsp;&centerdot;&nbsp;</span>
            <span
              ng-class="XMLContent ? 'wz-text-active' : ''"
              class="wz-text-link small"
              ng-click="getXML()"
              >XML</span
            >
          </div>
          <md-divider class="wz-margin-top-10"></md-divider>

          <!-- Configuration block -->
          <div class="wz-padding-top-10">
            <wz-config-item
              label="CIS-CAT integration status"
              value="currentConfig['cis-cat'].disabled === 'yes' ? 'disabled' : 'enabled'">
            </wz-config-item>
            <wz-config-item
              label="Timeout (in seconds) for scan executions"
              value="currentConfig['cis-cat'].timeout">
            </wz-config-item>
            <wz-config-item
              label="Path to Java executable directory"
              value="currentConfig['cis-cat'].java_path">
            </wz-config-item>
            <wz-config-item
              label="Path to CIS-CAT executable directory"
              value="currentConfig['cis-cat'].ciscat_path">
            </wz-config-item>
          </div>
          <!-- End configuration block -->

          <div class="wz-margin-top-10">
            <span class="font-size-16">Scheduling settings</span>
            <div class="wz-margin-top-10">
              <span class="md-subheader small"
                >Customize the CIS-CAT scans scheduling</span
              >
            </div>
          </div>
          <md-divider class="wz-margin-top-10"></md-divider>

          <!-- Configuration block -->
          <div class="wz-padding-top-10">
            <wz-config-item
              label="Interval between scan executions"
              value="currentConfig['cis-cat'].interval">
            </wz-config-item>
            <wz-config-item
              label="Scan on start"
              value="currentConfig['cis-cat']['scan-on-start']">
            </wz-config-item>
            <wz-config-item
              label="Day of the month to run scans"
              value="currentConfig['cis-cat'].day">
            </wz-config-item>
            <wz-config-item
              label="Day of the week to run scans"
              value="currentConfig['cis-cat'].wday">
            </wz-config-item>
            <wz-config-item
              label="Time of the day to run scans"
              value="currentConfig['cis-cat'].time">
            </wz-config-item>
          </div>
          <!-- End configuration block -->
        </md-card-content>
      </md-card>
      <!-- End main card with all the settings -->

      <wz-config-viewer
        flex
        getjson="getJSON()"
        getxml="getXML()"
        jsoncontent="JSONContent"
        xmlcontent="XMLContent" />
    </div>
    <!-- End main content section -->

    <!-- This section is the right sidenav content -->
    <!-- Help button -->
    <md-button
      md-no-ink
      class="md-icon-button small"
      tooltip="About and help"
      tooltip-placement="left"
      ng-click="showInfo()"
      aria-label="Link to open app about section">
      <i class="fa fa-fw fa-question-circle-o" aria-hidden="true"></i>
    </md-button>
    <!-- End help button -->
    <md-sidenav
      ng-show="showingInfo"
      class="md-sidenav-right"
      md-is-locked-open="true">
      <md-list>
        <md-subheader>More info about this section</md-subheader>
        <md-list-item
          target="_blank"
          class="wz-text-link"
          ng-href="https://documentation.wazuh.com/{{appDocuVersion}}/user-manual/capabilities/policy-monitoring/ciscat/ciscat.html"
          >CIS-CAT integration</md-list-item
        >
        <md-list-item
          target="_blank"
          class="wz-text-link"
          ng-href="https://documentation.wazuh.com/{{appDocuVersion}}/user-manual/reference/ossec-conf/wodle-ciscat.html"
          >CIS-CAT module reference</md-list-item
        >
      </md-list>
    </md-sidenav>
    <!-- End right sidenav section -->
  </div>
  <!-- End main content and right sidenav section -->
</div>
