<div layout="row" style="margin:20px 10px 10px 10px;">
    <div flex class="euiCallOut euiCallOut--info">
      <div class="euiCallOutHeader">
          <p class="euiCallOutHeader__title font-size-17"> <i class="fa fa-fw fa-question-circle-o" aria-hidden="true"></i> This module is not configured for this agent </p>
          <p>You can easily set it up and start generating alerts. To start, select one of the groups this agent belongs to and configure it. <span ng-repeat="group in groupList"><a class="wz-link" ng-click="sendToGroup(group)" style="margin-right:8px;">{{group}}</a></span></p>
      </div>
    </div>
  </div>