<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <h3 class="wz-headline-title">Policy Monitoring</h3>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Disabled</p>
  <p id='policyMonitoringDisabledView'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Base directory</p>
  <p id='policyMonitoringBaseDirectoryView'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Frequency</p>
  <p id='policyMonitoringFrequencyView'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Skip NFS</p>
  <p id='policyMonitoringSkipNFS'></p>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Scan all files</p>
  <p id='policyMonitoringScanAllFiles'></p>
</div>

<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Check IF</p>
  <div id='policyMonitoringChecksIf'></div>
</div>

<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Check PID</p>
  <div id='policyMonitoringChecksPid'></div>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Check Files</p>
  <div id='policyMonitoringChecksFiles'></div>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Check Dev</p>
  <div id='policyMonitoringChecksDev'></div>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Check Ports</p>
  <div id='policyMonitoringChecksPorts'></div>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Check Sys</p>
  <div id='policyMonitoringChecksSys'></div>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Check Trojans</p>
  <div id='policyMonitoringChecksTrojans'></div>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Check Unix audit</p>
  <div id='policyMonitoringChecksUnixAudit'></div>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Check Windows apps</p>
  <div id='policyMonitoringChecksWinApps'></div>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Check Windows malware</p>
  <div id='policyMonitoringChecksWinMalware'></div>
</div>

<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <h4>Windows Settings</h4>
</div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Windows Apps</p>
</div>
<div id='policyMonitoringChecksWinApps'></div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Windows Malware</p>
</div>
<div id='policyMonitoringChecksWinMalware'></div>

<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Windows Audit Files</p>
</div>
<div id='policyMonitoringWinAuditFiles'></div>

<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Windows Apps Files</p>
</div>
<div id='policyMonitoringWinAppsFiles'></div>

<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <p>Windows Malware Files</p>
</div>
<div id='policyMonitoringWinMalwareFiles'></div>
<div class="wz-flex-container wz-flex-row wz-flex-align-space-between">
  <h4>Rootkit</h4>
</div>
<div id='policyMonitoringRootkitFiles'></div>
<div id='policyMonitoringRootkitTrojans'></div>
