<div flex="auto" layout="column" ng-init="switchConfigurationTab('welcome')">
  <div layout="row" layout-align="start center">

    <div>
      <!-- Navigation section (Breadcrumbs, etc) -->
      <!-- Breadcrumbs -->
      <div layout="row" layout-padding>
        <!-- Welcome section -->
        <div>
          <span class="wz-text-link cursor-pointer" ui-sref='manager'>Management</span>
          <span> / </span>
          <span>Configuration</span>
        </div>
      </div>
      <!-- End breadcrumbs -->
      <!-- Separator -->
      <span flex></span>
      <!-- End separator -->
    </div>
    <!-- End navigation section -->
  </div>

  <!-- Button to edit configuration -->
  <div ng-show="!editingConfig" ng-click="switchToEdition()" layout="row" layout-align="start center" class="layout-align-start-center layout-row">
    <button style="margin-left: 15px; margin-bottom: 10px;" ng-if="isAdmin" ui-sref="mg-conf.editConfig" class="btn btn-primary pull-right ng-scope">
      <span aria-hidden="false"><i aria-hidden="true" class="fa fa-fw fa-pencil"></i>
        Edit configuration
      </span>
    </button>
  </div>

  <!-- ui-view for child states templates -->
  <div layout="column" layout-align="start stretch">
    <div ui-view></div>
  </div>
  <!-- end ui-view-->