<!-- Roles mapping card section -->
<wz-forbidden ng-if="!canReadRules"> </wz-forbidden>
<div ng-show="canReadRules">
  <div
    layout="row"
    style="margin-top: 16px; margin-left: 10px; margin-right: 10px">
    <md-card style="width: 100%" class="wz-md-card no-margin-sides">
      <md-card-actions
        layout="column"
        class="wz-card-actions wz-card-actions-top md-actions-ruleset"
        style="background-color: white; height: 100%">
        <div layout="row" style="padding-top: 15px; padding-bottom: 4px">
          <span style="font-size: 28px; padding-right: 10px">
            Roles Mapping
          </span>
          <span flex="" class="flex"></span>
          <span
            ng-show="!addingNewRoleMapping && canCreateRules"
            ng-click="addNewRoleMapping()"
            class="wz-color-text cursor-pointer link-table">
            <wz-svg icon="plus"></wz-svg>
            Add new role mapping
          </span>
        </div>
        <div class="layout-row" style="padding-top: 15px">
          <div layout="row" class="layout-row" style="width: 100%">
            <!-- XML editor for add new role-->
            <div
              ng-show="addingNewRoleMapping"
              style="width: 100%; margin-right: 10px">
              <!-- Save and cancel buttons -->
              <div
                layout="row"
                style="
                  width: calc(100% - 32px);
                  margin-right: auto;
                  margin-left: auto;
                "
                class="wz-align-center">
                <div class="flex wz-margin-bottom-10">
                  <span class="tSize16">Role mapping name</span>
                  <div>
                    <input
                      placeholder="New role mapping name..."
                      type="text"
                      flex
                      class="kuiLocalSearchInput ng-empty ng-pristine ng-scope ng-touched ng-valid wz-width-20"
                      aria-invalid="false"
                      ng-model="roleMappingName"
                      ng-change="enableSave()"
                      ng-disabled="editingRole" />
                  </div>
                </div>
              </div>
              <div
                layout="row"
                style="
                  width: calc(100% - 32px);
                  margin-right: auto;
                  margin-left: auto;
                "
                class="wz-align-center">
                <div class="flex wz-margin-bottom-10">
                  <span class="tSize16">Roles</span>
                  <div id="roles-dropdown-view"></div>
                </div>
              </div>
              <div
                layout="row"
                style="
                  width: calc(100% - 32px);
                  margin-right: auto;
                  margin-left: auto;
                "
                class="wz-align-center">
                <div class="flex wz-margin-bottom-10">
                  <span class="tSize20">
                    Mapping rules: Assign roles to users who match these rules.
                    <a
                      href="https://documentation.wazuh.com/current/user-manual/api/rbac/auth_context.html"
                      target="_blank"
                      rel="noopener noreferrer">
                      Learn more
                      <svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        xmlns="http://www.w3.org/2000/svg"
                        class="euiIcon euiIcon--small euiIcon-isLoaded euiLink__externalIcon"
                        focusable="false"
                        role="img"
                        aria-label="External link">
                        <path
                          d="M13 8.5a.5.5 0 111 0V12a2 2 0 01-2 2H4a2 2 0 01-2-2V4a2 2 0 012-2h3.5a.5.5 0 010 1H4a1 1 0 00-1 1v8a1 1 0 001 1h8a1 1 0 001-1V8.5zm-5.12.339a.5.5 0 11-.706-.707L13.305 2H10.5a.5.5 0 110-1H14a1 1 0 011 1v3.5a.5.5 0 11-1 0V2.72L7.88 8.838z"></path>
                      </svg>
                    </a>
                  </span>
                </div>
              </div>
              <div
                layout="row"
                style="
                  width: calc(100% - 32px);
                  margin-right: auto;
                  margin-left: auto;
                "
                class="wz-align-center">
                <div class="flex wz-margin-bottom-10">
                  <span class="tSize16">Map internal users</span>
                  <div id="splunk-users-dropdown-view"></div>
                </div>
              </div>
              <div
                layout="row"
                style="
                  width: calc(100% - 32px);
                  margin-right: auto;
                  margin-left: auto;
                "
                class="wz-align-center">
                <div class="flex wz-margin-bottom-10">
                  <span class="tSize16">Custom rules</span>
                  <div style="margin: 20px 0">
                    <wz-kbn-switch
                      switch-model="logicalOperator"
                      switch-change="toggleLogicalOperator(!logicalOperator)">
                    </wz-kbn-switch>
                    <span>All are true</span>
                  </div>
                  <div>
                    <input
                      placeholder="New role mapping name..."
                      type="text"
                      flex
                      class="kuiLocalSearchInput ng-empty customRoleMappingInput ng-pristine ng-scope ng-touched ng-valid wz-width-20"
                      aria-invalid="false"
                      ng-model="customField"
                      ng-change="enableSave()"
                      ng-disabled="editingRole" />
                    <select
                      ng-options="n for n in operators"
                      ng-model="selectedOperator"
                      ng-init="selectedOperator"
                      ng-change="onSelectorChange(selectedOperator)"
                      class="input input-dropdown conf-operator-selector wz-button-empty"
                      ng-disabled="editingRole"></select>
                    <input
                      placeholder="Custom value..."
                      type="text"
                      flex
                      class="kuiLocalSearchInput ng-empty ng-pristine customRoleMappingInput ng-scope ng-touched ng-valid wz-width-20"
                      aria-invalid="false"
                      ng-model="customValue"
                      ng-disabled="editingRole" />
                    <span
                      ng-show="addingNewRoleMapping"
                      ng-click="addNewCustomRule()"
                      ng-disabled="!customValue"
                      class="wz-color-text cursor-pointer link-table">
                      <wz-svg icon="plus"></wz-svg>
                      Add new rule
                    </span>
                  </div>
                  <div class="new-custom-rule-container wz-margin-bottom-10">
                    <table ng-if="customRules.length != 0">
                      <tr>
                        <th>User Field</th>
                        <th>Operation</th>
                        <th>Value</th>
                        <th></th>
                      </tr>
                      <tr ng-repeat="rule in customRules track by $index">
                        <td><span>{{rule.user_field}}</span></td>
                        <td><span>{{rule.searchOperation}}</span></td>
                        <td><span>{{rule.value}}</span></td>
                        <td>
                          <span>
                            <button
                              class="delete-button-icon"
                              ng-click="removeRule($index)"
                              ng-disabled="editingRole">
                              <svg
                                width="16"
                                height="16"
                                viewBox="0 0 16 16"
                                xmlns="http://www.w3.org/2000/svg"
                                class="euiIcon euiIcon--medium euiButtonIcon__icon"
                                focusable="false"
                                role="img"
                                aria-hidden="true">
                                <path
                                  d="M11 3h5v1H0V3h5V1a1 1 0 011-1h4a1 1 0 011 1v2zm-7.056 8H7v1H4.1l.392 2.519c.042.269.254.458.493.458h6.03c.239 0 .451-.189.493-.458l1.498-9.576H14l-1.504 9.73c-.116.747-.74 1.304-1.481 1.304h-6.03c-.741 0-1.365-.557-1.481-1.304l-1.511-9.73H9V5.95H3.157L3.476 8H8v1H3.632l.312 2zM6 3h4V1H6v2z"></path>
                              </svg>
                            </button>
                          </span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div
                layout="row"
                style="
                  width: calc(100% - 32px);
                  margin-right: auto;
                  margin-left: auto;
                "
                class="wz-align-center">
                <div class="flex wz-margin-bottom-10">
                  <span
                    ng-click="openJsonEditor()"
                    class="wz-color-text cursor-pointer link-table">
                    <span ng-show="!isOpenJsonEditor">Open JSON editor</span>
                    <span ng-show="isOpenJsonEditor">Close JSON editor</span>
                  </span>
                  <div class="wzJsonXmlEditorBody" ng-show="isOpenJsonEditor">
                    <textarea id="viewer_json_box"></textarea>
                  </div>
                </div>
              </div>
              <div
                layout="row"
                style="
                  width: calc(100% - 32px);
                  margin-right: auto;
                  margin-left: auto;
                  justify-content: flex-end;
                "
                class="wz-align-center wz-margin-bottom-10">
                <!-- Save and cancel buttons -->
                <div>
                  <span>
                    <button
                      class="btn wz-button-cancel"
                      ng-click="cancelRoleMappingEdition()">
                      Cancel
                    </button>
                    <button
                      class="btn wz-button-empty pull-right wz-margin-left-10"
                      ng-click="saveRoleMapping()"
                      ng-disabled="saveIncomplete || overwrite || !roleMappingName"
                      ng-if="canUpdateRule(ruleId)">
                      <i
                        ng-class="{'fa fa-fw fa-spin fa-spinner': saveIncomplete, 'fa fa-fw fa-save': !saveIncomplete}"
                        aria-hidden="true">
                      </i>
                      Save
                    </button>
                  </span>
                </div>
              </div>
              <!-- End save and cancel buttons-->
            </div>
            <div
              ng-show="!addingNewRoleMapping"
              style="width: 100%; display: flex; align-items: flex-start">
              <label class="wz-icon-loupe">
                <input
                  placeholder="Filter roles mapping..."
                  ng-model="customSearch"
                  type="text"
                  flex
                  class="kuiLocalSearchInput height-40"
                  aria-invalid="false"
                  wz-enter="search(customSearch)" />
              </label>
              <button
                ng-click="search(customSearch)"
                class="btn height-40 agreeBtn pull-right wz-margin-left-7"
                style="max-height: 40px !important">
                <span>
                  <i
                    aria-hidden="true"
                    class="fa fa-fw fa-search wz-margin-left-10">
                    &nbsp;
                  </i>
                  Search
                </span>
              </button>
            </div>
          </div>
        </div>
      </md-card-actions>
      <md-card-contents ng-if="!addingNewRoleMapping">
        <div layout="row" layout-padding>
          <wazuh-table
            custom-columns="true"
            flex
            extra-limit="100"
            path="'/security/rules'"
            keys="[
                  'id',
                  'name',
                  { value: 'roles', nosortable: true },
                ]"
            allow-click="true"
            row-sizes="[20,15,10]">
          </wazuh-table>
        </div>
      </md-card-contents>
    </md-card>
  </div>
</div>
