<md-content flex layout="column" layout-align="start">
  <div layout="row" class="layout-row layout-align-end">
    <div class='wz-margin-left-10 wz-margin-top-12'>
      <span class="wz-text-link cursor-pointer" ui-sref='overview'>Overview</span>
      <span> / Policy monitoring </span>
    </div>
    <div flex></div>
    <div style="margin-right:7px;" id='input1'></div>
  </div>
  <div layout="row" layout-align="center stretch" class="height-290">
    <md-card flex="50" class="wz-md-card">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Events over time</span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='elementOverTime'></div>
      </md-card-content>
    </md-card>

    <md-card flex="25" class="wz-md-card">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Top 5 CIS Requirements</span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='cisRequirements'></div>
      </md-card-content>
    </md-card>

    <md-card flex="25" class="wz-md-card">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Top 5 PCI DSS Requirements</span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='topPciDss'></div>
      </md-card-content>
    </md-card>
  </div>

  <div layout="row" layout-align="center stretch" class="height-240">
    <md-card flex class="wz-md-card">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Events per agent evolution</span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='eventsPerAgent'></div>
      </md-card-content>
    </md-card>
  </div>

  <div layout="row" layout-align="center stretch" class="height-570">
    <md-card flex class="wz-md-card">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Alerts summary</span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='alertsSummary'></div>
      </md-card-content>
    </md-card>
  </div>

</md-content>