<md-content flex layout="column" layout-align="start">
  <!-- Breadcrumbs -->
  <div layout="row" layout-padding>
    <!-- If you're not on the Welcome tab, show a functional breadcrumb -->
    <div>
      <a class="wz-text-link cursor-pointer" ui-sref='agents'>Agents</a>
      <span> / </span>
      <span ui-sref='agent-overview({id:apm.agent.id})' class="wz-text-link cursor-pointer">{{apm.agent.name}} ({{apm.agent.id}})</span>
      <span> / </span>
      <span>Policy monitoring</span>
    </div>
    <div ng-if="apm.agent.status">
      <span class="wz-agent-status-indicator small" ng-class="apm.getAgentStatusClass(apm.agent.status)" aria-label="Agent status indicator">{{apm.formatAgentStatus(apm.agent.status)}}</span>
    </div>
    <div flex></div>
    <div style="margin-right:7px;" id='input1'></div>
  </div>

  <!-- Filter bar -->

  <wazuh-bar></wazuh-bar>
  <!-- first row  -->

  <div layout="row" layout-align="center stretch" class="height-290">
    <md-card flex="50" class="wz-md-card">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Events over time</span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='elementOverTime'></div>
      </md-card-content>
    </md-card>

    <md-card flex="25" class="wz-md-card">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Top 5 CIS Requirements</span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='cisRequirements'></div>
      </md-card-content>
    </md-card>

    <md-card flex="25" class="wz-md-card">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Top 5 PCI DSS Requirements</span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='topPciDss'></div>
      </md-card-content>
    </md-card>
  </div>

  <div layout="row" layout-align="center stretch" class="height-240">
    <md-card flex class="wz-md-card">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Events per agent evolution</span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='eventsPerAgent'></div>
      </md-card-content>
    </md-card>
  </div>

  <div layout="row" layout-align="center stretch" class="height-570">
    <md-card flex class="wz-md-card">
      <md-card-content class="wazuh-column">
        <span class="wz-headline-title">Alerts summary</span>
        <md-divider class="wz-margin-top-10"></md-divider>
        <div id='alertsSummary'></div>
      </md-card-content>
    </md-card>
  </div>

</md-content>