<div id="API" class="wz-margin-10">

  <div class="wz-dashboard-cell wz-dashboard-panel-table">
    <div class="fieldset">

      <div class="input input-text">
        <label>URL*</label>
        <input placeholder="http(s)://" type="text" id='credentialUrlInput'>
      </div>
      <div class="input input-text">
        <label>Port*</label>
        <input type="text" id='credentialPortInput'>

      </div>
      <div class="input input-text">
        <label>Username*</label>
        <input type="text" id='credentialUserInput'>

      </div>
      <div class="input input-text">
        <label>Password*</label>
        <input type="password" id='credentialPassInput'>

      </div>
      <div class="form-submit">
        <button class="btn btn-primary submit" id='submitApiForm'>Submit</button>
        <button class="btn btn-primary submit" id='removeAll'>Remove all</button>
      </div>
    </div>
  </div>
  <div ng-show='sac.visibleTable' id="row1" class="wz-dashboard-cell wz-dashboard-panel-table wz-margin-top-10">
    <md-table-container>
      <table md-table="md-table" md-row-select="true" multiple="true" ng-model="sac.selectedApi">
        <thead md-head="md-head" md-order="sac.query.order">
          <th md-column="" md-order-by="username">id</th>
          <th md-column="" md-order-by="nombre">ip</th>
        </thead>
        <tbody md-body="md-body">
          <tr md-row="" md-select="api" ng-repeat="api in sac.apiList">
            <td md-cell="">{{api.id}}</td>
            <td md-cell="">{{api.ip}}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
  </div>

</div>