<div id="API" class="wz-margin-10" ng-controller='settingsApiCtrl'>

  <div class="wz-dashboard-cell wz-dashboard-panel-table">
    <div class="fieldset">

      <div class="input input-text">
        <label>URL*</label>
        <input placeholder="http(s)://" type="text" id='credentialUrlInput'>
      </div>
      <div class="input input-text">
        <label>Port*</label>
        <input type="text" id='credentialPortInput'>

      </div>
      <div class="input input-text">
        <label>Username*</label>
        <input type="text" id='credentialUserInput'>

      </div>
      <div class="input input-text">
        <label>Password*</label>
        <input type="password" id='credentialPassInput'>

      </div>
      <div class="form-submit">
        <button class="btn btn-primary submit" id='submitApiForm'>Submit</button>
        <button class="btn btn-primary submit" id='removeAll'>Remove all</button>
      </div>
    </div>
  </div>
  <div id="row1" class="wz-dashboard-cell wz-dashboard-panel-table wz-margin-top-10">
    <div id='apiList'></div>
  </div>

</div>