<div layout="row" layout-align="start start" ng-controller='settingsIndexCtrl'>
  <md-card flex class="wz-md-card">
    <md-card-content>
      <i class="fa fa-fw fa-info-circle" aria-hidden="true"></i>
      <span class="wz-headline-title">Chose an index, so Wazuh can use it to retrieve data from indices for queries and visualizations.</span>
      <md-divider class="wz-margin-top-10"></md-divider>
      <div layout="column" class="wz-padding-top-10">
        <div class="input-dropdown" id="inputIndexes"></div>
      </div>
    </md-card-content>
  </md-card>
</div>