<div flex layout="column" ng-cloak ng-controller="settingsCtrl">

  <!-- Loading ring -->
  <div class='uil-ring-css' ng-show="loading">
    <div></div>
  </div>
  <!-- End loading ring -->
  <!-- Navigation bar -->
  <div ng-show="!loading">
    <md-nav-bar class="wz-nav-bar" md-selected-nav-item="tabName" nav-bar-aria-label="Settings navigation links">

      <md-nav-item class="wz-nav-item" ui-sref='settings.api' md-nav-click="switchTab('api')" name="api">API</md-nav-item>
      <md-nav-item class="wz-nav-item" ui-sref='settings.index' md-nav-click="switchTab('index')" name="index">Index</md-nav-item>
      <md-nav-item class="wz-nav-item" ui-sref='settings.about' md-nav-click="switchTab('about')" name="about">About</md-nav-item>
    </md-nav-bar>
    <!-- End navigation bar -->
    <div layout="column" layout-align="start stretch">
      <div ui-view></div>
    </div>
  </div>
</div>